@import "../mixin";
.info_box{
	width:100%;
	@include height-line(60px);
	background-color:#fff;
	border-top:1px solid $borderColor;
	li{
		float: left;
		font-size:$fontSize16;
		height:58px;
		padding:0 5px;
		margin-right:50px;
		cursor: pointer;
		a{
			display: inline-block;
			height:58px;
			color:$fontColor333;
		}
		a.on{
			color:$fontColor74;
			border-bottom: 2px solid #ff8e2a;
		}
		&:hover{
			a{
				color:$fontColor74;
			}
		}
	}
}