@import '../_mixin.scss';
.nav2{
	height:70px;
	border-bottom:1px solid #ddd;
	.max-width{
		.left{
			float:left;

		}
		.right{
			float:right;
			.tel{
                  float:left;
                  line-height:70px;
            }
            dl{
                float:left;
                dd{
                    float:left;
                    margin-left:8px;

                    position:relative;
                    a{
                      color:$fontColor9e;
                      &:hover{color:$mainColor;}
                    }
                    &.iconfont{
                          height:50px;
                          font-size:20px;
                          line-height:70px;
                    }
                    
                }
            }
		}
	}
}