/*
 * 商品库页面
 * @author yangcai@showjoy.com
 * @last 2014/12/15
 */

/*
  @remSwitch: true;
  @rootValue: 75;
  @unitPrecision: 4;
  @blackList: [];
  @minPixelValue: 2;
*/

@import "../../mixins/mixins.less";
@import "../../mixins/common/color.less";
@import "../../mixins/common/grid";
@import "../../mixins/common/animation-slide";

#layout {
  padding-top: 0;
}
#layout {
  height: 100% !important;
}
#content {
  padding-bottom: 0;
  height: 100%;
  padding-top: 396px;
}
.global-search {
  display: block;
}
.ui-toolbar-wrap {
  display: none;
}

.ui-dropmenu{
  z-index: 999;
}

.banner {
  width: 100%;
  height: 396px;
  position: relative;
  overflow: hidden;
  margin-top: -396px;
  .category-search {
    width: 100%;
    height: 96px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    .search-form {
      .clearfix();
      .search-icon {
        font-size: 34px;
        color: rgb(109,109,109);
        position: absolute;
        left: 60px;
        top: 55%;
        transform: translate3d(0, -50%, 0);
      }
      .search-input {
        width: 580px;
        height: 64px;
        background-color: rgba(255, 255, 255, 0.9);
        margin: 16px auto auto 26px;
        padding-left: 70px;
        border: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-size: 24px;
        float: left;
      }
      .search-text {
        color: @white;
        font-size: 36px;
      }
      .search-btn {
        border: none;
        vertical-align: middle;
        height: 64px;
        width: 120px;
        background-color: rgb(50, 50, 50);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-top: 16px;
        font-size: 28px;
        padding: 0;
        line-height: 64px;
        text-align: center;
        float: left;
      }
    }
  }

  .slider {
    .slider-wrap {
      width: 100%;
      height: 396px;
      .ui-slider-dots {        
        right: 16px;
        bottom: 120px;
        text-align: right;
        b {
          background-color: rgba(255, 255, 255, 0.5);
          border: 1px solid @grey3;
        }
        .ui-state-active {
          background-color: @white;
          border: 1px solid @grey3;
        }
      }
    }
  }
}

.page-card {
  width: 184px;
  // height: 165px;
  float: left;
  text-align: center;

  .card-img {
    width: 120px;
    height: 160px;
    margin: 30px auto 0;
    img {
      max-width: 100%;
    }
  }
  .card-title {
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    color: rgb(109, 109, 109);
  }
}

.autocomplete-result {
  top: 380px;
}
.clear-content {
  display: none;
  position: absolute;
  right: 140px;
  top: 14px;
  width: 60px;
  height: 60px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAAJ+fn6CgoJ6enqGhof39/dvb27y8vPe4uisAAAAEdFJOUwCCzUfHztREAAAAtklEQVQY02VRwQ3CMAwMEgMgwQSFBUAMQFsrWaBmglgs0OyPfW6rNPUj6sln3/UcgtWzo+4atrqRVb/CF3ndHZ5orQvwY8PDvu2Ed4XHHR0DRi9Zn/TFwFlfts/CM9EH48KZEjMWmLeohMITPGKd8A9tXQgcmdFW7ELibaIFF0gYBl+Xc67mte2EAXqmLSD08GPaEYTR/TIk4Nf+RyZ48AB0YYLU7AG1ebR5tXke8m7vcbhXfc8/LCdiY/TVbpMAAAAASUVORK5CYII=);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center
}


section.category {
  height: 100%;
  width: 100%;
  padding-bottom: 98px;
  .clearfix();
  .side-bar {
    width: 188px;
    height: 100%;
    background-color: rgb(245, 245, 245);
    float: left;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .item {
      height: 96px;
      width: 100%;
      border-bottom: 1px solid rgb(228, 228, 228);
      line-height: 95px;
      text-align: center;
      color: #000;
      font-size: 28px;
      &.active {
        background-color: #fff;
        color: rgb(248, 75, 100);
        border-bottom: 1px solid transparent;
      }
    }
  }
  .side-content {
    width: 560px;
    float: right;
    height: 100%;
    position: relative;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .item {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      visibility: hidden;
      transition: all 0.5s;
      opacity: 0;
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}