<div class="footer-nav">
	<div class="max-width">
		<div class="kf">
				<ol>
					<li>
						<dl>
							<dt>理财客服</dt>
							<dd>40085-666-85</dd>
						</dl>
					</li>
					<li class="dk">
						<dl>
							<dt>贷款咨询</dt>
							<dd>40085-777-85</dd>
						</dl>
					</li>
				</ol>
				<p>服务时间：周一至周日  9:00-20:30</p>
				<p>联系邮箱：tuodaojinfu@51tuodao.com</p>
				<a href=""><i class="iconfont">&#xe68a;</i>在线客服</a>
		</div>
		<div class="fnav">
			<dl>
				<dt>关于拓道</dt>
				<dd><a href="">拓道介绍</a></dd>
				<dd><a href="">团队介绍</a></dd>
				<dd><a href="">联系我们</a></dd>
				<dd><a href="">合作加盟</a></dd>
				<dd><a href="">加入我们</a></dd>
			</dl>
			<dl>
				<dt>产品服务</dt>
				<dd><a href="">安全保障</a></dd>
				<dd><a href="">法律顾问</a></dd>
				<dd><a href="">媒体报道</a></dd>
				<dd><a href="../encyclopedia.html">理财百科</a></dd>
			</dl>
			<dl>
				<dt>帮助中心</dt>
				<dd><a href="">新手入门</a></dd>
				<dd><a href="">常见问题</a></dd>
				<dd><a href="">邀请有礼</a></dd>
			</dl>
		</div>
		<div class="er-code">
			<div class="wx">
				<p>微信公众号</p>
				<img src="../../image/footer-wx.png">
			</div>
			<div class="app">
				<p>APP客户端</p>
				<img src="../../image/footer-app.png">
			</div>
		</div>
	</div>
</div>