<div class="info_box">
	<div class="max-width">
		<ul class="info_tab">
			<li>
				<a href="Info_aboutTd.html">关于拓道</a>
			</li>
			<li>
				<a href="Info_platData.html">平台数据</a>
			</li>
			<li>
				<a href="Info_lawfile.html">法律文件</a>
			</li>
			<li>
				<a href="Info_dangerMange.html">风险管理</a>
			</li>
			<li>
				<a href="">安全保障</a>
			</li>
			<li>
				<a href="news.html">新闻公告</a>
			</li>
			<li>
				<a href="Info_entity.html">合作门店</a>
			</li>
			<li>
				<a href="Info_contact.html">联系我们</a>
			</li>
			<li>
				<a href="Info_join.html">加入我们</a>
			</li>
		</ul>
	</div>
</div>