<div class="uc_menu">
	<div class="menu_top">
		<img src="../../image/uc_portrait.png">
		<p>您好！18639123456</p>
		<div class="icon">
			<ul>
				<li>
				<!-- 存管已开通 添加类名：high 文案：存管已开通-->
					<a href="###" class="iconfont">&#xe66d;</a>
					<div class="tips left-tips">点击立即开通存管</div>
				</li>
				<li>
					<a href="###" class="iconfont grade">&#xe6a1;</a>
					<div class="tips left-tips">会员等级V1</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="menu_bot">
		<ul>
			<li>
				<a href="###" class="menu_on">
					<i class="iconfont">&#xe67a;</i>
					账户总览
				</a>
			</li>
			<li>
				<a href="javascript:;" class="menu_list">
					<i class="iconfont">&#xe689;</i>
					资金管理
					<span class="iconfont">&#xe83d;</span>
				</a>
				<div class="menu_fund">
					<a href="###">账户充值</a>
					<a href="###">账户提现</a>
					<a href="###">资金记录</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="menu_list">
					<i class="iconfont">&#xe69b;</i>
					我的投资
					<span class="iconfont">&#xe83d;</span>
				</a>
				<div class="menu_fund">
					<a href="###">精选计划</a>
					<a href="###">散标项目</a>
					<a href="###">债权装让</a>
					<a href="###">自动投标</a>
					<a href="###">回款日历</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="menu_list">
					<i class="iconfont">&#xe676;</i>
					我的福利
					<span class="iconfont">&#xe83d;</span>
				</a>
				<div class="menu_fund">
					<a href="###">我的优惠券</a>
					<a href="###">积分和金币</a>
					<a href="###">我的邀请 &nbsp;&nbsp;</a>
				</div>
			</li>
			<li>
				<a href="###">
					<i class="iconfont">&#xe678;</i>
					消息中心
					<em>99+</em>
				</a>
			</li>
			<li>
				<a href="###">
					<i class="iconfont">&#xe685;</i>
					我的订单
				</a>
			</li>
			<li>
				<a href="###">
					<i class="iconfont">&#xe683;</i>
					账户设置
				</a>
			</li>
			<li class="uc_old">
				<a href="###">
					查看老账户 >
				</a>
			</li>
		</ul>
	</div>
</div>