@import "../../page/common/mixin";
b,i,em{
	font-weight: normal;
	font-style: normal;
	font-family: 微软雅黑;
}
.dis_none{
	display:none;
}
.invest_top{
	width:100%;
	@include height-line(60px);
	background-color:#fff;
	border-top:1px solid $borderColor;
	li{
		float: left;
		font-size:$fontSize16;
		height:58px;
		padding:0 10px;
		margin-right:80px;
		cursor: pointer;
		a{
			display: inline-block;
			height:58px;
			color:$fontColor333;
		}
		a.on{
			color:$fontColor74;
			border-bottom: 2px solid #ff8e2a;
		}
		&:hover{
			a{
				color:$fontColor74;	
			}
		}
	}
	
}
.clearing{
	font-size:$fontSize14;
	color:$fontColorab;
	margin:20px 0 -10px 0;
	p{
		line-height:20px;
	}
	i{
		color:$fontColor74;
		margin-right: 10px;
		font-size: $fontSize20;

	}
}
.detail_top{
	input{
		outline: 0;
		font-family: "微软雅黑";
		font-size: $fontSize14;
	}
	margin:30px 0;
	@extend %clearfix;
	.detail_top_left{
		width:810px;
		height:410px;
		background-color:#fff;
		float: left;
		.title{
			@include height-line(49px);
			font-size:$fontSize16;
			color:$fontColor333;
			padding:0 30px;
			border-bottom:1px solid #e5e5e5;
			p{
				float:left;
			}
			img{
				margin-left:10px;
			}
			a{
				color:$fontColor74;
				font-size:$fontSize12;
				margin-left:10px;
			}
			span{
				float: right;
				color:$fontColorab;
				font-size:$fontSize12;
			}
			.type{
				float:left;
				position: relative;
			    margin-left: 10px;
			    padding-right: 10px;
			    .tips{
					left:85px;
					top:12px;
				}
			    &:hover{
					.tips{
						display: block;
					}
				}

			}
		}
		.major{
			@extend %clearfix;
			margin-top:85px;
			padding:0 30px;
			dl{
				float: left;
				text-align: left;
				dt{
					color:$fontColor70;
					font-size:$fontSize20;	
					@include height-line(45px);				
				}
				dd{
					color:$fontColor9e;
					font-size:$fontSize12;
				}
			}
			.expect{
				width:210px;
				dt{
					color:$fontColor74;
					.borrowApr{
						font-size:30px;
					}
				}
			}
			.date{
				width:170px;
			}
			.summoney{
				width:250px;
			}
			.bars{
				width:100px;
			}
			.progress{
				height: 15px;
				padding-top:15px;
				.progress_wrapper{
					width: 100%;
					float: left;
					height: 5px;
					background-color: #eeeeee;
					margin-top: 5px;
					border-radius: 5px;
					.bar{
						border-radius: 5px;
						height:100%;
						background-color:$mainColor;
					}
				}
					
			}
		}
		.intro{
			@extend %clearfix;
			padding:0 30px;
			ul{
				float: left;
				width:100%;
				margin-top:90px;
			}
			li{
				width:35%;
				float:left;
				color:$fontColor9e;
				font-size:$fontSize14;
				@include height-line(30px);
				text-align: left;
				span{
					color:$fontColor70;
					font-size:$fontSize14;
				}
				.hint{
					display: inline-block;
					margin-left:5px;
					position: relative;
					i{
						color:$fontColor70;
						cursor: pointer;
					}
					&:hover{
						i{
							color:$fontColor74;
						}
						.tips{
							display: block;
						}
					}
				}
				
			}
			.alli{
				width:28%;
			}
			.assure_ul{
				width:80%;
				margin-top:70px;
				li{
					width:50%;
				}
				.sca{
					.tips{
						padding:3px 10px;
						top:-10px;
					}
				}
			}
			.ancun{
				float: left;
				width:85px;
				height:90px;
				margin:70px 30px 0;
				background:url(../../image/ancun.png) no-repeat;
			}
		}
		.tips {
			line-height: 20px;
			border: 1px solid #e5e5e5;
			border-radius: 5px;
			padding: 0 10px;
			position: absolute;
			background-color: #fff;
			left: 25px;
			top: 5px;
			color: #9e9e9e;
			font-size: 12px;
			white-space: nowrap;
			z-index: 9;
			display: none;
			span{
				width: 0;
				height: 0;
				font-size: 0;
				overflow: hidden;
				position: absolute;
			}
			.bot {
				border-width: 5px 6px;
				border-style: solid;
				border-color: transparent #e5e5e5 transparent transparent;
				top: 50%;
				left: -12px;
				margin-top: -5px;
			}
			.bot2 {
				border-width: 5px 6px;
				border-style: solid;
				border-color: transparent #fff transparent transparent;
				top: 50%;
				left: -10px;
				margin-top: -5px;
			}
		}

	}
	.detail_top_right{
		float: left;
		width:300px;
		height:410px;
		background-color:#fff;
		margin-left:10px;
		padding:0 30px;
	}
	.investting{
		@extend %clearfix;
		color:$fontColor9e;
		.fl{
			float:left;
		}
		.fr{
			float: right;
		}
		.current_money {
			@extend %clearfix;
			height:58px;
			margin-top:20px;
			font-size:$fontSize14;
			color: #a3a3a3;
			b{
				font-size:$fontSize20;
				color:$fontColor333;
				float: left;
				i{
					font-size: $fontSize12;
				}
			}
			
			a{
				float: right;
				display: block;
				width: 60px;
				@include height-line(30px);
				@include border-style($b-color:$fontColor74,$b-radius:16px);
				color: $fontColor74;
				text-align: center;
				margin-top: 0px;
				&:hover{
					background-color:$fontColor74;
					color:#fff;
				}
			}
		}
		.cur_money{
			.money{
				float: left;
				margin-left:5px;
			}
			p{
				line-height: 36px;
				float: left;
			}
			a{
				margin-left:60px;
			}
			.mess{
				float: left;
				display: block;
				width:95%;
				padding-left:5%;
				@include height-line(30px);
				background-color:#f2f2f2;
				border-radius: 3px;
				font-size:$fontSize12;
				color: #e82030;
				i{
					margin-right:3px;
				}
			}
		}
		.com_styl{
			width:298px;
			@include height-line(38px);
			margin-top:10px;
			cursor: pointer;
			position:relative;
			@extend %clearfix;
			input::-ms-input-placeholder{color:#9e9e9e}
			input::-webkit-input-placeholder{color:#9e9e9e}
			input::-moz-placeholder{color:#9e9e9e}
			input::-ms-clear{display:none;}
			input{
				float: left;
				padding-left:10px;
				width:223px;
				@include height-line(38px);
				background-color:#fff;
				color:$fontColor333;
				padding-right:65px;
				@include border-style($b-radius:3px);
			}
			div{
				position: absolute;
				right:0;
				top:1px;
				width: 65px;
				height:36px;
				font-size:$fontSize14;
				text-align: right;
				color: $fontColor70;
				background-color:#fff;
				z-index:9;			
				a{
					color: $fontColor70;
				}
			}
			.inp_disc{
				color:$fontColor9e;
				&:hover{
					border-color:#707070;
				}
			}
			.no_ticket{
				background-color:#f2f2f2;
			}
			.btn_empty{
				position:absolute;
				right:66px;
				top:10px;
				line-height: 18px;
				z-index: 99;
				display: none;
				&:hover{
					color:$fontColor74;
				}
			}
			.in_span{
				position:absolute;
				bottom:-31px;
				left:0;
				display: block;
				width:96%;
				padding-left:5%;
				@include height-line(30px);
				background-color:#f2f2f2;
				border-radius: 3px;
				font-size:$fontSize12;
				color: #e82030;
				z-index: 99999;
				i{
					margin-right:3px;
				}
			}
			.appoint_psw{
				margin-top:10px;
			}
		}
		.com_sty{
			border-color:#ff8722;
			&:hover{
				border-color:#ff8722;
			}
		}
		.predict{
			color: #666;
			font-size:$fontSize14;
			margin-top:10px;
		}		
		.input_sub {
			width: 100%;
			margin-top:5px;
			input{
				cursor: pointer;
				width: 100%;
				height: 40px;
				color: #fff!important;
				border-radius: 20px;
				border:0;
			}
			.sub_btn{
				background: $fontColor74;
				&:hover{
					background-color:#f25d14;
				}
			}
			.no_btn{
				background-color:$fontColor9e;
			}
			div{
				text-align: center;
				width:100%;
				@include height-line(40px);
				background-color:$fontColor9e;
				border-radius: 20px;
				color: #fff;

			}
			.login_a{
				background-color:$fontColor74;
				margin:70px 0 25px 0;
				a{
					display: inline-block;
					width:100%;
					height:100%;
					color:#fff;
				}
			}
		}
		.app_invest{
			text-align: center;
			margin:20px 0;
			.ewm{
				margin:0 auto;
				width:182px;
				height:182px;
			}
			p{
				font-size:$fontSize16;
				color: $fontColor70;
				line-height: 32px;
			}
			b{
				font-size:$fontSize14;
			}
		}
		.agreement{
			color: $fontColorab;
			font-size:$fontSize12;
			margin-top:8px;
			input{
				margin-right: 5px;
				vertical-align: middle;
			}
			label{
				a{
					color:#6686c8;
				}
			}
			.hinta{
				color: $fontColorab;
				text-align: center;
				display: inline-block;
				margin: 5px 0 0 80px;
				&:hover{
					color:$fontColor74;
				}
			}
		}
		.login_btn{
			margin:80px 0 20px 0;
			a{
				color:$fontColor74;
			}
		}
	}
	.finish{
		margin-top:70px;
	}
	.finish_sum {
		font-size:$fontSize14;
		text-align: center;
		p{
			color:$fontColor9e;
			margin-bottom:10px;
		}
		b{
			color:$fontColor333;
			font-size:24px;
		}
		a{
			color: $fontColor74;
			display: block;
			margin-top:25px;
		}
	}
	.ranking{
		margin-top:65px;
		p{
			color:$fontColor9e;
			font-size:$fontSize14;
			line-height: 20px;
			em{
				margin-right: 5px;
				font-size:18px;
			}
		}
	}
	.finish_auto{
		margin-top:30px;
		text-align: center;
		color:#888;
		font-size:$fontSize14;
		a{
			color:$fontColor74;
		}
	}
	.shift{
		text-align: center;
		margin-top: 115px;
		p{
			font-size:$fontSize16;
			color:$fontColor333;
			margin-bottom: 5px
		}
		a{
			font-size:$fontSize14;
			color:$fontColor74;
		}
		span{
			margin-top:35px;
			display: inline-block;
			width:80px;
			height:98px;
			background:url(../../image/shift_bg.png) no-repeat;
		}
	}
}
.detail_bot{
	background-color:#fff;
	.detail_tab{
		height:50px;
		border-bottom:1px solid #e5e5e5;
		ul{
			@extend %clearfix;
		}
		li{
			float: left;
			padding:0 30px;
			a{
				display: inline-block;
				padding:0 2px;
				margin-right:37px;
				color:$fontColor333;
				font-size:$fontSize16;
				@include height-line(48px);
				span{
					color:$fontColor74;
				}
			}
			.on{
				color:$fontColor74;
				border-bottom:2px solid $fontColor74;
			}
		}
	}
	.detail_con{
		margin-bottom:50px;
		.details{
			padding:0 50px 50px;
		
			.details_a{
				@extend %clearfix;
				.a_top{
					@extend %clearfix;
					margin:95px 0 80px 0;
					div{
						float:left;
						margin-right:32px;
					}
					dl{
						padding:0 60px;
						height:45px;
					}
					.font{
						font-size:18px;
					}
					dd{
						font-size:$fontSize14;
					}
					dt{
						width:42px;
						height:42px;
						float: left;
						margin:3px 30px 0 0;
					}
					.a_topl{
						width:305px;
						dt{
							background: url(../../image/ease.png) no-repeat;
						}
					}
					.a_topc{
						width:390px;
						dt{
							background: url(../../image/safety.png) no-repeat;
						}
					}
					.a_topr{
						width:320px;
						margin-right:0;
						dt{
							background: url(../../image/effi.png) no-repeat;
						}
					}
				}
				.a_con{
					padding:0;
					h3{
						font-size:$fontSize16;
						display:block;
					}
					p{
						margin-left:0;
					}
				}
				.a_bot{
					margin-top:30px;
					h3{
						font-weight: normal;
						color:$fontColor333;
						font-size:$fontSize16;
					}
					table{
						margin-top:20px;
						border-spacing: 0;
						border-collapse: collapse;
						width:100%;
						@include height-line(48px);
						color:$fontColor9e;
						th{
							background-color:#f8f8f8;
							@include border-style();
							font-weight: normal;
						}
						td{
							@include border-style();
							padding-left:25px;
						}
					}
				}
			}
			.details_b{
				padding:0;
				@extend %clearfix;
				div{
					margin-top:30px;
				}
				ul{
					@extend %clearfix;
				}
				p{
					margin-left:0;
				}
				li{
					float: left;
					width:250px;
					margin-top:10px;
					p{
						width:100%;
					}
				}
			}
			.details_c{
				padding:0;
				margin-bottom: 20px;
				p{
					margin-left:0;
					span{
						height:10px;
					}
				}
				h3{
					font-size:$fontSize16;
				}
				div{
					margin-top:20px;
				}
				ul{
					@extend %clearfix;
				}
				li{
					float:left;
					@include height-line(38px);
				}
				span{
					display: inline-block;
					height:38px;
					float: left;
				}
				i{
					display: inline-block;
					width:38px;
					height:9px;
					float: left;
					margin: 15px 0 0 40px;
				}
				b{
					float: left;
					margin-left:10px;
				}
				.li_a{
					width:265px;

				}
				.li_b{
					width:240px;
				}
				.li_c{
					width:200px;
				}
				.li_d{
					width:195px;
				}
				.a{
					width:39px;
					background: url(../../image/creditor_a.png) no-repeat;
				}
				.b{
					width:40px;
					background: url(../../image/creditor_b.png) no-repeat;
				}
				.c{
					width:41px;
					background: url(../../image/creditor_c.png) no-repeat;
				}
				.d{
					width:45px;
					background: url(../../image/creditor_d.png) no-repeat;
				}
				.e{
					background: url(../../image/arrows_a.png) no-repeat;
				}
				.f{
					background: url(../../image/arrows_b.png) no-repeat;
				}
				.g{
					background: url(../../image/arrows_c.png) no-repeat;
				}

			}
		}
		.audit{
			@extend %clearfix;
			padding:0 10px 10px 30px;
			li{
				float: left;
				width:360px;
				height:215px;
				margin:0 20px 20px 0;
				overflow: hidden;
				position:relative;
				img{
					width:100%;
					height:100%;
				}
				p{
					position: absolute;
					left: 0;
					bottom: 0;
					width:100%;
					line-height:25px;
					text-align:center;
					color:#fff;
					background-color: rgba(0,0,0,0.3);
					filter:alpha(opacity=30);
				}
				.magnify{
					position: absolute;
					right:15px;
					bottom:35px;
					width:21px;
					height:23px;
					display: none;
					background:url(../../image/magnify.png) no-repeat;
				}
				&:hover{
					.magnify{
						display: block;
					}
				}
			}
		}
		.oDiv{
			padding:0 50px 25px;
			li{
				margin-top:20px;
			}
			span{
				color:$fontColor9e;
				font-size:$fontSize20;
				margin-right:10px;

			}
			h3{
				@include height-line(32px);
				color:$fontColor333;
				display: inline-block;
				font-size:$fontSize14;
				font-weight: normal;
			}
			p{
				width:950px;
				line-height: 26px;
				color:$fontColor9e;
				margin-left:20px;
				font-size:$fontSize12;

			}
		}
		.safety{
			li{
				h3{
					display: block;
				}
				p{
					margin-left:0;
				}
				span{
					float:left;
				}
			}

		}
		.con_record{
			@extend %clearfix;
			padding:0 50px;
			table{
				width:100%;
				margin:20px 0 30px 0;
				border-spacing: 0;
				border-collapse: collapse;
				font-size:$fontSize14;
				tr{
					width:100%;
					@include height-line(50px);
				}
				th{
					color:$fontColor70;
					text-align: center;
					font-weight: normal;
				}
				td{
					color:$fontColor9e;
					text-align: center;
					i{
						position:absolute;
					}
				}
				.trColor{
					background-color:$bgColorfb;
				}
				.phone{
					position:relative;
					width:10%;
					.l{
						left:70px;
					}
					.r0{
						display: none;
					}
					.r1{
						right:70px;
					}
					.r2{
						display: none;
					}
				}
				.money{
					width:20%;
				}
				.date{
					width:10%;
				}
				.li_color{
					background-color:#fbfbfb;
				}
			}
		}
	}
}
.hint_show{
	width:560px;
	height:305px;
	background-color:#fff;
	.txt{
		@include height-line(50px);
		background-color:#fff;
		border-bottom: 1px solid #ededed;
		font-size:$fontSize16;
		color:$fontColor333;
		padding:0 18px ;
		.ltxt{
			float: left;
		}
		.rclose{
			float: right;
			color:#bbb;
			font-size:24px;
			cursor: pointer;
			&:hover{
				color:#ff7f14;
			}
		}
	}
	.show_com{
		width:100%;
		text-align: center;
		overflow: hidden;
		.icon{
			margin:30px auto 0;
		}
		p{
			margin-top:15px;
			font-size:$fontSize16;
			color:$fontColor333;
		}
		b{
			margin-top:20px;
			display: block;
			font-size:$fontSize14;
			color:$fontColorab;
			a{
				color:$fontColor74;
			}
		}
		span{
			display: block;
			width:250px;
			@include height-line(40px);
			text-align:center;
			color:#fff;
			background-color:$fontColor74;
			border-radius: 20px;
			margin:15px auto 0;
			cursor: pointer;
		}
	}
	.succeed{
		.icon{
			width:115px;
			height:96px;
			background:url(../../image/end.png) no-repeat;
		}
	}
	.failed{
		.icon{
			width:116px;
			height:106px;
			background:url(../../image/fail.png) no-repeat;
		}
	}
	.bank{
		.icon{
			margin:50px auto 0;
			width:269px;
			height:63px;
			background:url(../../image/bgbank.png) no-repeat;
		}
		p{
			color:#e41f20;
		}
		span{
			a{
				display: inline-block;
				width:100%;
				height:100%;
				color:#fff;
			}
		}
	}
	.hint {
		    display: inline-block;
		    margin-left: 5px;
		    position: relative;
		    i{
				color: #707070;
				cursor: pointer;
				&:hover{
					color:$fontColor74;
				}
		    }
		    .tips{
		    	width:216px;
		    	height:100px;
		    	@include border-style($b-radius:5px);
				line-height: 20px;
				padding: 5px 10px;
				position: absolute;
				background-color: #fff;
				left: -117px;
				top: 39px;
				color: #9e9e9e;
				font-size: 12px;
				z-index: 9;
				display: none;
				overflow: hidden;
				white-space:normal;
				span{
					width: 0;
					height: 0;
					font-size: 0;
					overflow: hidden;
					position: absolute;
				}
				.bot{
					border-width: 5px 6px;
					border-style: solid;
					border-color: transparent transparent #e5e5e5 transparent;
					top: -5px;
					left: 50%;
					margin-top: -5px;
				}
				.bot2{
					border-width: 5px 6px;
					border-style: solid;
					border-color: transparent transparent #fff transparent;
					top: -4px;
					left: 50%;
					margin-top: -5px;
				}
		    }
		    &:hover{
				.tips{
					display:block;
				}
			}
		}
}
.succeed_show{
	div.layui-layer-content{
		overflow: hidden;
	}
}
.discount_show{
	width:635px;
	height:485px;
	background-color:#fff;
	.discount_con{
		.discount_txt{
			font-size:$fontSize12;
			color:$fontColor9e;
			line-height:40px;
			padding:0 20px;
			i{
				color:$fontColor74;
				margin-right:10px;
			}
		}
		ul{
			height:305px;
			overflow-y:auto;
			li{
				margin-bottom:20px;
				overflow: hidden;
				float: left;
				margin-left:20px;
				width:245px;
				height:160px;
				padding-left:35px;
				position:relative;
				cursor: pointer;
				p{
					color:#fff;
					font-size:$fontSize12;
					@include height-line(20px);
				}
				.p_txt{
						@include height-line(80px);
						font-size:22px;
					span{
						font-size:30px;
					}
				}
				.select_b{
					position:absolute;
					right:25px;
					bottom:12px;
					display: inline-block;
					width:27px;
					height:27px;
					border-radius: 50%;
					background:url(../../image/yhq_select.png) no-repeat;
				}
			}
			.coupon1{
				background:url(../../image/dyq.png) no-repeat;
			}
			.coupon2{
				background:url(../../image/jxq.png) no-repeat;
			}
			.yhq_no{
				background:url(../../image/yhq_no.png) no-repeat;
			}
		}
		.discount_bot{
			@include height-line(80px);
			text-align: center;
			span{
				display: inline-block;
				width:90px;
				@include height-line(30px);
				@include border-style($b-radius:20px);
				color:$fontColor9e;
				cursor: pointer;
			}
			.yes{
				background-color:$fontColor9e;
				color:#fff;
			}
			.add_quan{
				background-color:$fontColor74;
			}
			.iskonw{
				background-color:$fontColor74;
				color:#fff;
			}
		}
	}
}
