@import "../mixin";
.footer{
	@extend %clearfix;
	background:#fff;
	&.footer2{background:none}
	.max-width{
		@extend %clearfix;
		padding:20px 0;
		border-top:1px solid #ddd;
		dl{
			@extend %clearfix;
			dd{
				float:left;
				margin-right:20px;
			}
		}
		div{
			color:$fontColor9e;
			margin-top:10px;
		}
	}
}