@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot');
  src: url('iconfont.eot') format('embedded-opentype'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype'),
       url('iconfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before { content: "\e600"; }
.icon-music:before { content: "\e601"; }
.icon-qq:before { content: "\e602"; }
.icon-unfold:before { content: "\e603"; padding-left: 150px;}
.icon-back:before { content: "\e623"; }
.icon-myfill:before { content: "\e604"; }
.icon-right:before { content: "\e624"; }
.icon-mima:before { content: "\e619"; }
.icon-cartfill:before { content: "\e605"; }
.icon-fold:before { content: "\e607"; }
.icon-22:before { content: "\e608"; }
.icon-infofill:before { content: "\e61c"; }
.icon-xiaoximailmian:before { content: "\e609"; }
.icon-menu:before { content: "\e60a"; }
.icon-circlepause:before { content: "\e625"; }
.icon-circleplay:before { content: "\e626"; }
.icon-searchlist:before { content: "\e60b"; }
.icon-douban:before { content: "\e60c"; }
.icon-renren:before { content: "\e60d"; }
.icon-xiangshang:before { content: "\e61e"; }
.icon-mobilefill:before { content: "\e61d"; }
.icon-fi32:before { content: "\e60e"; }
.icon-fangda:before { content: "\e616"; }
.icon-xiangshang1:before { content: "\e61f"; }
.icon-xiangxia:before { content: "\e620"; }
.icon-x:before { content: "\e606"; }
.icon-weibo:before { content: "\e627"; }
.icon-lianxizixun:before { content: "\e617"; }
.icon-xiangshangjiantou:before { content: "\e618"; }
.icon-2:before { content: "\e61a"; }
.icon-arrowright:before { content: "\e61b"; }
.icon-weibo1:before { content: "\e622"; }
.icon-weixinzhifu:before { content: "\e60f"; }
.icon-zhifubao:before { content: "\e610"; }
.icon-baiduqianbao:before { content: "\e611"; }
.icon-caifutong:before { content: "\e612"; }
.icon-kuaiqian:before { content: "\e613"; }
.icon-huodaofukuan:before { content: "\e614"; }
.icon-yinxingqiazhifu:before { content: "\e615"; }
.icon-xiangxia2:before { content: "\e621"; }

