@import "../../common/mixin";
.max-width{@extend %clearfix;}
.uc_main{
	margin: 30px 0 50px;
	@extend %clearfix;
	.uc_right{
		width:940px;
		float:left;
		margin-left: 20px;
		min-height: 915px;
	}
}
.dis_none{display: none}
.auto_switchTab{
	background-color: #fff;
	@include height-line(50px);
	border-bottom: 1px solid #f2f2f2;
	padding:0 30px;
	li{
		float: left;
		margin-right:55px;
		a{
			display: inline-block;
			padding:0 3px;
			width:100%;
			height:48px;
			font-size:$fontSize14;
			color:$fontColor333;
			&:hover{
				color:$fontColor74;
			}	
		}
		a.on{
			color:$fontColor74;
			border-bottom: 2px solid #ff7400;
		}
	}
	
}	
.auto_switchBtn{
	@include height-line(96px);
	font-size:$fontSize16;
	color:$fontColor70;
	padding:0 60px 0 30px;
	background-color: #fff;
	.auto_span{
		float: left;
	}
	#switch{
		float: left;
		display: inline-block;
		width: 56px;
		height: 30px;
		position: relative;
		border-radius: 20px;
		cursor: pointer;
		margin:32px 0 0 10px;
	}
	.switch {
		background: #fff;
		width: 26px;
		position: absolute;
		top:2px;
		height: 26px;
		border-radius: 20px;
		background-color: #fff;
	}
	.switch_off{
		background: #ddd;
		.switch{
			left:2px;
		}
	}
	.switch_on{
		background: #ff7400;
		.switch{
			right:2px;
		}
	}
	.auto_tips{
		float: right;
		span{
			color:$fontColor74;
		}
	}
	.auto_ranking{
		float: right;
		.now{
			color:$fontColor74;
		}
	}
}
.auto_setForm{
	height:330px;
	background-color:#fff;
	margin-top: 10px;
	.auto_setFormTit{
		@include height-line(50px);
		font-size:$fontSize14;
		color:$fontColor333;
		border-bottom: 1px solid #f2f2f2;
		padding-left: 30px;
	}
	.auto_setInp{
		@extend %clearfix;
		padding-top:30px;
		padding-left:265px;
		li{
			font-size:$fontSize14;
			color:$fontColor70;
			margin-top:8px;
			.line{
				color:#ddd;
				display: inline-block;
				margin:0 5px;
			}
			.select_com{
				width:120px;
				@include height-line(30px);
				border-radius: 5px;
				border:1px solid #ddd;
				display: inline-block;
				padding-left:10px;
				position: relative;
				font-size:$fontSize14;
				color:$fontColor333;
				i{
					float: right;
					line-height: 26px;
					color:$fontColor9e;
				}
				.option {
					width: 130px;
					height:195px;
					background-color:#fff;
					border: solid 1px #ddd;
					position: absolute;
					top: 31px;
					left: -1px;
					z-index: 2;
					overflow: hidden;
					display: block;
					border-radius: 5px;
					border-top:none;
					overflow-y:scroll;
					display: none;
					li{
						@include height-line(38px);
						border-bottom: 1px solid #ddd;
						padding-left:20px;
						cursor: pointer;
						color:$fontColor333;
					}
					li.on{
						background-color:#f2f2f2;
					}
				}
				.option::-webkit-scrollbar{
					width: 5px;
				}
				.option::-webkit-scrollbar-track{
					background-color: #f9f9f9;
					border-radius: 20px;

				}
				.option::-webkit-scrollbar-thumb{
					height:28px;
					background-color: #9e9e9e;
					border-radius: 20px;
				}
			}
			input{
				width:120px;
				@include height-line(30px);
				font-size:$fontSize14;
				color:$fontColor333;
				border:1px solid $borderColor;
				border-radius: 5px;
				padding-left:10px;
				outline: none;
				background-color:#fff;
			}			
		}
		.yhq{
			overflow: hidden;
			.yhq_com{
				display: inline-block;
				float: left;
			}
			p{
				display: inline-block;
				color:$fontColor333;
				line-height: 26px;
			}
        	.redios_inp{
				float: left;
				margin-left:5px;
				line-height:26px;
        		div{
        			display: inline-block;
        			cursor: pointer;
        			margin-right:30px;
        		}
        		.iconfont{
        			font-size:14px;
        			color:$fontColor9e;
        		}
        		.checked{
        			.iconfont{
        				color:$fontColor74;
        			}
        		}
        	}
		}
		.set_btn{
			a{
				display: inline-block;
				margin:25px 0 0 105px;
				width:200px;
				@include height-line(40px);
				text-align: center;
				color:$fontColor74;
				@include border-style($b-color:$mainColor,$b-radius:20px);
				&:hover{
					color:#fff;
					background-color:$mainColor;
				}
			}
		}
		.sub_btn{
			margin-top:25px;
			a{
				display: inline-block;
				width:110px;
				margin-right:20px;
				@include height-line(40px);
				text-align: center;
				color:$fontColor74;
				@include border-style($b-color:$mainColor,$b-radius:20px);
				&:hover{
					color:#fff;
					background-color:$mainColor;
				}
			}
			a.on{
				color:#fff;
				background-color:$mainColor;
				&:hover{
					background-color:#f25d14;
				}
			}
		}
	}
	.hint{
		display: inline-block;
		cursor: pointer;
		position: relative;
	}
	.auto_deposit{
		text-align: center;
		margin-top:60px;
		.auto_deposit_bg{
			width:363px;
			height:48px;
			margin:0 auto 10px;
			background:url(../../../image/popup.png) no-repeat;
		}
		p{
			font-size:$fontSize12;
			color:$fontColor333;
		}
		a{
			margin-top:30px;
			display: inline-block;
			@include height-line(40px);
			width:340px;
			background-color:$mainColor;
			color:#fff;
			border-radius: 20px;
			text-align: center;
		}
	}
}


.auto_rules{
	height:1075px;
	background-color:#fff;
	margin-top:10px;
	.auto_rulesTit{
		@include height-line(50px);
		font-size:$fontSize14;
		color:$fontColor333;
		border-bottom: 1px solid #f2f2f2;
		padding-left: 30px;
	}
	.auto_ruleCom{
		padding:0 50px 0 30px;
		margin-top:20px;
		margin-bottom:28px;
		p{
			font-size:$fontSize16;
			color:$fontColor333;
		}
		li{
			font-size:$fontSize14;
			color:$fontColor70;
			list-style-type:disc;
			margin-left:18px;
			margin-top:10px;
			div{
				margin-top:5px;
			}
			p{
				color:$fontColor9e;
				font-size:$fontSize12;
				line-height: 24px
			}
		}
	}
}
.auto_list{
	height:857px;
	background-color: #fff;
}
.auto_com{
	table{
		width:100%;
		background-color: #fff;
		border-collapse: collapse;
		tr{
			color:$fontColor70;
			font-size:$fontSize14;
			@include height-line(50px);
		}
		.padd_left{
			padding-left:35px;
		}
		.trColor{
			background-color:$bgColorfb;
		}
		.th_wid{
			width:150px;
		}
		th{
			text-align: left;
		}
		td{
			text-align: left;
			a{
				color:#668bc8;
			}
		}
	}
}
.zxf_pagediv{margin-top:30px;}