/*html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {margin: 0;padding: 0;}*/
a,body,dd,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,html,iframe,img,input,label,li,ol,p,b,i,pre,span,strong,table,td,textarea,th,ul {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline}
*{font-family: "Microsoft Yahei";box-sizing: border-box;  -webkit-overflow-scrolling: touch;}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {list-style: none;}
img {border: none;vertical-align: middle;}
a {text-decoration: none;}
a:hover{-webkit-tap-highlight-color: transparent;}
input[type=email],input[type=number],input[type=password],input[type=submit],input[type=button],input[type=search],input[type=text],textarea {-webkit-appearance: none;-moz-appearance: none}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {-webkit-appearance: none}
html,body{width:100%;height:100%;}
body{font-family: "Microsoft YaHei";background-color: #33374a;}
.fl {float: left}
.fr {float: right}
.tl {text-align: left;}
.tc {text-align: center}
.tr {text-align: right;}
.dis_no{display:none;}
.font_red{color:#ff7a00;}
.txt_l{text-align: left;}
.txt_c{text-align: center;}
.txt_r{text-align: right;}
.posi_re{position:relative}
.posi_abs{position: absolute;}
.font_black{color:#000;}
input::-webkit-input-placeholder{color:#b0b0b0;}
input::-webkit-input-placeholder {color: #b0b0b0; } 
input:-moz-placeholder {color: #b0b0b0; } 
input::-moz-placeholder {color: #b0b0b0; } 
input:-ms-input-placeholder {color: #b0b0b0; }
/*登录*/
.top a{font-size:0.28rem;color:#333;}
.top a:visited{color:#333;}
.login .td_log{width:2.58rem;height:1.23rem;margin:24% auto 0;background:url(../img/log.png) no-repeat;background-size:100%;}
.td_login{width:7.35rem;margin:1.85rem auto 0;overflow: hidden;}
.login li{width:100%;height:0.75rem;line-height:0.7rem;margin-top:0.85rem;font-size:0.4rem;border-bottom:1px solid #697196;}
.login li input{height:0.38rem;width:80%;border:none;font-size:0.28rem;color:#fff;background-color:inherit;}
.login .user_li{margin:0;}
.login input::-webkit-input-placeholder{color:#697196;}
.login input::-webkit-input-placeholder {color: #697196; } 
.login input:-moz-placeholder {color: #697196; } 
.login input::-moz-placeholder {color: #697196; } 
.login input:-ms-input-placeholder {color: #697196; }
.login .sub{border:none;margin-top:1.18rem;}
.login .sub input{height:0.7rem;width:100%;font-size:0.3rem;background-color:#4776c8;border-radius: 3px;}
.layui-m-layer1 .login_show .layui-m-layercont{text-align:center;}
.layui-m-layersection .login_show{width:3rem;height:2.5rem;font-size:0.3rem;}
.layui-m-layersection .login_show h3{font-size:0.4rem;}
.login_show .layui-m-layercont {line-height:0.8rem;}
.login_show .layui-m-layerbtn span[yes]{color:#cdcdcd;font-size:0.45rem;background-color:white;border:none;}
/*搜索*/
.search{height:0.9rem;font-size:0.3rem;line-height:0.9rem;background-color:#e2e3e7;}
.search .search_left{display: inline-block;width:0.25rem;height:0.25rem;background:url(../img/search_l.png) no-repeat;background-size:100% 100%;margin:0.16rem 0.2rem;}
.search_x{width:0.28rem;height:0.28rem;background:url(../img/search_x.png) no-repeat;background-size:100% 100%;margin:0.16rem 0.25rem;}
.search_no{width:100%;height:100%;}
.search_no .search_no_bg{display:inline-block;width:1.66rem;height:1.75rem;background:url(../img/search_no.png) no-repeat;background-size:100% 100%;margin:4.8rem 0 0 4rem;}
.search form{width:100%;height:100%;overflow: hidden;}
.search form div{height:0.58rem;width:94%;line-height:0.58rem;border-radius: 3px;margin:0.15rem 3%;font-size:0.28rem;background-color:#fff;}
.search input{width:80%;height:100%;border:none;letter-spacing:0.5px;}
.sea_can{color:white;}
.opa_d{position:absolute;width:100%;height:100%;background-color:rgba(0,0,0,0.3);z-index: 99999;}

.search_show{width:100%;height:100%;margin-top:0;clear: both;}
.search_layer{width: 100%;height: 100%;background-color:#e2e3e7;z-index: 9999;}
/*菜单*/
.box{width:100%;height:100%;overflow: hidden; display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
#right_cont{height:100%;background-color:white;width:1px;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 3;}
#left_ment{width:4.45rem;height:100%;border-right:1px solid #cdcdcd;}
#right_cont .index_ok .index_img{height:2.05rem;width:3.12rem;margin:50% auto 0;background:url(../img/index_bg.png)no-repeat; background-size: 100%;}
.left_ment .uc{height:2.34rem;border-bottom:1px solid #222633;overflow: hidden;}
.left_ment .uc .top_p .left_b{margin-right:0.4rem;}
.left_ment .uc p{font-size:0.22rem;}
.left_ment .uc a{display:block;width:100%;height:100%;color:#fff;padding:0.6rem 0 0 1rem;}
.left_ment .uc .name{font-size:0.28rem;}
.left_ment li div{padding-left:1rem;}
.left_ment li div,dd{width:100%;height:1rem;line-height:1rem;font-size:0.28rem;clear: both;}
.left_ment .uc dl{height:100%;}
.left_ment .uc dd{height:100%;line-height:0.5rem;}
.left_ment .uc .on{border-left:none;}
.left_ment li b{font-size:0.24rem;color:#757ea6;}
.left_ment li dd a{display:block;color:#FFF;padding-left:1rem;clear: both;}
.left_ment li .on{background-color:#222633;border-left:5px solid #4776c8;}
.left_ment li .on a{margin-left:-5px;}
.top{width:100%;height:0.95rem;line-height:0.95rem;padding:0 0.4rem;font-size:0.32rem;border-bottom:1px solid #cdcdcd;text-align:center;background-color:#fff;}
.top h2{font-size:0.4rem;}
/*tab切换*/
.list_tab{height:1.01rem;font-size:0.3rem;color:#333;line-height:1.01rem;border-bottom:1px solid #e4e4e4;background-color:#fff;margin-bottom: 0.05rem;}
.list_tab li {width:33.3%;text-align:center;height:1rem;}
.list_tab li a{display:inline-block;color:#333;box-sizing: border-box;padding:0 0.1rem;}
.list_tab li a span{color:#b0b0b0;}
.list_tab li b{display:inline-block;width:0.01rem;height:0.4rem;border-right:2px solid #e4e4e4;font-size:0.4rem;margin:0.3rem 0;}
.list_tab .li_on{height:1rem;color:#4776c8;border-bottom:0.05rem solid #4776c8;}
/*列表*/
section{height:100%;overflow: hidden;}
#tabcon_all,#tabcon_o,#tabcon_n,#list_ul_o,#list_ul_n{height:100%;}
.uc_box ul{padding-bottom: 0;}
section .tabcon_ul{z-index: 999;padding-bottom:2.5rem;background-color:#f2f3f7;margin-top:-0.5rem;}
section .tabcon_uls{z-index: 999;padding-bottom:1rem;background-color:#f2f3f7;margin-top:-0.5rem;}
section .tabcon{height:100%;}
.pulldowns,.pullUps{height:0.5rem;font-size:0.3rem;color:#333;text-align:center;line-height:0.5rem;}
.pullUpLabel{margin-top:0.3rem;}
.list_section{height:100%;overflow: hidden;display: block;}
.tabcontent li{height:1.85rem;font-size:0.28rem;background-color:#fff;margin-top:0.2rem;padding:0 3.5%;}
.tabcontent li a{color:#333;}
.tabcontent li .cont_top{height:67%;border-bottom:1px solid #e4e4e4;overflow: hidden;}
.tabcontent li .cont_top p{margin-top:0.15rem;}
.tabcontent li .cont_top .p_cont{text-align: center;}
.tabcontent li .cont_top .font_ok{color:#72b34b;}
.tabcontent li .cont_top .font_no{color:#b0b0b0;}
.tabcontent li .cont_top .font_ora{color:#ff7a00;}
.tabcontent li .cont_bot{height:33%;line-height:0.58rem;font-size:0.3rem;color:#999;}
 
/*借款人列表*/
#click_add{margin-right:0.4rem;color:#4776c8;}
#add_borrow{width:200%;height:100%;position:absolute;top:100%;left:0;font-size:0.25rem;overflow: hidden;z-index:99;}
.borrower{height:100%;width:100%;overflow: hidden;}
.borrower{background-color:#f2f3f7;position:relative;}
.add_borrower{width:50%;height:100%;background-color:white;}
.add_borrower .add_title{width:100%;height:0.9rem;text-align: center;line-height:0.9rem;padding:0 0.4rem;border-bottom:1px solid #cdcdcd;color:#333;font-size:0.28rem;}
.add_borrower .add_tit{font-size:0.34rem;}
.add_borrower .add_sub{color:#999;}
.add_borrower .add_cont{font-size:0.28rem;color:#333;padding:0 0.4rem;}
.add_borrower .add_cont .add_top_p{line-height:0.58rem;margin-top:0.75rem;}
.add_borrower .add_cont ul{overflow: hidden;}
.add_borrower .add_cont li{width:100%;height:0.65rem;border-bottom:1px solid #cdcdcd;margin-top:0.33rem;}
.add_borrower .add_cont li a{display:block;width:100%;height:100%;}
.add_borrower .add_cont_top li input{width:50%;height:0.48rem;border:none;font-size:0.28rem;}
.add_borrower .add_cont_bot{overflow: hidden;}
.add_borrower .add_cont_bot .add_bot_p{line-height:0.52rem;margin-top:1.3rem;overflow: hidden;}
.add_borrower .add_cont_bot li input{width:50%;height:0.48rem;border:none;font-size:0.28rem;text-align:right;}
.add_borrower .add_cont li .inpw{width:80%;text-align:left;}
.add_borrower .add_cont .border_no{border:none;}
/*借款人详情页*/
.bor_detas{width:100%;height:100%;overflow: hidden;}
.bor_details{width:200%;height:100%;overflow: hidden;}
.borrowers{width:50%;}
.borrowers .top .cancel{font-size:0.3rem;}
.borrowers .add_conts{padding:0;font-size:0.28rem;color:#333;}
.borrowers .add_conts li{padding:0 0.4rem;margin:0;height:0.88rem;line-height:0.88rem;background-color:white;}
.borrowers .add_borrower .add_conts li input{width:50%;height:90%;text-align:right;color:#333;}
.borrowers .add_borrower .add_conts li .inpw{width:100%;text-align:left;}
.borrowers .add_borrower {font-size:0.26rem;width:100%;background-color:#f2f3f7;}
.borrowers .add_borrower .bg_g{height:1rem;line-height:1rem;background-color:#F2F2F2;margin:0;}
.borrowers .add_borrower .bg_g .compile,.ch_bank{color:#4776c8;}
.borrowers .add_conts .btn{width:100%;margin-top:1.2rem;text-align:center;}
.borrowers .add_conts .btn input{width:90%;height:0.88rem;background-color:#4776c8;border-radius: 3px;border:none;font-size:0.34rem;color:white}
.borrowers .add_conts .btn .inp_bg{background-color:#a3a3a3;}
.borrowers .add_conts .btn .name_sub{background-color:#4776c8;}
.borrowers .add_conts .btn .bank_sub{background-color:#4776c8;}
.p_sub{width:80%;font-size:0.3rem;height:1rem;background-color:#f2f2f2;margin:0.2rem auto;border-radius:5px;text-align:center;line-height:1rem;}
.select_bankda{width:100%;}
/*选择银行*/
.select_bank{width:50%;height:100%;background-color:white;}
.select_bank .bank_title{width:100%;height:0.9rem;text-align:center;padding:0 0.4rem;font-size:0.34rem;color:#333;line-height: 0.9rem;border-bottom: 1px solid #cdcdcd;}
.select_bank .bank_title .bank_return{font-size:0.28rem;}
.ul_bank ul li{border-bottom:1px solid #d8d8d8;width:100%;position:relative;padding:2% 0.35rem;background-color:white;overflow: hidden;}
.ul_bank ul li h4{height:0.7rem;font-size:0.26rem;float:left;line-height:1rem;color:#333;font-weight: bold;}
.ul_bank ul li span{display:inline-block;width:1rem;height:1rem;float:left;margin-right:0.2rem;background:url(../img/bank_logo.png) no-repeat;background-size:5rem 4rem;}
.ul_bank{width:100%;height:100%;overflow: hidden}
.ul_bank .bank_on{background-color:#f2f3f7;}
#bank_ul{width:100%;z-index: 999;padding-bottom:1rem;}
#bank_ul .ICBC{background-position:0.0rem 0rem;}
#bank_ul .CCB{background-position:-1rem 0rem;}
#bank_ul .BOC{background-position:-2rem 0rem;}
#bank_ul .ABC{background-position:-3rem 0rem;}
#bank_ul .CMB{background-position:-4rem 0rem;}
#bank_ul .CITIC{background-position:0rem -1rem;}
#bank_ul .SPDB{background-position:-1rem -1rem;}
#bank_ul .CIB{background-position:-2rem -1rem;}
#bank_ul .CMBC{background-position:-3rem -1rem;}
#bank_ul .CEB{background-position:-4rem -1rem;}
#bank_ul .PAB{background-position:0rem -2rem;}
#bank_ul .HXB{background-position:-1rem -2rem;}
#bank_ul .BOB{background-position:-2rem -2rem;}
#bank_ul .CGB{background-position:-3rem -2rem;}
#bank_ul .NBCB{background-position:-4rem -2rem;}
#bank_ul .HZB{background-position:0rem -3rem;}
#bank_ul .BOS{background-position:-1rem -3rem;}
#bank_ul .PSBC{background-position:-2rem -3rem;}
#bank_ul .BCM{background-position:-3rem -3rem;}

/*创建合同*/
.establish_ul{width:88%;height:100%;}
.top .establish_ul li{float:left;width:50%;}
.top .establish_ul li a{display: inline-block;color: #333;box-sizing: border-box;padding: 0 0.1rem;}
.top .establish_ul .li_on{height:0.95rem;color:#4776c8;border-bottom:0.05rem solid #4776c8;}
.top .establish_ul li a span{color:#d3d3d3;}
.top .esta_pact{margin-right:0.4rem;}
.top .keywords{height:0.8rem;border:none;font-size:0.24rem;background-color:#F2F2F2;}
.top .form_re{position:relative;}
.top .search_cont{width:2rem;position:absolute;right:0.5rem;top:1.4rem;border:1px solid red;border-radius: 20px;z-index: 99;overflow: hidden;}
.top .search_cont a{display:block;line-height:0.8rem;width:100%;}

.tabcon .list_tab li{width:50%;height:100%;margin:0;padding:0;}
.establish_top{padding:0;}
.establish_det{width:100%;height:100%;}
.ext_shade{width:100%;height:100%;background-color: rgb(0, 0, 0);opacity: 0.3;filter: alpha(opacity=50);}
.tabcontent .move_li{width:100%;padding:0;}
.est_cont{width:110%;height:100%;white-space:nowrap;}
.est_contL{display:inline-block;width:91%;height:100%;padding:0 0.4rem;z-index: 999;vertical-align: top;}
.est_contR{display:inline-block;width:14%;height:1.8rem;line-height:1.78rem;background-color:#ff7a00;text-align: center;color:white;overflow: auto;vertical-align: top;}


/*作废弹窗*/
.can_show{width:100%;height:100%;border-top:8px solid #4776c8;font-size:0.26rem;text-align:center;background-color:white;}
.can_show .p_title{text-align:left;font-size:0.3rem;color:#333;margin:0.4rem 0;padding:0 0.4rem;}
.can_show .larey_cont{position:relative;padding:0 0.4rem;}
.can_show .inp_txt{width:100%; height: 2.2rem;border:1px solid #b0b0b0;outline:none;overflow:hidden; resize:none;padding:0.15rem 0.2rem;}
.can_show .orange{border-color:#ff7a00;color:#ff7a00;}
.can_show .layer_num{position:absolute;right:0.55rem;bottom:0.2rem;color:#a1a1a1;}
.can_show .layer_btn{width:100%;height:0.9rem;margin-top:0.28rem;}
.can_show .layer_btn a{display:inline-block;width:50%;float:left;line-height:0.95rem;text-align:center;color:#333;background-color:#f2f3f7;}
.can_show .layer_btn .sub_btn{background-color:#5187e7;color:#a4bcf1;}
.can_show .layer_btn .obs{background-color:#4776c8;color:#fff;}

/*信息*/
.uc_box{font-size:0.24rem;height:100%;width:100%;background-color:#f2f3f7;}
.uc_return{font-size:0.28rem;}
.uc_box .phone{margin-top:0.2rem;}
.uc_box p{height:1rem;line-height:1rem;margin-left:0.4rem;font-size:0.3rem;color:#1d2637;}
.uc_box ul li{padding:0 0.38rem;width:100%;height:0.88rem;color:#333;font-size:0.28rem;border-bottom:1px solid #e4e4e4;line-height:0.88rem;background-color:white;}
.uc_box ul li.phone_li{border:none;}
.uc_box ul li .font_gary{color:#999;}
.uc_box .log_out {margin-top:0.4rem;}
.uc_box .log_out ul li {color:#4776c8;letter-spacing:2px;}
.uc_box .phone input{height:90%;width:30%;border:none;font-size:0.28rem;}
.uc_box .btn{width:100%;margin-top:1.2rem;text-align:center;}
.uc_box .btn .btn_sub{width:90%;height:0.88rem;background-color:#a3a3a3;border-radius: 3px;border:none;font-size:0.34rem;color:white;}
.uc_box .passw ul input{height:90%;width:23%;border:none;font-size:0.28rem;text-align:right;}
.uc_box .btn .btn_phone{background-color:#4776c8;}
.uc_box .btn .psw_sub{background-color:#4776c8;}
.uc_error{width:100%;height:auto;background-color:white;border-radius:5px;font-size:0.32rem;color:#333;text-align:center;}
.uc_error .error_top{color:#333;padding:0.75rem 0;}
.uc_error .error_top p{line-height:0.5rem;}
.uc_error .error_bot{height:0.87rem;border-top:1px solid #cdcdcd;color:#4776c8;line-height:0.85rem;}
.uc_error .layui-layer-btn{padding:0.3rem 0;border-top:1px solid #cdcdcd;text-align:center;}
.uc_error .layui-layer-btn a{color:#4776c8;font-size:0.32rem;}
/*待签署合同详情页*/
.pact_box{width: 100%;height: 100%;position: absolute;left: 0;top: 0; z-index: 1;display: -webkit-box;-webkit-box-orient: vertical;}
.pact_top{width:100%;height:1rem;line-height:1rem;background-color:white;text-align: center;font-size:0.26rem;}
.pact_con{font-size:0.26rem;-webkit-box-flex: 1;-moz-box-flex: 1;-ms-box-flex: 1;box-flex: 1;overflow: hidden;}
.pact_con .iscrol_pact{height:20rem;background-color:white;}
.pact_foot{width:100%;height:1rem;line-height:1rem;text-align: center;font-size:0.26rem;background-color:gainsboro;color:white;}

/*被打回合同详情页*/
.back_box .back_top{width:100%;height:0.88rem;font-size:0.26rem;text-align:center;line-height:0.88rem;color:#ff7a00;background-color:#f2f3f7;}
.back_box .back_t .back_sub{color:#4776c8;}
.back_box .back_cont{height:100%;background-color:white;font-size:0.26rem;}
.back_box .back_cont .back_ul{z-index: 999;padding-bottom:2.5rem;}
.back_box .back_cont li{width:100%;height:1rem;line-height:1rem;border-bottom:1px solid #cdcdcd;padding:0 0.4rem;}
.back_box .back_cont li span{display:inline-block;height:100%;width:15%;color:#999;}
.back_box .back_cont li input{width:83%;color:#333;}
.back_box .back_cont li input:disabled{background-color:#fff;color:#333;-webkit-text-fill-color:#333; -webkit-opacity:1; opacity: 1;}
.back_box .footer{position:fixed;left:0;bottom:0;width:100%;}
.back_box .footer .footer_btn{width:100%;height:1rem;background-color:#4776c8;font-size:0.34rem;color:#fff;}

/*不同的分辨率设置不同的比例*/
/*大于1356宽度时*/
@media only screen and (min-width: 2048px){
    /*html {
        font-size: 100px!important;
    }*/
}




/*竖屏*/
@media screen and (orientation: portrait) {	
	
    .login .td_log{margin:3.25rem auto 0;}
}   
/*横屏*/
@media screen and (orientation: landscape) {  
	/*html{font-size: 56.6372px;!important;}*/
	.login .td_log{margin:11% auto 0;}
	.td_login {margin: 6% auto 0;}
	#right_cont .index_ok .index_img{margin:20% auto 0;}
	
}  






