div.pageList{
	text-align: center;
	color: #999999;
	margin-bottom:50px;
}
div.pageList span,div.pageList a{
	display: inline-block;
	margin: 0 5px;
}
span.disabled{
	height: 26px;
	width: 26px;
	line-height: 26px;
	background: #fff;
	color:#e4e4e4;
	margin: 0 5px;
	border: 1px solid #dddddd;
}
.zxfPagenum{
	color: #9e9e9e;
	background: #FFFFFF;
	height:26px;
	padding: 0px 8.31px 0px 8.31px;
	line-height: 26px;
	border: 1px solid #dddddd;
	margin: 0 5px;
	font-size:16px;
}
.nextbtn,.prebtn{
	color: #ff7400;
	background: #FFFFFF;
	width: 26px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #dddddd;
}
.zxfinput{
	width: 42px;
	height: 18px;
	text-align: center;
	border: 1px solid #dddddd;
	margin: 0 12px;
	color:#9e9e9e;
	border-radius:5px;
	outline:none;
}
.zxfokbtn{
	width: 44px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #dddddd;
	cursor: pointer;
	font-size:14px;
	color:#9e9e9e;
	border-radius:5px;
}
.nextpage{
	margin: 0 5px;
}
.current{
	color: #ff7400;
	background: #fff;
	border: 1px solid #dddddd;
}
.show_page{
	font-size:14px;
	color:#9e9e9e;
}