/* generator by mobi */
/*
  @remSwitch: true;
  @rootValue: 75;
  @unitPrecision: 4;
  @blackList: [];
  @minPixelValue: 2;
*/
/* 导入全局方法 */
@import "../../mixins/mixins.less";

body {
  background-color: #f93450;
}
.spon-test {
  background: red;
}

.img {
  width: 750px;
}
#layout {
  padding-top: 0;
}
#content {
  padding-bottom: 0;
}