*{padding:0;margin:0;font-family:微软雅黑;}
body{font-size:12px;}
a{text-decoration:none;}a:link,a:visited{text-decoration: none;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; overflow:hidden; clear:both; height:0; visibility:hidden; content:"";}
.clear{ clear: both;}
/* float */
.fl{float:left;}
.fr{float:right;}
.dis_none{display: none;}
.calendar_box{width:725px;}
.calendar{width:725px;height:375px;border:1px solid #ececec;}
#imgs{width:50px;height:50px;background:url(images/2.png);}
.account_box{width:240px;height:375px;background: #F9EADE;border-right:1px solid #ececec;}
.account_title{height: 50px;line-height: 50px;font-size: 16px;overflow: hidden;}
.account_title .data_top{height:40px;background-color:#fff;padding:0 10px;text-align:center;margin-top:5px;}
.account_title .data_top .data_top_btn{height: 20px;width: 20px;line-height:16px; border: 1px solid #ccc;margin-top:10px;text-align: center;background: #ececec;color: #666;border-radius: 50%;cursor: pointer;}
.account_title .data_top .data_top_datas{width:80%;background: #fff;color: #666;font-size: 14px;text-align: center;height: 40px;line-height: 40px;}
.data_table{width: 100%;}
.data_table .data_table_th{float: left;width: 14.25%;text-align: center;line-height: 46px;height: 46px; background-color: #F9EADE;color: #333;}
.data_table tbody td{background: #fff;position: relative;}
.data_table tbody tr{border-bottom: 1px dashed #ccc;}
.data_table .data_tbody{background-color: #faf1de;}
.data_table .data_tbody .data_table_td{border-bottom: 1px dashed #ccc;float: left;width: 14.25%;text-align: center;height:40px;line-height: 40px;position: relative;}
.data_table .data_tbody .data_table_td .data_money{position: absolute;width: 20px;height: 20px;top: 13px;left: 50%;margin-left: 10px; background: url(images/yuan.png) no-repeat center;}
.data_table .data_tbody .data_table_td .data_table_msg{position: absolute;z-index: 2;top: 34px;left:50%;margin-left: -120px; width: 280px;background: url(images/bg-msg.png) no-repeat bottom;line-height: 55px;height: 46px;text-align: center;display: none;color: #666;}
.data_table .await_money{background:url(images/1.png) no-repeat;background-size:100% 100%;}
.data_table .yet_money{background:url(images/2.png) no-repeat;background-size:100% 100%;}
.data_table .datas_on{background-color:#FF9900;color: #fff;}
.data_table .data_number{cursor: pointer;}
.datas_title{height:30px;line-height:30px;}
.datas_title span{display:inline-block;margin-left:10px;}
.datas_title span i{display: inline-block;width:10px;height:10px;margin-right:5px;}
.datas_title span .red_dot{background:url(images/dot_1.png) no-repeat;background-size: 100% 100%;}
.datas_title span .gray_dot{background:url(images/dot_2.png) no-repeat;background-size: 100% 100%;}
.data_btn_mon{height: 30px;line-height: 30px;color: #f77b10;border: 1px solid #f77b10;font-size: 14px;display: block;width: 85px;text-align: center;border-radius: 4px;cursor: pointer;margin-top: 10px;margin-left: 20px;}

/*right回款金额*/
.re_money_box{width:460px;height:375px;padding-left:20px;}
.re_money_box .re_money_tlt{height:30px;line-height:30px;color:#CCCCCC;}
.re_money_box .re_money_cont{height:340px;width:100%;}
.re_money_box .re_money_cont div{width:50%;margin-top:28%;text-align: center;}
.re_money_box .re_money_cont .re_money_num{font-size:28px;}
.re_money_box .re_money_cont .re_money_txt{font-size:16px;}

/*回款列表*/
.re_money_table{width:100%;}
.re_money_table table{width:100%;border-collapse: collapse;border-spacing: 0;}
.re_money_table table tr{height:30px;line-height:30px;border:1px solid #ECECEC;}
.re_money_table table th,td{text-align:center;}


/*无回款日历*/
.account_boxs{height:345px;}
