 .Bank{background: url(../../../image/bank.png);width: 170px;display:inline-block;height: 35px;vertical-align: middle;}

/*中国工商银行*/
.ICBC{background-position: -17px -5px;}
/*交通银行*/
.BCM{background-position: -17px -49px;}
/*中信银行*/
.CITIC{background-position: -29px -95px;}
/*平安银行*/
.PAB{background-position: -17px -142px;}
/*广发银行*/
.CGB{background-position: -16px -186px;}
.GDB{background-position: -1px -185px;}
/*宁波银行*/
.NBB{background-position: -30px -230px;width:144px!important;}
.NBCB{background-position: -2px -229px;}
/*重庆农商行*/
.CQRCB{background-position: -15px -276px;}
/*攀枝花市商业银行*/
.PZHSB{background-position: -7px -322px;}
/*汉口银行*/
.HKB{background-position: -25px -367px;}
/*莱商银行*/
.LWB{background-position: -26px -412px;}
/*日照银行*/
.RZB{background-position: -24px -457px;}
/*江苏长江商业银行*/
.CJCCB{background-position: -7px -501px;}
/*厦门银行*/
.BOXM{background-position: -24px -547px;}
/*龙江银行*/
.BOLJ{background-position: -25px -592px;width:144px!important;}
/*甘肃省农村信用社*/
.GSNX{background-position: -8px -636px;}
/*贵州省农村信用社*/
.GZNX{background-position: -1px -680px;}
/*上海农商银行*/
.BJNS{background-position: -2px -725px;}




/*中国建设银行*/
.CCB{background-position: -175px -6px;}
/*中国邮政储蓄银行*/
.PSBC{background-position: -184px -52px;}
/*兴业银行*/
.CIB{background-position: -185px -97px;}
/*华夏银行*/
.HXB{background-position: -186px -142px;}
/*吉林省农村信用社*/
.JLSB{background-position: -167px -187px;}
/*鄂尔多斯银行*/
.EEDSB{background-position: -166px -231px;}
/*徽商银行*/
.HSB{background-position: -184px -276px;}
/*成都银行*/
.BOCD{background-position: -182px -322px;width:144px!important;}
/*潍坊银行*/
.WFCCB{background-position: -177px -367px;}
/*德州银行*/
.DZB{background-position: -182px -415px;}
/*临商银行*/
.LSB{background-position: -185px -457px;}
/*洛阳银行*/
.BOLY{background-position: -178px -502px;}
/*晋中银行*/
.JZCB{background-position: -182px -547px;}
/*湖北省农村信用社*/
.HUBNX{background-position: -162px -592px;}
/*陕西省农村信用社*/
.SHXNX{background-position: -178px -637px;}
/*南京银行*/
.NJCB{background-position: -152px -680px;}
/*浙商银行*/
.CZB{background-position: -176px -726px;}





/*中国银行*/
.BOC{background-position: -348px -6px;}
/*招商银行*/
.CMB{background-position: -345px -52px;}
/*中国民生银行*/
.CMBC{background-position: -333px -97px;}
/*北京银行*/
.BOB{background-position: -343px -142px;}
/*锦州银行*/
.JZB{background-position: -345px -187px;}
/*江苏银行*/
.JSB{background-position: -346px -232px;}
/*恒丰银行*/
.HFB{background-position: -339px -277px;}
.EGB{background-position: -339px -277px;}
/*内蒙古农村信用社*/
.NMGB{background-position: -321px -322px;}
/*江苏•农村商业银行*/
.JSNCB{background-position: -328px -367px;}
/*东莞农村商业银行*/
.DWB{background-position: -327px -412px;}
/*东营银行*/
.DYB{background-position: -338px -457px;}
/*广东南粤银行*/
.GDNYB{background-position: -333px -502px;}
/*九江银行*/
.JJCCB{background-position: -341px -547px;}
/*天津滨海农村商业银行*/
.BHRCB{background-position: -319px -592px;}
/*null*/
/*青岛银行*/
.QDCCB{background-position: -336px -682px;}
/*大连开发区鑫汇村镇银行*/
.DDZXRB{background-position: -326px -726px;}




/*中国农业银行*/
.ABC{background-position: -496px -3px;}
/*浦东发展银行*/
.SPDB{background-position: -509px -52px;}
/*中国光大银行*/
.CEB{background-position: -492px -97px;}
/*武汉农村商业银行*/
.WHB{background-position: -499px -142px;}
/*上海银行*/
.BOS{background-position: -508px -187px;}
/*北京农商银行*/
.BJRCB{background-position: -494px -232px;}
/*杭州银行*/
.HZB{background-position: -497px -277px;}
/*威海市商业银行*/
.WHSB{background-position: -489px -322px;}
/*长安银行*/
.CHAB{background-position: -498px -367px;}
/*齐商银行*/
.QSB{background-position: -499px -412px;}
/*东营莱商村镇银行*/
.DYLSCZ{background-position: -483px -457px;}
/*南昌银行*/
.BONC{background-position: -503px -502px;}
/*泰安市商业银行*/
.TAB{background-position: -487px -547px;}
/*河北省农村信用社*/
.HBNX{background-position: -488px -592px;}
/*浙江稠州商业银行*/
.CZCB{background-position: -482px -639px;}
/*渤海银行 */
.CBHB{background-position: -489px -682px;}