@import "../common/mixin";
body {
  background-color: #a1a1a1;
}
.reports1701 {
  width: 1100px;
  height: 9000px;
  margin: 0 auto;
  .item1 {
    width: 1100px;
    height: 669px;
    background: url(../../image/reports/season1/item01.png);
  }
  .item2 {
    width: 1100px;
    height: 661px;
    background: url(../../image/reports/season1/item02.png);
  }
  .item3 {
    width: 1100px;
    height: 684px;
    background: url(../../image/reports/season1/item03.png);
  }
  .item4 {
    width: 1100px;
    height: 733px;
    background: url(../../image/reports/season1/item04.png);
  }
  .item5 {
    width: 1100px;
    height: 765px;
    background: url(../../image/reports/season1/item05.png);
  }
  .item6 {
    width: 1100px;
    height: 764px;
    background: url(../../image/reports/season1/item06.png);
  }
  .item7 {
    width: 1100px;
    height: 686px;
    background: url(../../image/reports/season1/item07.png);
  }
  .item8 {
    width: 1100px;
    height: 680px;
    background: url(../../image/reports/season1/item08.png);
  }
  .item9 {
    width: 1100px;
    height: 680px;
    background: url(../../image/reports/season1/item09.png);
  }
  .item10 {
    width: 1100px;
    height: 682px;
    background: url(../../image/reports/season1/item10.png);
  }
  .item11 {
    width: 1100px;
    height: 678px;
    background: url(../../image/reports/season1/item11.png);
  }
  .item12 {
    width: 1100px;
    height: 681px;
    background: url(../../image/reports/season1/item12.png);
  }
  .item13 {
    width: 1100px;
    height: 703px;
    background: url(../../image/reports/season1/item13.png);
  }
  .item14 {
    width: 1100px;
    height: 550px;
    background: url(../../image/reports/season1/item14.png);
  }
}
/*2017年第二季度*/
.report1702 {
  width: 100%;
  .img1 {
    width: 100%;
    height: 711px;
    background: url(../../image/reports/season2/img01.png) center no-repeat;
  }
  .img2 {
    width: 100%;
    height: 1408px;
    background: url(../../image/reports/season2/img02.png) center no-repeat;
  }
  .img3 {
    width: 100%;
    height: 888px;
    background: url(../../image/reports/season2/img03.png) center no-repeat;
  }
  .img4 {
    width: 100%;
    height: 716px;
    background: url(../../image/reports/season2/img04.png) center no-repeat;
  }
  .img5 {
    width: 100%;
    height: 1388px;
    background: url(../../image/reports/season2/img05.png) center no-repeat;
  }
  .img6 {
    width: 100%;
    height: 1459px;
    background: url(../../image/reports/season2/img06.png) center no-repeat;
  }
  .img7 {
    width: 100%;
    height: 686px;
    background: url(../../image/reports/season2/img07.png) center no-repeat;
  }
  .img8 {
    width: 100%;
    height: 1222px;
    background: url(../../image/reports/season2/img08.png) center no-repeat;
  }
  .img9 {
    width: 100%;
    height: 1491px;
    background: url(../../image/reports/season2/img09.png) center no-repeat;
  }
  .img10 {
    width: 100%;
    height: 628px;
    background: url(../../image/reports/season2/img10.png) center no-repeat;
  }
}
/*2017年第三季度*/
.reports1703 {
  width: 100%;
  .img1 {
    width: 100%;
    height: 597px;
    background: url(../../image/reports/season3/ses01.png) center no-repeat;
  }
  .img2 {
    width: 100%;
    height: 816px;
    background: url(../../image/reports/season3/ses02.png) center no-repeat;
  }
  .img3 {
    width: 100%;
    height: 577px;
    background: url(../../image/reports/season3/ses03.png) center no-repeat;
  }
  .img4 {
    width: 100%;
    height: 622px;
    background: url(../../image/reports/season3/ses04.png) center no-repeat;
  }
  .img5 {
    width: 100%;
    height: 1460px;
    background: url(../../image/reports/season3/ses05.png) center no-repeat;
  }
  .img6 {
    width: 100%;
    height: 815px;
    background: url(../../image/reports/season3/ses06.png) center no-repeat;
  }
  .img7 {
    width: 100%;
    height: 571px;
    background: url(../../image/reports/season3/ses07.png) center no-repeat;
  }
  .img8 {
    width: 100%;
    height: 649px;
    background: url(../../image/reports/season3/ses08.png) center no-repeat;
  }
  .img9 {
    width: 100%;
    height: 1543px;
    background: url(../../image/reports/season3/ses09.png) center no-repeat;
  }
  .img10 {
    width: 100%;
    height: 876px;
    background: url(../../image/reports/season3/ses10.png) center no-repeat;
  }
  .img11 {
    width: 100%;
    height: 544px;
    background: url(../../image/reports/season3/ses11.png) center no-repeat;
  }
  .img12 {
    width: 100%;
    height: 1048px;
    background: url(../../image/reports/season3/ses12.png) center no-repeat;
  }
  .img13 {
    width: 100%;
    height: 835px;
    background: url(../../image/reports/season3/ses13.png) center no-repeat;
  }
  .img14 {
    width: 100%;
    height: 449px;
    background: url(../../image/reports/season3/ses14.png) center no-repeat;
  }
}
/*2017年7月份*/
.reports1707m {
  width: 100%;
  .img1 {
    width: 100%;
    height: 737px;
    background: url(../../image/reports/month_7/bg01.png) center no-repeat;
  }
  .img2 {
    width: 100%;
    height: 1538px;
    background: url(../../image/reports/month_7/bg02.png) center no-repeat;
  }
  .img3 {
    width: 100%;
    height: 1845px;
    background: url(../../image/reports/month_7/bg03.png) center no-repeat;
  }
  .img4 {
    width: 100%;
    height: 984px;
    background: url(../../image/reports/month_7/bg04.png) center no-repeat;
  }
  .img5 {
    width: 100%;
    height: 1649px;
    background: url(../../image/reports/month_7/bg05.png) center no-repeat;
  }
  .img6 {
    width: 100%;
    height: 749px;
    background: url(../../image/reports/month_7/bg06.png) center no-repeat;
  }
  .img7 {
    width: 100%;
    height: 2448px;
    background: url(../../image/reports/month_7/bg07.png) center no-repeat;
  }
  .img8 {
    width: 100%;
    height: 1422px;
    background: url(../../image/reports/month_7/bg08.png) center no-repeat;
  }
  .img9 {
    width: 100%;
    height: 1549px;
    background: url(../../image/reports/month_7/bg09.png) center no-repeat;
  }
  .img10 {
    width: 100%;
    height: 608px;
    background: url(../../image/reports/month_7/bg10.png) center no-repeat;
  }
}

/*2017年8月份*/
.reports1708m {
  width: 100%;
  .img1 {
    width: 100%;
    height: 450px;
    background: url(../../image/reports/month_8/pics01.png) center no-repeat;
  }
  .img2 {
    width: 100%;
    height: 935px;
    background: url(../../image/reports/month_8/pics02.png) center no-repeat;
  }
  .img3 {
    width: 100%;
    height: 450px;
    background: url(../../image/reports/month_8/pics03.png) center no-repeat;
  }
  .img4 {
    width: 100%;
    height: 766px;
    background: url(../../image/reports/month_8/pics04.png) center no-repeat;
  }
  .img5 {
    width: 100%;
    height: 1822px;
    background: url(../../image/reports/month_8/pics05.png) center no-repeat;
  }
  .img6 {
    width: 100%;
    height: 1033px;
    background: url(../../image/reports/month_8/pics06.png) center no-repeat;
  }
  .img7 {
    width: 100%;
    height: 832px;
    background: url(../../image/reports/month_8/pics07.png) center no-repeat;
  }
  .img8 {
    width: 100%;
    height: 889px;
    background: url(../../image/reports/month_8/pics08.png) center no-repeat;
  }
  .img9 {
    width: 100%;
    height: 772px;
    background: url(../../image/reports/month_8/pics09.png) center no-repeat;
  }
  .img10 {
    width: 100%;
    height: 1792px;
    background: url(../../image/reports/month_8/pics10.png) center no-repeat;
  }
  .img11 {
    width: 100%;
    height: 1421px;
    background: url(../../image/reports/month_8/pics11.png) center no-repeat;
  }
  .img12 {
    width: 100%;
    height: 916px;
    background: url(../../image/reports/month_8/pics12.png) center no-repeat;
  }
  .img13 {
    width: 100%;
    height: 2273px;
    background: url(../../image/reports/month_8/pics13.png) center no-repeat;
  }
  .img14 {
    width: 100%;
    height: 494px;
    background: url(../../image/reports/month_8/pics14.png) center no-repeat;
  }
}
/*2017年10月份*/
.reports1710m {
  width: 100%;
  .img1 {
    width: 100%;
    height: 728px;
    background: url(../../image/reports/month_10/pic01.png) center no-repeat;
  }
  .img2 {
    width: 100%;
    height: 1008px;
    background: url(../../image/reports/month_10/pic02.png) center no-repeat;
  }
  .img3 {
    width: 100%;
    height: 579px;
    background: url(../../image/reports/month_10/pic03.png) center no-repeat;
  }
  .img4 {
    width: 100%;
    height: 766px;
    background: url(../../image/reports/month_10/pic04.png) center no-repeat;
  }
  .img5 {
    width: 100%;
    height: 1755px;
    background: url(../../image/reports/month_10/pic05.png) center no-repeat;
  }
  .img6 {
    width: 100%;
    height: 1111px;
    background: url(../../image/reports/month_10/pic06.png) center no-repeat;
  }
  .img7 {
    width: 100%;
    height: 777px;
    background: url(../../image/reports/month_10/pic07.png) center no-repeat;
  }
  .img8 {
    width: 100%;
    height: 778px;
    background: url(../../image/reports/month_10/pic08.png) center no-repeat;
  }
  .img9 {
    width: 100%;
    height: 795px;
    background: url(../../image/reports/month_10/pic09.png) center no-repeat;
  }
  .img10 {
    width: 100%;
    height: 1686px;
    background: url(../../image/reports/month_10/pic10.png) center no-repeat;
  }
  .img11 {
    width: 100%;
    height: 1386px;
    background: url(../../image/reports/month_10/pic11.png) center no-repeat;
  }
  .img12 {
    width: 100%;
    height: 924px;
    background: url(../../image/reports/month_10/pic12.png) center no-repeat;
  }
  .img13 {
    width: 100%;
    height: 1128px;
    background: url(../../image/reports/month_10/pic13.png) center no-repeat;
  }
  .img14 {
    width: 100%;
    height: 511px;
    background: url(../../image/reports/month_10/pic14.png) center no-repeat;
  }
}
