<div class="footer footer2">
	<div class="max-width">
		<dl>
			<dd><img src="../../image/icons/fb-1.png" alt=""></dd>
			<dd><img src="../../image/icons/fb-2.png" alt=""></dd>
			<dd><img src="../../image/icons/fb-3.png" alt=""></dd>
			<dd><img src="../../image/icons/fb-4.png" alt=""></dd>
			<dd><img src="../../image/icons/fb-5.png" alt=""></dd>
			<dd><img src="../../image/icons/fb-6.png" alt=""></dd>
			<dd><img src="../../image/icons/fb-7.png" alt=""></dd>
			<dd><img src="../../image/icons/fb-8.png" alt=""></dd>
		</dl>
		<div>拓道金服 Copyright Reserved 2013-2016 | 浙ICP备13034095号 |增值电信业务经营许可证编号：浙B2-20160394</div>
	</div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
