<div class="nav">
	<div class="max-width">
		<div class="logo">
			<a href=""><img src="../../image/logo.png"></a>
		</div>
		<div class="navigate" id="navigate">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="invest.html?sift">理财专区<i class="iconfont">&#xe67d;</i></a>
					<dl>
						<dd><a href="invest.html?sift">精选计划</a></dd>
						<dd><a href="invest.html?scatter">散标项目</a></dd>
						<dd><a href="invest.html?bond">转让专区</a></dd>
					</dl>
				</li>
				<li><a href="">我要借款</a></li>
				<li><a href="">保险服务</a></li>
				<li><a href="">车辆交易</a></li>
				<li><a href="">信息披露<i class="iconfont">&#xe67d;</i></a>
					<dl>
						<dd><a href="">安全保障</a></dd>
						<dd><a href="Info_platData.html">平台数据</a></dd>
						<dd><a href="">运营数据</a></dd>
						<dd><a href="Info_lawfile.html">法律文件</a></dd>
						<dd><a href="">新闻公告</a></dd>
						<dd><a href="Info_aboutTd.html">关于拓道</a></dd>
						<dd><a href="Info_entity.html">实体门店</a></dd>
						<dd><a href="Info_contact.html">联系我们</a></dd>
						<dd><a href="Info_join.html">加入我们</a></dd>
					</dl>
				</li>
			</ul>
			<div class="nav-uc">
				
			</div>
			<!-- <div class="uc">
				<div><a href=""><i class="iconfont icf-uc">&#xe692;</i>我的账户<b class="iconfont">&#xe67d;</b></a></div>
				<dl>
					<dd><a href="uc.html">账户总览</a></dd>
					<dd><a href="">资金管理</a></dd>
					<dd><a href="uc_invest_sift.html">我的投资</a></dd>
					<dd><a href="">我的福利</a></dd>
					<dd><a href="">消息中心</a></dd>
					<dd><a href="">我的订单</a></dd>
					<dd><a href="">我的订单</a></dd>
					<dd><a href="uc_accountCenter.html">账户设置</a></dd>
				</dl>
			</div> -->
		</div>
	</div>
</div>