<div class="top" id="top">
	<div class="max-width">
		<div class="left">
			<span class="tel">客服热线:40085-666-85</span>
			<dl>
				<dd class="iconfont">
					<a href="http://q.url.cn/s/DLrDVYm">&#xe693;</a>
					<div class="tips top-tips">
						点击立即咨询QQ客服,<br>服务时间 9:00-20:30
					</div>
				</dd>
				<dd class="iconfont">
					<a href="http://weibo.com/51tuodao">&#xe68c;</a>
					<div class="tips top-tips">
						点击查看拓道金服新浪微博
					</div>
				</dd>
				<dd class="iconfont">
					<a href="">&#xe677;</a>
					<div class="tips no-tips">
						<img src="../../image/hover-wx.png" alt="">
					</div>
				</dd>
				<dd class="iconfont">
					<a href="">&#xe67f;</a>
					<div class="tips top-tips">
						拓道金服APP下载
					</div>
				</dd>
			</dl>
		</div>
		<div class="right">
			<ul>
				<li><a href="userlogin.html" class="js-login">登录&nbsp;&nbsp;</a>|<a href="register.html" id="js-register">&nbsp;&nbsp;注册</a></li>
				<li><a href="memberCenter.html" target="_blank">会员中心</a></li>
				<li><a href="new_guide.html" target="_blank">新手指南</a></li>
				<li><a href="help.html" target="_blank">帮助中心</a></li>
				<li><a href="#">论坛</a></li>
				<li><a href="#"><i class="iconfont">&#xe681;</i>理财计算器</a></li>
			</ul>
		</div>
	</div>
</div>