<div class="uc_menu">
	<div class="menu_top">
		<img src="">
		<p>您好！</p>
		<div class="icon">
			<ul>
				<li class="deposit_icon">
					<a href="###" class="iconfont">&#xe66d;</a>
					<div class="tips left-tips">未开通存管</div>
				</li>
				<li class="grade_icon">
					<a href="###" class="iconfont grade ">&#xe6d0;</a>
					<div class="tips left-tips">会员等级V0</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="menu_bot">
		<ul>
			<li>
				<a href="uc.html">
					<i class="iconfont">&#xe67a;</i>
					账户总览
				</a>
			</li>
			<li>
				<a href="javascript:;" dataname="uc_recharge.html" class="menu_list">
					<i class="iconfont">&#xe689;</i>
					资金管理
					<span class="iconfont">&#xe83d;</span>
				</a>
				<div class="menu_fund">
					<a href="uc_recharge.html" name="账户充值">账户充值</a>
					<a href="uc_cash.html" name="账户提现">账户提现</a>
					<a href="uc_moneyRecord.html" name="资金记录">资金记录</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="menu_list">
					<i class="iconfont">&#xe69b;</i>
					我的投资
					<span class="iconfont">&#xe83d;</span>
				</a>
				<div class="menu_fund">
					<a href="uc_invest_sift.html" details="uc_invest_siftDetails">精选计划</a>
					<a href="uc_invest_scatter.html" details="uc_invest_scatterDetails">散标项目</a>
					<a href="uc_invest_bond.html?able" details="uc_invest_bondDetails">债权转让</a>
					<a href="uc_invest_auto.html?auto" details="uc_invest_autoDetails">自动投标</a>
					<a href="uc_invest_return.html">回款日历</a>
				</div>
			</li>
			<li>
				<a href="javascript:;" class="menu_list">
					<i class="iconfont">&#xe676;</i>
					我的福利
					<span class="iconfont">&#xe83d;</span>
				</a>
				<div class="menu_fund">
					<a href="uc_coupon.html">我的优惠券</a>
					<a href="uc_points_gold.html">积分和金币</a>
					<a href="uc_invite.html">我的邀请 &nbsp;&nbsp;</a>
				</div>
			</li>
			<li class="messages-center">
				<a href="uc_messageCenter.html">
					<i class="iconfont">&#xe678;</i>
					消息中心
					<em></em>
				</a>
			</li>
			<li>
				<a href="###">
					<i class="iconfont">&#xe685;</i>
					我的订单
				</a>
			</li>
			<li>
				<a href="uc_accountCenter.html">
					<i class="iconfont">&#xe683;</i>
					账户设置
				</a>
			</li>
			<li class="uc_old">
				<a href="uc_oldList.html" target="_blank">
					查看老账户 >
				</a>
			</li>
		</ul>
	</div>
</div>