@import "../common/mixin";
@import "../common/layout";

.fl{
	float:left;
}
.fr{
	float:right;
}
.dis_none{
	display:none;
}
.kd{
	background-color: $mainColor!important;
}
.border{
	border: 1px solid $mainColor;
	}
.red{
	border-color:red!important;
}
.border-color{
	border-color: #ff7400!important;
}
i.del{
	position:absolute;
	right:222px;
	top:6px;
	cursor:default;
	font-size:18px;
	display:none;
	color:#9e9e9e;
}
i.del:hover{
	color:#ff7400;
}
#space{
	margin-right: 30px;
		}
.main{
	width:1180px;
	height:601px;
	margin: 0 auto;
	background-color: #FFF;
	margin-top: 50px;
	.register{
		.main_top{
			width: 100%;
			height: 60px;
			line-height: 60px;
			color: #ccc;
			span {
				margin-left: 30px;
			}
			span.login{
				margin-right: 37px;
				a{
					color:$mainColor;
				}
			}
		}
		.main_mid{
			width: 100%;
			.box{
				width: 60%;
				height: 80%;
				margin: 100px auto 0 auto;
				.phoneNum{
						position:relative;
						input{
							width: 323px;
							height: 38px;
							border-radius: 5px;
							padding-left: 15px;
							outline:none;
							margin-left: 155px;
							border: 1px solid $fontColor9e;
						}
						.jg{
							text-align:center;
							color:red;
							z-index:999;
							background-color: #f2f2f2;
							width:339px;
							height:30px;
							position:absolute;
							top:32px;
							left:154px;
							display:none;
						}
				}
				.slider{
					margin: 20px 155px 30px 155px;
				}
				.til{
					margin-left: 155px;
					color:$fontColor9e;
					cursor: pointer;
					margin-bottom:5px;
				}
				.personNum{
					position:relative;
					input{
						width: 323px;
						height: 38px;
						margin-left: 155px;
						border-radius: 5px;
						padding-left: 15px;
						outline:none;
						border: 1px solid #dddddd;
					}
				}
				.btn{
					width: 340px;
					height: 40px;
					margin-left: 155px;
					margin-top: 30px;
					background-color: $fontColor9e;
					color:#fff;
					border-radius: 20px;
					outline: none;
					border: none;
				}
				.xian{
					border-bottom:1px solid $fontColor9e;
					margin-top:20px;
					width: 340px;
					margin-left: 155px;
					a{
						color:$mainColor;
						position:relative;
						top: 12px;
						left: 80px;
						font-size: 16px;
						padding: 0 10px;
						background-color: #FFF;
					}
				}
			}
		}
	}
	.yanzhengma{
		width:100%;
		height:100%;
		text-align:center;
		.til_all{
			width:100%;
			height:223px;
			.write_ts{
				padding-top:180px;
				margin-bottom:10px;
			}
			.ts{
				font-size: 12px;
				color: #000;
			}
		}
		.wrong_ts{
				margin-top:10px;
				color:red;
			}
		.demo{
			width: 500px;
			margin: 30px auto 28px auto;
			height: 62px;
			position: relative;
			input{
				width: 58px;
				height: 58px;
				display: inline-block;
				float: left;
				margin-left: 10px;
				outline: none;
				text-align: center;
				line-height: 58px;
				font-size: 35px;
				font-weight: 800;
			}
			#spa{
				font-size: 50px;
				position: absolute;
				left: 221px;
				color:#C0C0C0;
				height: 56px;
				line-height: 56px;
			}
		}
		.count_time{
			color:$mainColor;
			display:inline-block;
			text-decoration:underline;
			display:none;
		}
		.djs{
			color:$fontColor9e;
		}
		.back{
			margin-top:150px;
		}
	}
	.set_password{
		width: 100%;
		height: 100%;
		text-align:center;
		overflow:hidden;
		.til{
			margin-top:118px;
		}
		.pas_box{
			overflow:hidden;
			position:relative;
			.pas{
				width: 338px;
				height:38px;
				padding-left:14px;
				color:$fontColor9e;
				margin-top:60px;
				border-radius:5px;
				outline:none;
				border: 1px solid $fontColor9e;
			}
			.yan{
				position:absolute;
				right: 422px;
				top: 69px;
				cursor:pointer;
				display:none;
			}
			.yan:hover{
				color:#ff7e12;
			}
			.yan_kai{
				position:absolute;
				right: 422px;
				top: 69px;
				cursor:pointer;
			}
			.yan_kai:hover{
				color:#ff7e12;
			}
		}
		.line{
			overflow:hidden;
			.line1,.line2,.line3{
				display:inline-block;
				width: 110px;
				height: 2px;
				margin-right:5px;
				background-color: #dddddd;
			}
		}
		.psd_til{
				overflow:hidden;
			.psd_til_1,.psd_til_2,.psd_til_3{
				display:inline-block;
				width: 110px;
				height: 12px;
				margin-left:2px;
				font-size:10px;
			}
			.psd_til_1{
				color:#e60012;
				display:none;
			}
			.psd_til_2{
				color:#ffc424;
				display:none;
			}
			.psd_til_3{
				color:#30a744;
				display:none;
			}
		}
		.say{
			overflow:hidden;
			margin-top: 44px;
			margin-bottom: 40px;
			color: $fontColor9e;
			p{
				margin-bottom:10px;
			}
		}
		.register_btn{
			width:260px;
			height:40px;
			background-color:$fontColor9e;
			border-radius:20px;
			outline:none;
			color:#fff;
			border: none;
		}
	}
	.success_page{
		width:100%;
		height:100%;
		.page_t{
			height: 40px;
			padding-left: 30px;
			padding-top: 23px;
			font-size:16px;
			color:$mainColor;
		}
		.page_l,.page_r{
			display:inline-block;
			width:49%;
			height:376px;
			margin-top:76px;
			text-align:center;
		}
		.page_l{
			border-right:1px solid $fontColor9e;
			.logo{
				margin: 20px auto;
				width:115px;
				height:96px;
				background:url("../../image/end.png")
			}
			p.zh{
				margin-top:128px;
				color:$fontColor9e;
				a{
					color:$mainColor;
				}
			}
		}
		.page_r{
			.bank_logo{
				width:296px;
				height:63px;
				background:url("../../image/bgbank.png") no-repeat;
				margin: 20px auto 10px auto;
				position:relative;
				a{
					position:absolute;
					right: 7px;
					top: -18px;
				}
			}
			p{
				font-size:17px;
			}
			p.gg{
				font-size:12px;
				color:red;
				margin-bottom:90px;
			}
			.cg_btn{
				display:block;
				line-height:40px;
				width:260px;
				height:40px;
				background-color: $mainColor;
				border-radius:20px;
				outline:none;
				color:#fff;
				border: none;
				margin: 29px auto 0 auto;
			}
		}
	}
}