body{background-color: #F2F3F7;font-family: PingFangSC-Regular}
.investSift{height:100%;}
.investSift .title{width:100%;height:.7rem;line-height: .7rem;font-size:.28rem;color:#333333;border-bottom: 1px solid #E0E0E0;}
.investSift .title span{display: inline-block;width:.06rem;height:.24rem;background-color: #FF7102;border-radius:.04rem;margin: 0 .14rem 0 .3rem;vertical-align: middle;}
.investSift .dis_none{display: none;}
.investSift .top_nav{width:100%;height:.9rem;position: fixed;background-color: #fff;z-index: 999;top:0;left:0;}
.investSift .top_nav ul{width:100%;height:100%;overflow: hidden;}
.investSift .top_nav ul li{float: left;width:33%;height:.9rem;font-size: .28rem;color:#999999;text-align: center;line-height: .9rem;position: relative;-webkit-tap-highlight-color: transparent;}
.investSift .top_nav ul li.on:after {content: " ";width:0.68rem;height:.06rem;background-color: #FF7102;position: absolute;left: 36%;bottom: 0;border-radius:3px;z-index: 5;}
.investSift .top_nav ul li.on {color:#FF7B00;}
.investSift .upload{width:100%;height:.6rem;background-color: #F2F3F7;}
.investSift .upload p{width:100%;height:.6rem;font-size:.24rem;color:#ccc;text-align: center;line-height: .6rem;}
.investSift .upload p i{margin-right:.14rem;}
.investSift .investSift_item{width:100%;position:fixed;top:0.9rem;left:0;background-color: #fff;}
.investSift .investSift_item .loan_info .info_details{width:100%;border-bottom:.2rem solid #F2F3F7;}
.investSift .investSift_item .loan_info .info_details p{height:.37rem;font-size:.26rem;padding: 0 .3rem;margin-bottom:.2rem;}
.investSift .investSift_item .loan_info .info_details p:first-child{margin-top:.35rem;}
.investSift .investSift_item .loan_info .info_details span{display: block;float:left;width:3.45rem;height:100%;line-height: .37rem;}
.investSift .investSift_item .loan_info .info_details span i{margin-right:.47rem;color:#999999;}
.investSift .investSift_item .loan_info .info_details span b{font-weight: 200;color:#333;}
.investSift .investSift_item .item_overview{overflow: hidden;}
.investSift .investSift_item .item_overview .overview_info{width:100%;height:5.61rem;padding-top: .25rem;border-bottom:.20rem solid #F2F3F7;}
.investSift .investSift_item .item_overview .overview_info .ts{margin: .15rem .4rem 0 .4rem;font-size:.2rem;color:#999999;}
.investSift .investSift_item .item_overview .overview_info ul{border-bottom:1px solid #e0e0e0;margin: 0 .4rem 0 .53rem;}
.investSift .investSift_item .item_overview .overview_info li{position: relative;margin: 0 0 .25rem 0}
.investSift .investSift_item .item_overview .overview_info li:after{content:"";display: block;position: absolute;width:.08rem;height:.08rem;border-radius: .08rem;background-color: #FF7B00;left:-.25rem;top:.18rem;}
.investSift .investSift_item .item_overview .overview_info li div{font-size:.26rem;color:#999999;}
.investSift .investSift_item .item_overview .overview_info li p{font-size:.26rem;color:#333333;}
.investSift .investSift_item .car_info{overflow: hidden;}
.investSift .investSift_item .car_info .info_details{width:100%;height:1.35rem;border-bottom:.2rem solid #F2F3F7;}
.investSift .investSift_item .car_info .info_details p{width:100%;height:.37rem;font-size:.26rem;padding: 0 .3rem;}
.investSift .investSift_item .car_info .info_details p:first-child{margin-top:.35rem;margin-bottom:.2rem;}
.investSift .investSift_item .car_info .info_details span{display: block;float:left;width:3.45rem;height:100%;line-height: .37rem;}
.investSift .investSift_item .car_info .info_details span i{margin-right:.47rem;color:#999999;}
.investSift .investSift_item .car_info .info_details span em{font-weight: 100;color:#333;font-style: normal;}
.investSift .investSift_item .check_information{width:100%;overflow: hidden;border-bottom: .2rem solid #F2F3F7;}
.investSift .investSift_item .check_information .information_pic{overflow-x: scroll;overflow-y: hidden;white-space:nowrap; height:1.42rem;margin: .3rem;}
.investSift .investSift_item .check_information .information_pic ul li{display: inline-block;width:1.9rem;height:1.42rem;margin-right:.2rem;}
.investSift .investSift_item .check_information .information_pic ul li img{width:100%;height:100%;}
.investSift .investSift_item .store_info{width:100%;overflow: hidden;border-bottom: .2rem solid #F2F3F7;}
.investSift .investSift_item .store_info .img_area{width:6.9rem;height:3.9rem;margin:.3rem auto .24rem auto;}
.investSift .investSift_item .store_info .img_area img{width:100%;height:100%;}
.investSift .investSift_item .store_info .addr{padding: 0 .28rem;font-size: .26rem;color:#999999;margin-bottom:.1rem;}
.investSift .investSift_item .store_info .addr i{display: inline-block;width:.26rem;height:.3rem;background: url(../img/addr.png) no-repeat center;background-size: 100%;vertical-align: middle;margin-right:.2rem;}
.investSift .investSift_item .store_info .addr span{color:#333333;}
.investSift .investSift_item .store_info .call{padding: 0 .28rem;font-size: .26rem;color:#999999;padding-bottom: .35rem;}
.investSift .investSift_item .store_info .call i{display: inline-block;width:.26rem;height:.3rem;background: url(../img/phone.png) no-repeat center;background-size: 100%;vertical-align: middle;margin-right:.2rem;}
.investSift .investSift_item .store_info .call span{color:#FF7102;}
.investSift .investSift_item .safeguard_step .step_info{height:3.42rem;padding: .24rem .51rem .07rem .31rem;font-size:.26rem;color:#333333;border-bottom:.2rem solid #F2F3F7;}
.investSift .investSift_item .safeguard_step .step_info p{line-height:.45rem;}
.investSift .investSift_item .money_mange .mange_info{height:1.72rem;padding: .24rem .51rem .21rem .31rem;font-size:.26rem;color:#333333;}
.investSift .investSift_item .borrow_record li{margin: 0 .3rem;height:1.37rem;border-bottom:1px solid #E0E0E0;overflow: hidden;font-size:.28rem;color:#333;}
.investSift .investSift_item .borrow_record li:last-child{border:none;}
.investSift .investSift_item .borrow_record li .phone{display: block;float:left;width:60%;height:100%;line-height:1.37rem;font-size:.28rem;color:#333333;}
.investSift .investSift_item .borrow_record li .phone span{display: inline-block;vertical-align: middle;width:.6rem;height:.3rem;zoom:0.5;}
.investSift .investSift_item .borrow_record li .phone .most{background: url(../img/most.png) no-repeat center;}
.investSift .investSift_item .borrow_record li .phone .first{background: url(../img/first.png) no-repeat;}
.investSift .investSift_item .borrow_record li .phone .less{background: url(../img/less.png) no-repeat;}
.investSift .investSift_item .borrow_record li .info{display: block;float:left;width:40%;height:100%;text-align: right;}
.investSift .investSift_item .borrow_record li .info dt{font-size:.28rem;color:#333;height:.4rem;line-height:.4rem;margin-bottom:.08rem;margin-top:.29rem;}
.investSift .investSift_item .borrow_record li .info dd{font-size:.22rem;color:#999999;height:.3rem;line-height:.3rem;}
/*合作门店*/
.investSift .investSift_item .store_info .site{padding: 0 .28rem;font-size: .26rem;color:#999999;margin-bottom:.1rem;}
.investSift .investSift_item .store_info .site i{display: inline-block;width:.26rem;height:.3rem;background: url(../img/site.png) no-repeat center;background-size: 100%;vertical-align: middle;margin-right:.2rem;}
.investSift .investSift_item .store_info .site span{color:#333333;}