*{font-family: "PingFang SC";}
.newcomer{height: 23rem; overflow: hidden;position: relative;background: url(../img/newcomer/newcomer_1.png)top no-repeat;background-size: 100%;}
.newcomer .header{width: 100%;height: 4.25rem;}
.newcomer .title{text-align: center;color: #000;font-size: 0.36rem;font-weight: bold;margin:0.15rem 0 0rem;}
.newcomer .dyq{width: 6.85rem;height: 3.27rem;margin: auto;font-size: 0.24rem;color: #fff;overflow:hidden;padding-left: .38rem;line-height: .35rem;background: url(../img/newcomer/newcomer_2.png)center no-repeat;background-size: 100%;}
.newcomer .dyq .top{font-size: 0.38rem;color: #fffb65;margin: .44rem 0 0.17rem;line-height: normal;font-weight: 900;}
.newcomer .btns{position: relative;height: .425rem;margin-bottom: 1.0rem;}
.newcomer .btn{display: block;width: 2.65rem;height: .85rem;position: absolute;left: 50%;margin-left: -1.325rem;top: -0.425rem; color: #fff;text-align: center;line-height: .85rem;font-size: .33rem;border-radius: .5rem;background: -webkit-linear-gradient(#F0B20F, #EA4D25);background: -o-linear-gradient(#F0B20F, #EA4D25);background: -moz-linear-gradient(#F0B20F, #EA4D25);background: linear-gradient(#F0B20F, #EA4D25);box-shadow: 0 5px 20px rgba(234,80,36,.8);}
.newcomer .jx{width: 5.84rem;height: 3.5rem;overflow: hidden;position: relative;z-index: 10; margin: auto;background: url(../img/newcomer/newcomer_12.png)center no-repeat;background-size: 100%;}
/*.newcomer .jx .content{width: 4.7rem;padding: 0 0.15rem 0 0.15rem;overflow: hidden;height: 1.9rem;margin: auto;border-radius: 0.1rem;background: #fff;margin-top: 0.5rem;}
.newcomer .jx .content .top{margin-top: 0.22rem;font-size: 0.22rem;color: #000;}
.newcomer .jx .content .top img{width: 0.7rem;height: 0.3rem;margin-left: 0.1rem;margin-bottom: 0.05rem;}
.newcomer .jx .content .middle{margin-bottom: 0.1rem;color: #FF7101;font-size: 0.2rem;}
.newcomer .jx .content .middle .num{font-size: 0.48rem;font-weight: 900;}
.newcomer .jx .content .middle .bfb{font-size: 0.3rem;margin-right: 1.32rem;}
.newcomer .jx .content .middle .month{font-size: 0.24rem;color: #000;}
.newcomer .jx .content .middle .rate{margin-top: 0.1rem;}
.newcomer .jx .content .middle .rate .rateLine{width: 65%;height: 0.03rem;background: -webkit-linear-gradient(left, #F0B20F, #EA4D25);background: -o-linear-gradient(left, #F0B20F, #EA4D25);background: -moz-linear-gradient(left, #F0B20F, #EA4D25);background: linear-gradient(left, #F0B20F, #EA4D25);}
.newcomer .jx .content .bottom{font-size: 0.2rem;color: #999;overflow: hidden;}
.newcomer .jx .content .bottom p:first-child{float: left;}
.newcomer .jx .content .bottom p:last-child{float: right;}
.newcomer .jx .position img{width: 1.68rem;height: 1.73rem;position: absolute;right: 0.8rem;top: 0;z-index: 2;}
.newcomer .jx .position .join{display: block;font-size: 0.12rem; outline: none;border: none; width: 1.1rem;height: 0.45rem;color: #fff;text-align: center;line-height: 0.4rem;background: #F98233;border-radius: 0.3rem;position: absolute;right: 0.4rem;top: 1.25rem;z-index: 1;}*/
.newcomer .titles1{width: 5.66rem;height: 0.19rem; margin: auto;}
.newcomer .titles1 img{vertical-align: top;height: 100%;}
.newcomer .titles2{width: 5.26rem;height: 0.2rem; margin: auto;}
.newcomer .titles2 img{vertical-align: top;height: 100%;}
.newcomer ul{width: 90%;padding: 0 5%; margin: .6rem 0 .37rem;overflow: hidden;font-size: 0.24rem;color: #999999;}
.newcomer ul li{float: left;width: 50%;text-align: center;}
.newcomer ul li.margin{margin-bottom: 1.05rem;}
.newcomer .footer{width: 100%;max-width: 414px;height: 1.24rem;}
.newcomer .footers{display: block;width: 100%;max-width: 414px;height: 1.24rem;position: fixed;bottom: 0;z-index: 100; background: url(../img/newcomer/newcomer_9.png)center no-repeat;background-size: 100%;}