@import "../common/mixin";
@import "../common/layout";
.fl{
	float:left;
}
.fr{
	float:right;
}
.kd{
	background-color: $mainColor!important;
}
.color{
	background-color: #f25d14!important;
}
i.del{
	position:absolute;
	right:8px;
	top:6px;
	cursor:default;
	font-size:18px;
	display:none;
	color:#9e9e9e;
}
i.del:hover{
	color:#ff7400;
}
.main{
	background-color:#fff;
	height:600px;
	margin-top:30px;
	margin-bottom:198px;
	.login_top{
		height: 41px;
		color:$fontColor9e;
		font-size:12px;
		span.til{
			padding: 22px 0 0 30px;
		}
		span.zc{
			padding: 22px 30px 0 0;
			a{
				color:$mainColor;
			}
		}
	}
	.main_mid{
		width:60%;
		height:80%;
		margin: 93px auto;
		text-align:center;
		.login_logo{
			width: 179px;
			height: 78px;
			background:url("../../image/login.png") no-repeat;
			margin: 0 auto 0 auto;
		}
		.user_name{
			position:relative;
			margin:50px auto 20px auto;
			width:340px;
			height:40px;
			input{
				display:block;
				width: 323px;
				height: 38px;
				border-radius: 5px;
				padding-left: 15px;
				outline:none;
				border: 1px solid #dddddd;
			}
		}
		.user_password{
			position:relative;
			margin:0px auto 20px auto;
			width:340px;
			height:40px;
			input{
				display:block;
				width: 323px;
				height: 38px;
				border-radius: 5px;
				padding-left: 15px;
				outline:none;
				margin:0 auto;
				border: 1px solid #dddddd;
			}
			.psd_til{
				i{
					font-size:12px;
				}
				width:150px;
				color:#e60012;
				font-size:12px;
				position:absolute;
				top:11px;
				left:370px;
				display:none;
			}
		}
		.slider{	display:block;
					margin: 20px auto 0 182px;
				}
		.login_btn{
			display:block;
			width:260px;
			height:40px;
			background-color:$fontColor9e;
			color:#fff;
			border-radius:20px;
			font-size:12px;
			cursor: pointer;
			padding-left:0;
			border:none;
			outline:none;
			margin: 50px auto 20px auto;
		}
		.foget_psd{
			color:$fontColor9e;
		}
	}
}