/*主色*/
$mainColor:		#ff7400;
/*辅色*/
$assistColor:	#d7c08e;
/*网页背景*/
$bgColor:		#f2f2f2;
/*分割线和线框*/
$borderColor: 	#ddd;
/*说明性或辅助线文字*/
$fontColor9e: 	#9e9e9e;

$fontSize12:		12px;
$fontSize14:		14px;
$fontSize16:		16px;
// 网站定宽
@mixin width-max{
    width:1180px; 
    margin:auto;
}
@mixin height-line($height:40px){
    height:$height;
    line-height: $height;  
}