body{background: #fff;overflow-x:hidden }
.pro{font-size: 0.28rem;}
.mr_justify{width: 90%;padding: 0 5%}
p.t{font-size: .3rem;height: .86rem;line-height: .86rem;background: #f3f3f3;width: 90%;padding: 0 5%;color: #333}
.pro_gs{background: #fff;width: 90%; padding: 3% 5%;color: #777}
.pro_gs li{line-height: .35rem;margin-bottom: .1rem}
.pro_da li{height: .8rem;background: #fff;border-bottom: 1px solid #d8d8d8}
.pro_da li div:last-child{color: #777}
.pro_da li:last-child{border-bottom: 0}
/*.pro_gs ul{font-size: 0.28rem;background: #fff;width: 90%;marg}*/

.swiper-container {
    /*width: 2rem;*/
    height: 1.3rem;
    margin: .5rem auto;
    /*overflow: hidden;*/
}
.swiper-container img{height: auto;width: 100%}
.swiper-slide {
    text-align: center;
    background: #f3f3f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.store img{margin: .5rem 0;}
.store p{color: #333;margin-bottom: .2rem}
.store p i{color: #ff711c;width: 5%;margin-right: 0.1rem}
.store p span{width: 95%;}