.law{}
.law p{font-size: .32rem;height: .8rem;line-height: .8rem;color: #333;background: #f3f3f3;padding: 0 5%;}
.law ul li{font-size: .28rem;background: #fff;/*height: 1.06rem;line-height: 1.06rem;*/border-bottom: 1px solid #d8d8d8;padding: .4rem 5%;}
.law ul li:last-child{border-bottom: 0}
.law ul li a{color: #777}

