html,body{overflow-x: hidden;}
*{padding: 0;margin: 0;}
ul,li{list-style:none;}
.max_width{max-width: 414px;margin: 0 auto;}
img{width: 100%;vertical-align: middle;}
a{text-decoration: none;}
i{font-style: normal;}
@font-face {font-family: "iconfont";
 src:
  url('iconfont/iconfont.ttf?t=1485053008706') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont/iconfont.svg?t=1485053008706#iconfont') format('svg'); /* iOS 4.1- */

}

.iconfont {
  font-family:"iconfont" !important;
  /*font-size:16px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:-moz-box;display:flex;}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.flex_align_center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.flex_pack_center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
.flex_pack_justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
