@import "../../common/mixin";
.max-width{@extend %clearfix;}
.uc_main{
	margin: 30px 0 50px;@extend %clearfix;
	.uc_right{
		float:left;
		margin-left: 20px;
	}
}
.uc_invest_main{
	width:940px;
	min-height: 915px;
}
.sift_detailsT{
	background-color:#fff;
	height:341px;
	.sift_tit{
		@include height-line(50px);
		border-bottom:1px solid #f2f2f2;
		color:$fontColor70;
		font-size:$fontSize16;
		a{
			float:left;
			font-size:$fontSize20;
			color:$fontColor70;
			margin-left:30px;
			&:hover{
				color:$fontColor74;
			}
		}
		p{
			float:left;
			margin-left:10px;
		}
		.returnCol0,.returnCol1{
			color:$fontColor9e;
		}
		.returnCol5{
			color:$fontColorbd;
		}
		.returnCol2{
			color:$fontColor19;
		}
	}
	.sift_con{
		@extend %clearfix;
		padding:0 30px;
		table{
			width:100%;
			border-collapse: collapse;
			margin-top:65px;
			tbody{
				margin-top:10px;
			}
			th{
				font-weight: normal;
				font-size:$fontSize14;
				color:$fontColor9e;
				text-align: left;
				.hint{
					display: inline-block;
					position: relative;
					cursor: pointer;
				}
			}
			td{
				@include height-line(50px);
				font-size:24px;
				color:$fontColor74;
			}
			.td_font{
				font-size:$fontSize14;
				span{
					font-size:24px;
				}
			}
		}
		.sift_con_mes{
			overflow: hidden;
			height:60px;
			margin-top:50px;
			.sift_con_mesL{
				float: left;
				width:656px;
				li{
					width:50%;
					float: left;
					font-size:$fontSize14;
					color:$fontColor9e;
					line-height:30px;
					span{
						color:$fontColor70;
					}
				}
			}
			.sift_con_mesR{
				float: right;
				font-size:$fontSize14;
				color:$fontColor9e;
				text-align: right;
				margin-top:5px;
				a{
					display: block;
					color:#668bc8;
					line-height: 24px;
				}
			}
		}
	}
}
.sift_detailsB{
	height:566px;
	background-color:#fff;
	margin-top:10px;
	.sift_detailsBTit{
		border-bottom: 1px solid #f2f2f2;
		font-size:$fontSize16;
		color:$fontColor70;
		@include height-line(50px);
		padding-left: 30px;

	}
	.sift_detailsBcom{
		.dis_none{display:none;}
		table{
			margin-top:10px;
			width:100%;
			font-size:$fontSize14;
			border-collapse: collapse;
			.trColor{
				background-color:$bgColorfb;
			}
			.th_wid{width:130px;}
			th{
				@include height-line(50px);
				color:$fontColor70;
				text-align: left;
			}
			td{
				@include height-line(50px);
				text-align: left;
				color:$fontColor70;
			}
			.td_name{
				width:100px;
				padding-right:30px;
				a{
					display: inline-block;
					float: left;
					width:100px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					color:$fontColor74;
				}
			}
			.tb_oper{
				color:$fontColor9e;
				a{
					color:#668bc8;
				}
			}
			.returnCol1{
				color:$fontColorbd;
			}
			.returnCol0{
				color:$fontColor19;
			}
			.padd_left{
				padding-left:30px;
			}
		}
		.pageList{
			margin-top:30px;
		}
		.null_data{
			background-color:#fff!important;
			.null_data_bg{
				width:85px;
				height:61px;
				margin:160px auto 15px;
				background:url(../../../image/no_data.png) no-repeat;
			}
			p{
				text-align: center;
				font-size:$fontSize14;
				color:$fontColor9e;
			}
		}
		.td_wid{
			width:15%;
		}
		.p_tit{
			width:100%;
			@include height-line(40px);
			background-color:#f2f2f2;
			font-size:$fontSize14;
			color:$fontColor9e;
			padding-left:10px;
			margin:15px 0 0 -20px;
		}
	}
}
