*{box-sizing:border-box;}
html,body{width:100%;height:100%;font-family:"Microsoft YaHei";}
/*login*/
.fl{float: left;}
.fr{float: right;}
.dis_none{display:none;}
input,textarea{-webkit-appearance: normal; -moz-appearance: normal; -o-appearance: normal; appearance: normal;border:none;outline:none}
input::-webkit-input-placeholder{color: #cacaca;}
input:-moz-placeholder{color:#cacaca;}
input::-moz-placeholder{color:#cacaca;}
input:-ms-input-placeholder{color:#cacaca;}
.login{text-align:center;}
.login .login_top{height:2.74rem;overflow: hidden;}
.login .iconfont{font-size:1.4rem;color:#ff7400;margin-top:0.9rem;}
.login .form{}
.login .form li{width:6rem;height:0.8rem;margin:0 auto;border:1px solid #cacaca;overflow: hidden;}
.login .form li span{height:0.8rem;line-height:0.8rem;font-size:0.32rem;margin:0 0.4rem 0 0.2rem;color:#626262;}
.login .form li .psw_shw{display:none;margin:0 0.2rem 0 0;color:#ff7400;}
.login .form li input{height:98%;width:70%;font-size:0.3rem;color:#212a36;caret-color:#ff7400;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.login .form li:nth-child(2){border-top:none;}
.login .form .sub input{font-size:0.3rem;border-radius:4px;color:#fff;width:6rem;height:0.8rem;background-color:#ffc799;}
.login .form .sub .sub_btn{background-color:#ff7400;-webkit-appearance:none;}
.layui-m-layer-login_show .layui-m-layercont{padding:0.2rem 0.3rem;font-size:0.28rem;overflow: hidden;}
.layui-m-layer-login_show .iconfont{float: left;font-size:0.38rem;color:#d7d8d9;margin-right:0.2rem;}
.layui-m-layer-login_show p{float: left;}
.box{position: relative;width:100%;height:100%;}
.loading{position:absolute;left:0;top:0;text-align:center;padding-top:4.46rem;width:100%;height:100%;background-color:#f2f3f7;}
.loading p{font-size:0.28rem;color:#b6b5b6;margin-top:0.2rem;}
.loading .loading_top{width: 1rem; height: 0.98rem; position: relative;margin:0 auto;}
.loading .loading_top .icon_log{position: absolute; left: 0.088rem; top: 0.077rem;z-index:999;width: 0.82rem;height:0.82rem;line-height:0.5rem;background: #fff; border-radius: 50%;text-align: center;}
.loading .loading_top .icon_log .iconfont{font-size:0.6rem;color:#ff7400;}
.loading .loading_top .pro{z-index:9;width:0.98rem;height:0.98rem;background-color:#ffb87c;border-radius: 50%;}
.loading .loading_top .left,.right{width: 0.499rem;height: 0.98rem;overflow: hidden; position: relative; float: left;}
.loading .loading_top .left{ border-radius: 40px 0 0 40px;}
.loading .loading_top .right{ border-radius: 0 0.8rem 0.8rem 0;}
.loading .loading_top .left:after,.right:after{content:"";  position:absolute; display:block; width: 0.499rem;height: 0.98rem; background-color: white;border-radius: 0.8rem 0 0 0.8rem;background-color: #ff7400;}
.loading .loading_top .right:after{content:"";  position:absolute; display:block;   border-radius: 0 0.8rem 0.8rem 0; }
.loading .loading_top .left:after{-webkit-animation:rotateA 2s infinite linear; transform-origin:right center;}
.loading .loading_top .right:after{-webkit-animation:rotateB 2s infinite linear; transform-origin:left center;}
@-webkit-keyframes rotateB{25%,50%{transform:rotateZ(180deg);}75%,100%{transform:rotateZ(360deg);}}
@-webkit-keyframes rotateA{0%,25%{transform:rotateZ(0deg);}50%,75%{transform:rotateZ(180deg);}100%{transform:rotateZ(360deg);}}

/*详情页*/
.perfor{width:100%;background-color:#fff;z-index: 999;}
.perfor .perfor_top{width:100%;padding-bottom:0.3rem;overflow:hidden;background:-webkit-linear-gradient(top,#ff7400,#ffa700);background: -moz-linear-gradient(top, #ff7400, #ffa700);background: -o-linear-gradient(top,#ff7400, #ffa700);}
.perfor .top_mess{overflow: hidden;padding:0.2rem 0.3rem;}
.perfor .top_mess .top_l{width:0.76rem;height:0.76rem;margin-right:0.2rem;border-radius: 50%;background-color:#fff;text-align:center;line-height:0.74rem;color:#ff7400;font-size:0.44rem;}
.perfor .top_mess .top_c .name{font-size:0.28rem;color:#fff;}
.perfor .top_mess .top_c span{margin-right:0.3rem;cursor: pointer;}
.perfor .top_mess .top_c .compile{font-size:0.32rem;}
.perfor .top_mess .top_c .duty{font-size:0.24rem;color:#ffcf99;}
.perfor .top_mess .top_r{margin-top:0.25rem;}
.perfor .top_mess .top_r span{display: inline-block;width:1rem;height:0.38rem;line-height:0.38rem;text-align:center;font-size:0.24rem;color:#fff;border:1px solid #fff;border-radius: 2px;}
.layui-m-layer-out_show .layui-m-layercont{width:5.1rem;height:1.46rem;line-height:1.46rem;text-align:center;font-size:0.3rem;color:#212a36;padding:0;}
.layui-m-layer-out_show .layui-m-layerbtn span{font-size:0.3rem;color:#626262;}
.perfor .bot_mess{width:100%;height:2.3rem;}
.perfor .bot_mess .bot_mess_view{width:6.3rem;height:100%;display:inline-block;text-align:center;overflow: hidden;position: relative;}
.perfor .bot_mess .bot_mess_view ul{width:1000%;height:100%;position: absolute;left:0;top:0;}
.perfor .bot_mess .bot_mess_view ul li{width:6.4rem;height:100%;float: left;}
.perfor .bot_mess .bot_mess_box{width:100%;height:100%;}
.perfor .bot_mess .mess_com{text-align: center;}
.perfor .bot_mess .iconfont{line-height:2rem;color:#fff;}
.perfor .bot_mess #left{padding-left:0.2rem;}
.perfor .bot_mess #right{padding-right:0.2rem;}
.perfor .bot_mess .close{opacity:0.5;}
.perfor .bot_mess .wire{display: inline-block;width:1px;height:1rem;background-color:#ffd899;margin-top:0.3rem;}
.perfor .bot_mess .mess_com p:nth-child(1){font-size:0.48rem;color:#fff;margin-top:0.3rem;}
.perfor .bot_mess .mess_com p:nth-child(2){font-size:0.24rem;color:#ffd799;margin-top:0.2rem;}
.perfor .bot_mess .mess_com p:nth-child(3){font-size:0.24rem;color:#fff;margin-top:0.38rem;}
.perfor .bot_mess .mess_com p span{font-size:0.26rem;}
.perfor .bot_mess .mess_com .iconfont{font-size:0.28rem;line-height:0.2rem;}
.perfor .perfor_report{background-color:#fff;}
.perfor .perfor_team{margin-top:0.2rem;}
.perfor .perfor_report .report_top{width:100%;line-height:0.8rem;font-size:0.28rem;color:#212a36;border-bottom: 1px solid #e4e4e4;padding:0 0.3rem;}
.perfor .perfor_report .report_con{width:100%;height:3.37rem;overflow: hidden;}
.perfor .perfor_report .report_con .report_con_top{margin:0.6rem 0 0.3rem 0;}
.perfor .perfor_report .report_con div{text-align: center;}
.perfor .perfor_report .report_con p{font-size:0.42rem;color:#212a36;}
.perfor .perfor_report .report_con span{display:inline-block;font-size:0.24rem;color:#7e7e7e;margin-top:0.16rem;}
.perfor .perfor_table{height:100%;margin-top:0.2rem;overflow: hidden;}
.perfor .perfor_table .perfor_table_top{width:100%;height:0.8rem;line-height:0.8rem;background-color:#fff;border-bottom: 1px solid #e4e4e4;padding:0 0.3rem;font-size:0.24rem;color:#212a36;z-index: 999;}
.perfor .perfor_table .perfor_table_top li{float:left;margin-right:0.5rem;padding:0 0.1rem;}
.perfor .perfor_table .perfor_table_top li.on{height:0.8rem;border-bottom: 0.04rem solid #ff7400;color:#ff7400;}
.perfor .perfor_table .perfor_table_com{background-color:#f2f3f7;}
.perfor .perfor_table .perfor_table_com .iscrolls{background-color:#fff;overflow: hidden;}
.perfor .perfor_table .perfor_table_com .txt{font-size:0.24rem;color:#212a36;padding:0.4rem 0.3rem 0;background-color:#fff;}
.perfor .perfor_table .perfor_table_com .table_box{padding:0 0.2rem 0.2rem;margin-top:0.4rem;}
.table_box table{width:100%;}
.table_box table tbody{border-bottom:1px solid #cacaca;}
.table_box table tr{border:1px solid #cacaca;border-bottom:none;height:0.55rem;line-height:0.55rem;background-color:#fff;}
.table_box table th{font-weight: normal;background-color:#f2f3f7;font-size:0.2rem;color:#626262;padding:0 0.2rem;}
.table_box table td{font-size:0.24rem;color:#212a36;padding:0 0.2rem;}
.table_box table .tr_on td{color:#ff7400;}
.table_box table th:nth-child(1){text-align: left;padding-left:0.2rem;}
.table_box table th:nth-child(2){text-align: left;}
.table_box table th:nth-child(3){text-align: right;}
.table_box table th:nth-child(4){text-align: right;}

.table_box table td:nth-child(1){text-align: left;}
.table_box table td:nth-child(2){text-align: left;}
.table_box table td:nth-child(3){text-align: right;}
.table_box table td:nth-child(4){text-align: right;}

.perfor .con_date{width:100%;height:0.6rem;padding-left:0.3rem;line-height:0.6rem;background-color:#f2f3f7;font-size:0.24rem;color:#212a36;overflow: hidden;}
.perfor .con_date .iconfont{font-size:0.32rem;color:#626262;padding:0 0.3rem 0 0.5rem;}
.perfor .perfor_con{background-color:#f2f3f7;}
.perfor .Loading,.not_data{width:100%;background-color:#fff;overflow: hidden;}
.perfor .not_data div{width:1.1rem;height:1.7rem;background:url(../img/not_data.png) no-repeat;background-size:100% 100%;margin:2.1rem auto;}
.perfor .Loading div{text-align: center;margin:2.1rem auto;}
.perfor .Loading span{display:inline-block;width:0.42rem;height:0.42rem;background:url(../img/loading.gif) no-repeat;background-size:100% 100%;}
.perfor  .Loading p{font-size:0.28rem;color:#b6b5b6;margin-top:0.2rem;}

.mui-pull .mui-pull-caption{font-size:0.26rem;font-family:"Microsoft YaHei";}

/*修改密码*/
.layui-m-layer-psw_show .layui-m-layercont{padding:0;}
.psw_show{width:5.1rem;background-color:#fff;text-align:center;overflow: hidden;}
.amend_psw{width:100%;height:100%;overflow: hidden;}
.amend_psw .title{font-size:0.32rem; color:#212a36;margin-top:0.6rem;}
.amend_psw .txt{width:100%;height:0.6rem;line-height:0.6rem;}
.amend_psw .txt p{font-size:0.2rem;color:#ff7a00;}
.amend_psw ul{overflow: hidden;padding:0 0.2rem;}
.amend_psw li{width:100%;height:0.58rem;border:1px solid #cacaca;margin-bottom:0.3rem;border-radius: 2px;}
.amend_psw li span{float:left;display: inline-block;width:1.38rem;line-height:0.58rem;border-right:1px solid #cacaca;font-size:0.24rem;color:#626262;}
.amend_psw li input{float:left;width:3.05rem;height:100%;font-size:0.24rem;padding-left:0.2rem;}
.amend_psw .psw_bot{width:100%;height:0.8rem;border-top:1px solid #e4e4e4;margin-top:0.2rem;}
.amend_psw .psw_bot span{display:inline-block;width:49%;float:left;line-height:0.8rem;font-size:0.3rem;}
.amend_psw .psw_bot span:nth-child(1){color:#626262;border-right: 1px solid #e4e4e4;cursor: pointer;}
.amend_psw .psw_bot span:nth-child(2){color:#ffb48d;}
.amend_psw .psw_bot span.affirm{color:#ff7400;cursor: pointer;}
.suc{width:100%;height:100%;padding:40% 0;}
.suc .iconfont{font-size:0.8rem;color:#ff7400;}
.suc p{font-size:0.28rem;color:#212a36;margin-top:0.2rem;}




