body{background-color:#f2f3f7;}
h2{font-size:0.32rem;color:#044ccc;}
.i1{display:inline-block;width:0.06rem;height:0.2rem;margin-right:0.1rem;border-radius:0.05rem;background-color:#09dfe4;transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg);}
.i2{display:inline-block;width:0.06rem;height:0.2rem;margin-right:0.1rem;border-radius:0.05rem;background-color:#0851d5;transform:rotate(45deg); -webkit-transform:rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg);}
.deposit_top{width:100%;height:4.98rem;background:url(../images/deposit/deposit-top.png) no-repeat;background-size:100% 100%;}
.deposit_what{width:94%;height:2.85rem;background-color:#fff;font-size:0.18rem;padding:0 3%;overflow: hidden;}
.deposit_what p{color:#333;line-height:0.36rem;font-size:0.22rem;}
.deposit_what h2{margin:0.55rem 0 0.35rem 0;text-align:center;}

.deposit_how{width:94%;margin-top:0.2rem;padding:0 3% 0.38rem 3%;background-color:#fff;font-size:0.2rem;overflow: hidden;}
.deposit_how h2{margin:0.65rem 0 0.37rem 0;text-align:center;}
.deposit_how p{color:#333;line-height:0.36rem;font-size:0.22rem;}
.deposit_how .bg_img{width:5.8rem;height:6.7rem;background:url(../images/deposit/deposit-how1.png) no-repeat;background-size:100% 100%;margin:0.3rem 0 0 0.58rem;}

.deposit_todo{width:94%;padding:0 3% 0.8rem 3%;background-color:#fff;margin-top:0.2rem;font-size:0.2rem;overflow: hidden;}
.deposit_todo h2{margin-top:0.6rem;text-align:center;}
.deposit_todo div{width:100%;height:3.80rem;display:box;display:-webkit-box;display: -moz-box;margin-top:0.38rem;}
.deposit_todo dl{-webkit-box-flex: 1;-moz-box-flex: 1;-ms-box-flex: 1;box-flex: 1;color:#333;}
.deposit_todo div dl:nth-child(1){border-right:1px solid #b3ccf9;padding:0.45rem 0.3rem 0 0.2rem;}
.deposit_todo div dl:nth-child(2){padding:0.45rem 0.23rem 0 0.4rem;}
.deposit_todo .dl_left{width:1.55rem;height:1.25rem;margin:0 auto 0;background:url(../images/deposit/deposit-todo1.png) no-repeat;background-size:100% 100%;}
.deposit_todo .dl_right{width:1.55rem;height:1.25rem;margin:0 auto 0;background:url(../images/deposit/deposit-todo2.png) no-repeat;background-size:100% 100%;}
.deposit_todo dl dd{color:#333;line-height:0.36rem;font-size:0.22rem;margin-top:0.6rem;}
.deposit_todo #btns{display:block;width:100%;height:0.83rem;background-color:#044ccd;border-radius:0.5rem;color:white;font-size:0.32rem;text-align:center;line-height:0.83rem;font-weight: bolder;margin-top:0.51rem;box-shadow: 0 0.1rem 0.1rem #89abe7;}

.deposit_question{width:94%;background-color:#fff;margin-top:0.2rem;font-size:0.2rem;overflow: hidden;padding:0 3% 0.4rem 3%;}
.deposit_question h2{margin-top:0.7rem;text-align:center;margin-bottom:0.53rem;}
.deposit_question h3{font-size:0.23rem;color:#044dce;line-height:0.4rem;margin-bottom:0.13rem;}
.deposit_question .one i{float:left;margin-right:0.15rem;display:inline-block;width:0.4rem;height:0.4rem;background:url(../images/deposit/question-icon1.png) no-repeat;background-size:100% 100%;}
.deposit_question .two i{float:left;margin-right:0.15rem;display:inline-block;width:0.4rem;height:0.4rem;background:url(../images/deposit/question-icon2.png) no-repeat;background-size:100% 100%;}
.deposit_question .thr i{float:left;margin-right:0.15rem;display:inline-block;width:0.4rem;height:0.4rem;background:url(../images/deposit/question-icon3.png) no-repeat;background-size:100% 100%;}
.deposit_question .fr i{float:left;margin-right:0.15rem;display:inline-block;width:0.4rem;height:0.4rem;background:url(../images/deposit/question-icon4.png) no-repeat;background-size:100% 100%;}
.deposit_question div p{margin-left:0.55rem;font-size:0.22rem;color:#333;line-height:0.36rem;}
.deposit_question div{margin-bottom:0.5rem;}
.deposit_question div .p_color{color:#999;}
.deposit_question div ul li span{margin-right:0.1rem;display:inline-block;width:0.08rem;height:0.08rem;border-radius: 0.5rem;background-color:#0a60f7;}
.deposit_question div ul li{line-height:0.4rem;margin:0.05rem 0 0 0.55rem;font-size:0.22rem;color:#333;}

