/*
 * 用户等级素材 for h5
 * @author yangcai@showjoy.com
 * @last 2014/12/15
 */
.ui-icon-level {
  & {
    background-image: url("//cdn1.showjoy.com/images/b3/b3b049629cc34f5aa7341f77ca235638.png");
    background-repeat: no-repeat;
  }
  &.v0 {
    background-position: -51px / 2 0;
  }
  &.v1 {
    background-position: 0 0;
  }
  &.v2 {
    background-position: -17px / 2 0;
  }
  &.v3 {
    background-position: -34px / 2 0;
  }
}