@import "mixin";
/*css reset*/
*{
	margin: 0;
	padding:0;
}
img{border:0;outline:0}
a{text-decoration: none;}
a:hover{cursor: pointer;}
ul,li{
  list-style:none;
}
body{
	background: $bgColor;
  font:14px/1.6 '\5FAE\8F6F\96C5\9ED1',arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

/*开发阶段链接在线地址*/
@font-face {
  font-family: 'iconfont';  /* project id 386611 */
  src: url('//at.alicdn.com/t/font_386611_hik0hrua2nsif6r.eot');
  src: url('//at.alicdn.com/t/font_386611_hik0hrua2nsif6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_386611_hik0hrua2nsif6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_386611_hik0hrua2nsif6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_386611_hik0hrua2nsif6r.svg#iconfont') format('svg');
}
.iconfont {
            font-family:"iconfont" !important;
            font-size:16px;
            font-style:normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
}
.max_width{
	         @include width-max;
}
.top{
      width: 100%;
      background: $bgColor;
      height: 42px;
      line-height: 40px;
      font-size:$fontSize12;
      color:$fontColor9e;
      overflow:hidden;
      .left{
            float:left;
            span{
                  float:left
            }
            dl{
                float:left;
                dd{
                    float:left;
                    margin-right:10px;
                    &.iconfont{
                                font-size:22px;

                    }
                }
            }
      }
      .right{
              float:right;
              ul li{    
                    float:left;
                    margin-left:30px;
                    /*vertical-align: top;*/
                    a{
                      color:$fontColor9e;
                      &:hover{
                              color:$mainColor;
                      }
                      .iconfont{
                                font-size:20px;
                                vertical-align: top;
                                margin-right: 5px;
                      }
                    }
              }
    }
}


.nav{
      @extend %clearfix;
      background:#fff;
      height:71px;
      // overflow:hidden;
      .logo{
            float:left;
      }
      .navigate{
                float:right;
                ul{
                    float:left;
                    // overflow:hidden;
                    li{
                        width: 110px;
                        text-align: center;
                        float:left;
                        font-size:$fontSize16;
                        color:#333;
                        // margin-top:24px;
                        line-height:70px;
                        @include border-style($b-color:#fff);
                        border-bottom:0;
                        position: relative;
                        &.on{
                          @include border-style;
                          a{color:$mainColor;
                            .iconfont{-webkit-transform: rotate(-180deg);}
                          }
                          & dd a{color:$fontColor70}
                        }
                        a{
                      
                          @include height-line(30px);
                          display:inline-block;
                          color:#333;
                          .iconfont{
                                      font-size:12px;
                                      -webkit-transition: transform 0.1s linear;
                                      display:inline-block;
                                      width:18px;
                                      vertical-align:middle;
                                      text-align:center;
                                      margin:-2px 0 0 3px;
                                      // background:pink;
                                      @include height-line(18px);
                          }
                          &:hover{
                            color:$mainColor;
                            // .iconfont{
                            //   -webkit-transform: rotate(-180deg);
                            // }
                          }
                        }
                        
                        dl{
                            @include border-style;
                            border-top:0;
                            background:#fff;
                            width:110px;
                            position:absolute;
                            top:69px;
                            
                            left:-1px;
                            display:none;
                             
                            dd{
                                @include height-line(40px);
                                display:block;
                                font-size:$fontSize14;
                                &:hover a{
                                          // @extend .rotate;
                                          color:$fontColor70;
                                          font-weight:bold; 
                                }
                            }
                        }
                    }
                }
      }
      .uc{
            float:left;
            @include border-style($b-radius:3px);
            width:125px;
            @include height-line(34px);
            text-align:center;
            margin:16px 0 0 30px;

      }
}
 
.xx{@extend %clearfix;}
.footer_nav{
            @extend %clearfix;
            width:100%;
            background:#fff;
            padding:20px 0;
            .kf{
                color:$fontColor9e;
                
                float:left;
                ol{
                    @extend %clearfix;
                    li{
                        float:left;
                        margin-right:20px;
                        dd{font-size:24px;color:$fontColor333}
                    }
                }
                p{
                  margin-top:5px
                }
                a{
                  @include border-style($b-radius:15px);
                  margin-top:10px;
                  display:inline-block;
                  color:$fontColor9e;
                  padding:0 10px;
                }     
            }
            .fnav{
                  float:left;

                  dl{
                    float:left;
                    margin:0 0 0 50px;
                  }
            }
}









// .fl{float:left}