<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <title>卓望业务支撑服务地图.</title>
    <script>
    addEventListener('resize', function f() {
        var html = document.documentElement,
            width = html.clientWidth,
            height = html.clientHeight;
        html.style.fontSize = (width > height * 4 / 3 ? height * 4 / 3 : width) * 100 / 2000 + 'px';
        return f
    }());
    </script>
    <link rel="stylesheet" type="text/css" href="main2.css?v=7">
    <link rel="stylesheet" type="text/css" href="animate.css?v=7">
</head>

<body>
    <div id="vue">
        <div class="container">
            <div class="bg animated duration10 pulse infinite"></div>
            <div class="header">
                <img src="img/header.png">
            </div>
            <div class="map">
                <span v-for="(item,name) in coords" :class="{c2:name.match(/中移|基地|巴基斯坦/)}" :style="{left:item[0]+'rem', top:item[1]+'rem'}" @click="showPage1(name)"><i></i> <label v-text="name"></label></span>
                <div class="tooltip">
                    <ul>
                        <li @click="showPage1('移动集团')">移动集团</li>
                        <li @click="showPage1('设计院')">设计院</li>
                        <li @click="showPage1('研究院')">研究院</li>
                        <li @click="showPage1('信安中心')">信安中心</li>
                        <li @click="showPage1('终端公司')">终端公司</li>
                        <li @click="showPage1('集团政企')">集团政企</li>
                        <li @click="showPage1('咪咕公司')">咪咕公司</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="overlay p1" style="display: none"></div>
        <div class="overlay p2" style="display: none"></div>
        <div class="page1" style="display:none">
            <div class="inner">
                <h2 :class="{s:curName.length>4}">{{curName}}</h2>
                <div class="dialog">
                    <b class="close"></b>
                    <div class="bg">
                        <div class="t"></div>
                        <div class="m"></div>
                        <div class="b"></div>
                    </div>
                    <div class="body">
                        <ul>
                            <li v-for="item in list1" @click="showPage2(item)">
                                <label>{{item['类别']}}</label>
                                <span>{{item['项目名称']}}</span>
                            </li>
                        </ul>
                        <div v-if="list2.length" class="divider">
                            <span>合作机会</span>
                        </div>
                        <ol>
                            <li v-for="item in list2" @click="showPage2(item,true)">{{item}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="page2" style="display: none">
            <div class="bg"></div>
            <div class="content">
                <b class="close"></b>
                <h2>{{detail['项目名称']||detail['类别名称']}}</h2>
                <p>{{detail['项目介绍']||detail['类别介绍']}}</p>
                <ul>
                    <li v-for="item in detailImgList">
                        <img :src="'data/img/'+item">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="data/coords.js?v=7"></script>
    <script src="data/data.js?v=7"></script>
    <script src="data/catDesc.js?v=7"></script>
    <script src="lib/vue.js?v=7"></script>
    <script src="lib/Array.js?v=7"></script>
    <script src="lib/$.js?v=7"></script>
    <script>
    var vue = new Vue({
        el: '#vue',
        data: {
            coords: coords,
            json: json,

            curName: '',
            list1: [],
            list2: [],
            detail: {}, // 项目介绍||类别介绍
            detailImgList: []
        },
        watch: {
            curName: function() {
                this.list1 = json.select({ '省份': this.curName })
                this.list2 = json.select({ '省份': this.curName }).key('下方类别').split('\\').remove('')

            },
        },
        methods: {
            showPage1: function(name) {
                this.curName = name

                $('.page1').show('animated zoomInDown')
                $('.overlay.p1').show('animated fadeIn')
            },
            showPage2: function(item, isCat) {
                var vue = this
                if (isCat) {
                    this.detail = catDesc.get({ '类别名称': item })
                } else {
                    this.detail = item
                }

                var imgs = (this.detail['配图说明'] || this.detail['配图']) || ''
                console.log(imgs)
                this.detailImgList = imgs ? imgs.split('\n') : []

                $('.page2').show('animated bounceInDown')
                // $('.page2').show('animated slideInLeft')
                $('.overlay.p2').show('animated fadeIn')

                // setTimeout(function() {
                    // open(
                    //     'detail.html' +
                    //     '?isCat=' + !!isCat +
                    //     '&name=' + encodeURIComponent(vue.detail['项目名称'] || vue.detail['类别名称']) +
                    //     '&where=' + encodeURIComponent(vue.detail['省份']) +
                    //     '',
                    //     'detail',
                    //     "",
                    //     false
                    // )
                // }, 1000)

            },
        }
    })
    </script>
    <script>
    // close page1
    function closePage1() {
        $('.page1').hide('animated zoomOutUp')
        $('.overlay.p1').hide('animated fadeOut')
    }
    $('.page1 .close').on('click', function(e) {
        closePage1()
    })
    $('.page1').on('click', function(e) {
        if (!$(e.target).closest('.body').length) {
            closePage1()
        }
    })

    function closePage2() {
        $('.page2').hide('animated flipOutX')
        // $('.page2').hide('animated slideOutRight')
        $('.overlay.p2').hide('animated fadeOut')
    }

    // close page2
    $('.page2 .close').on('click', function(e) {
        closePage2()
    })
    $('.page2').on('click', function(e) {
        if (!$(e.target).closest('.content').length) {
            closePage2()
        }
    })
    </script>
    <script>
    // $('.map span').hide().shuffle().each(function(i) {
    //     $(this).delay(i * 150 + 1000, function() {
    //         this.show('animated bounceInDown')
    //     })
    // })
    // $('.map, .tooltip').hide().delay(1000, function() {
    //     this.show().find('span, li').each(function(i) {
    //         $(this).hide().delay(i * 80, function() {
    //             this.show('animated bounceInLeft')
    //         })
    //     })
    // })
    </script>
    <script>
    // 无人操作自动轮播类别介绍
    var showTimer
    var startShowTimer = function() {
        // console.log('startShowTimer')
        showTimer = setTimeout(function() {
            console.log('startShowTimer done')
            loopShow()
        }, 25000)
    }
    startShowTimer()

    var loopTimer
    var i = 0
    var loopShow = function() {
        console.log('loopShow')
        // closePage1()
        vue.showPage2(catDesc[i]["类别名称"], true)
        i++
        if (i >= catDesc.length) {
            i = 0
        }
        loopTimer = setTimeout(function() {
            closePage2()
            loopTimer = setTimeout(function() {
                loopShow()
            }, 1200)
        }, 8500)
    }

    $('body').on('mousemove,click,touchmove', function(e) {
        console.log(e.type)
        // console.log('clearTimeout(showTimer)')
        clearTimeout(showTimer)
        clearTimeout(loopTimer)
        // if ($('.page2').css('display') == 'none') {
        // }
        startShowTimer()
    })
    </script>
</body>

</html>