<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>

	<div class="max-width calc_main">
		<div class="calc_inp">
			<div class="top_tit">拓道金服投资理财计算器</div>
			<div class="inp">
				<div class="inp_ul">
					<ul>
						<li>
							<span>投资金额：</span>
							<div class="bord_div">
								<input type="text" value="" placeholder="请输入投资金额" id="amount" />
								<b>元</b>
							</div>
						</li>
						<li>
							<span>投资期限：</span>
							<div class="bord_div">
								<input type="text" value="" placeholder="请输入投资期限" id="time" />
								<b class="deadline">月</b>
							</div>
						</li>
						<li>
							<span>年化利率：</span>
							<div class="bord_div">
								<input type="text" value="" placeholder="请输入年化利率" id="rate" />
								<b>%</b>
							</div>
						</li>
					</ul>
					<ul>
						<li>
							<span>平台奖励：</span>
							<div class="bord_div">
								<input type="text" value="" placeholder="请输入平台奖励（选填）" id="award" />
								<b>%</b>
							</div>
							<div class="hint">
								<i class="iconfont">&#xe68d;</i>
								<div class="tips left-tips">
									利率范围不超过中国人民银行基准<br>利率的4倍
								</div>
							</div>
						</li>
						<li>
							<span>还款方式：</span>
							<div class="select_com">
								<p>
									<span class="month">等额本息</span>
									<i class="iconfont">&#xe60e;</i>
								</p>
								<ul class="option">
									<li class="on" name="months">等额本息</li>
									<li name="endmonth">按月付息</li>
									<li class="bord_li" name="endday">按天计息</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				
				<div class="calc_btn">
					<input type="submit" value="开始计算" id="calc_btn"  disabled />
					<span class="reset">重置</span>
				</div>
			</div>
			
		</div>
		<div class="calc_result dis_none">
			<div class="top_tit">
				<span>计算结果</span>
				<!-- 等额本息 -->
				<p class="months">计算公式：月还款=（本金*月利息*（1+月利率）^投资期限）/（（1+月利率）^投资期限-1）</p>
				<!-- 按月付息 -->
				<p class="endmonth dis_none">计算公式：收益=投资金额*年化利率*投资期限/12</p>
				<!-- 按天计息 -->
				<p class="endday dis_none">计算公式：收益=投资金额*年化利率*投资期限/365</p>
			</div>
			<div class="result_money">
				<dl>
					<dt class="amount">99,999,999.99</dt>
					<dd>投资总额（元）</dd>
				</dl>
				<dl>
					<dt class="interest">99,999,999.99</dt>
					<dd>总利息（元）</dd>
				</dl>
				<dl>
					<dt class="award">99,999,999.99</dt>
					<dd>平台奖励（元）</dd>
				</dl>
			</div>
		</div>
		<div class="calc_table dis_none">
			<div class="top_tit">本息收款时间表</div>
			<div>
				<table>
					<thead>
						<tr>
							<th>期数</th>
							<th>还款时间</th>
							<th>回款总额（元）</th>
							<th>回款本金（元）</th>
							<th>回款利息（元）</th>
						</tr>
					</thead>
					<tbody id="tbody_list">
					</tbody>
				</table>
			</div>
		</div>
		<div class="consult">
			<div class="top_tit">理财咨询</div>
			<div class="consult_com">
				<dl class="margin_dl">
					<dt>
						<div class="calc_phone"></div>
					</dt>
					<dd>
						<p>客服电话</p>
						<p>周一至周日   9:00 - 20:30</p>
						<p class="phone">40085-666-85</p>
				</dl>
				<dl>
					<dt>
						<div class="calc_pc"></div>
					</dt>
					<dd>
						<p>在线客服</p>
						<p>周一至周日   9:00 - 20:30</p>
						<a href="javascript:;" class="qq"><i class="iconfont">&#xe68a;</i><span>立即咨询</span></a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	

	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>