<!DOCTYPE html>
<html>

	<head>
		<%= require('html-loader!./layout/header.html') %>
		<title>
			<%= htmlWebpackPlugin.options.title%>
		</title>
	</head>

	<body>
		<%= require('html-loader!./layout/top.html') %>
		<%= require('html-loader!./layout/nav.html') %>
		<%= require('html-loader!./layout/info_nav.html') %>
		<div class="max-width entity_box">
			<div class="entity_com entity_scale">
				<h2>// 门店规模 //</h2>
				<div class="entity_scaleBg"></div>
				<ul>
					<li>
						<h3>2014年</h3>
						<p>营业网点达5家</p>
					</li>
					<li>
						<h3>2015年</h3>
						<p>营业网点达17家</p>
					</li>
					<li class="mar_li">
						<h3>至今</h3>
						<p>营业网点近百家</p>
					</li>
					<li class="mar_lis">
						<h3>2017年</h3>
						<p>预计营业网点达200家</p>
					</li>
				</ul>
			</div>
			<div class="entity_com entity_shop">
				<h2>// 门店风采 //</h2>
				<div class="entity_shopImg">
					<img src="<%= require('../image/info/entity_shop1.png') %>">
					<img src="<%= require('../image/info/entity_shop2.png') %>">
					<img src="<%= require('../image/info/entity_shop3.png') %>">
					<img src="<%= require('../image/info/entity_shop4.png') %>">
					<img src="<%= require('../image/info/entity_shop5.png') %>">
					<img src="<%= require('../image/info/entity_shop6.png') %>">
					<img src="<%= require('../image/info/entity_shop7.png') %>">
					<img src="<%= require('../image/info/entity_shop8.png') %>">
				</div>
			</div>
			<div class="entity_com entity_map">
				<h2>// 各门店联系地址 //</h2>
				<div id="ChinaMap">
					<div id="map"></div>
				</div>
			</div>
			<div class="entity_site">
				<a name="zhejiang"></a>
				<div class="branches_position">浙江省</div>
				<ul class="clear">
					<li>
						<dl>
							<dt>杭州上城店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省杭州市上城区中河中路222号平海国际大厦2001室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>杭州西湖店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0571-86921716
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省杭州市西湖区圣苑北街47号</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>杭州江干店</dt>
							<dd><i class="iconfont">&#xe837;</i>0571-86791930</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省杭州市江干区九堡镇九乔街蓝桥名苑底商56号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>诸暨浣东店</dt>
							<dd><i class="iconfont">&#xe837;</i>0575-88599960</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省绍兴诸暨市暨东路68号建银大厦15楼</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>湖州吴兴店</dt>
							<dd><i class="iconfont">&#xe837;</i>0572-2113619</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省湖州吴兴区二环西路金茂广场A座13楼</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>嘉兴桐乡店</dt>
							<dd><i class="iconfont">&#xe837;</i>0573-88792355</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省嘉兴市桐乡市银菊路6-10号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>宁波鄞州店</dt>
							<dd><i class="iconfont">&#xe837;</i>0574-89212534</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省宁波市鄞州区泰康中路468号奥利赛豪如大厦2006室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>台州椒江店</dt>
							<dd><i class="iconfont">&#xe837;</i>0576-88855510</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省台州市椒江区机场北路461号天翔大厦5楼东</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>温岭城东店</dt>
							<dd><i class="iconfont">&#xe837;</i>4008-566-685</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省温岭市万昌中路1333号创业大厦1501室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>温州鹿城店</dt>
							<dd><i class="iconfont">&#xe837;</i>0577-88111378</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>浙江省温州市鹿城区洛河路15号西飞世纪大厦A座302</p>
							</dd>
						</dl>
					</li>
				</ul>
				<a name="sichuan"></a>
				<div class="branches_position">四川省</div>
				<ul class="sc clear">
					<li>
						<dl>
							<dt>成都武侯店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>028-65224548
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省成都市武侯区长益路13号蓝海写字楼C502</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>成都金牛店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685</dd>
							<dd>
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省成都市金牛区万达广场C座</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>成都锦江店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>028-84451652
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省成都市东大街芷泉段时代8号3507</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>成都高新店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>028-85506897
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省成都市天府三街69号新希望国际B座1003</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>巴中巴州店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省巴中市巴州区财富广场写字楼1704</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>攀枝花东区店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省攀枝花市东区炳草岗大街10号泰隆国际大厦东楼14楼</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>泸州江阳店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0830-3192474
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省泸州市江阳区连江路一段44号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>德阳旌阳店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0838-82225817
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省德阳市岷江西路二段550号凯旋国际A栋24楼17号</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>资阳雁江店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省资阳市雁江区娇子大道二段64,66号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>内江东兴店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0832-5030576
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省内江市东兴区江安大道金海沸城12楼15号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>宜宾翠屏店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省宜宾市翠屏区蜀南大道21号附31-34号楼3楼</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>南充高坪店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0817-3531503
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省南充市高坪区江东中路七段1号天来大酒店第10栋20层05、03号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>达州通川店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0818-2369279
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省达州市通川区西外金龙大道天地人和8楼2号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>自贡流井店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0813-2625188
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省自贡市自流井区丹桂大街817号泰丰大厦12楼17号</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>眉山东坡店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>028-38178979
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省眉山市东坡区裴城路69号财富中心A座7-2</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>遂宁船山店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0825-2224373
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省遂宁市船山区新星路28北逸家园商业楼4-401</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>广安金安店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0826-2399952
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省广安市广安区金安大道上段286号附9号</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>绵阳涪城店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0816-2850907
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>四川省绵阳市涪城区新益大厦15-16室</p>
							</dd>
						</dl>
					</li>
				</ul>
				<a name="hunan"></a>
				<div class="branches_position">湖南省</div>
				<ul class="clear">
					<li>
						<dl>
							<dt>长沙开福店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>0731-85188908
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南省长沙市开福区万达广场C1座1902室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>长沙岳麓店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南省长沙市岳麓区绿地中央广场6栋2314-2316室</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>株洲天元店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南省株洲市天元区天台路银天国际2018号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>湘潭岳塘店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>0731-55575012
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南湘潭市岳塘区纳帕溪谷四期门面D3-015</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>衡阳石鼓店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南省衡阳市石鼓区解放路66号衡阳中建国际大厦19004</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>益阳赫山店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南省益阳市赫山区福中福6栋528室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>怀化鹤城店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南省怀化市鹤城区凯邦大厦3栋0923</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>岳阳中建店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南省岳阳市岳阳楼区中建岳阳中心3B栋24楼</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>常德武陵店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南省常德市武陵区滨湖路666号中德时代广场1109-1110-1111室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>郴州北湖店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>0735-2298107
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>湖南省郴州市北湖区天一华府A栋1单元14A01室</p>
							</dd>
						</dl>
					</li>
				</ul>

				<a name="jiangsu"></a>
				<div class="branches_position">江苏省</div>
				<ul class="js clear">
					<li>
						<dl>
							<dt>南京秦淮店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>江苏省南京市白下太平南路2号（近中山东路）日月大厦</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>常州武进店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>江苏省常州市武进区吾悦广场1号楼12A15</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>泰州海陵店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0523-86611667
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>江苏省泰州市海陵区人民东路51号（百脑汇科技中心写字楼11楼1109-1112室）</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>扬州邗江店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0514-82058680
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>江苏省扬州市邗江区江阳西路109号峰创国际大厦B座1706室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>淮安清河店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0517-86297605
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>江苏省淮安市清河区淮海东路1号丰惠广场3709室</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>昆山黄河店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>江苏省昆山开发区黄河南路555号1号房6楼608号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>无锡南长店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>江苏省无锡市南长去清扬路118-19A2</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>南通崇川店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>江苏省南通市崇川区中南世纪城20号楼1003-1004室</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>徐州泉山店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>江苏省徐州市泉山区夹河街西口西安北路6号恒茂大厦</p>
							</dd>
						</dl>
					</li>

				</ul>

				<a name="yunnan"></a>
				<div class="branches_position">云南省</div>
				<ul class="clear">
					<li>
						<dl>
							<dt>昆明盘龙店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>云南省昆明市盘龙区穿金路金尚国际A座29楼2902</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>昆明五华店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0871-63355221
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>云南省昆明市五华区青年路志远大厦17楼B座</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>西双版纳景洪店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0691-2168066
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>云南省景洪市勐沥大道75号山水云天1栋46号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>文山东风店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0876-2144099
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>云南省文山市东风路龙城国际写字楼A幢10楼</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>蒙自文澜店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0873-3660908
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>云南省红河州蒙自市文澜镇天马路俊豪中央大街3栋2层9号商铺</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>曲靖麒麟店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0874-8878007
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>云南省曲靖市三江汽车城A2-1-1B号商铺</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>大理下关店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0872-2138557
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>云南省大理市下关镇环城南路53号腾瑞.幸福里1栋2701-2703</p>
							</dd>
						</dl>
					</li>
				</ul>

				<a name="guizhou"></a>
				<div class="branches_position">贵州省</div>
				<ul class="clear">
					<li>
						<dl>
							<dt>贵阳南明店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>贵州省贵阳市南明区花果园金融街3号楼1701室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>遵义红花岗店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0851-28786034
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>贵州省遵义市红花岗区北京路中建大厦1305室</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>凯里大十字店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0855-2200888
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>贵州省凯里市北京西路25号东方文化大厦4楼</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>毕节七星关店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0857-8250316
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>贵州省毕节市七星关区城东新区百里杜鹃路国贸中心1栋8-11</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>六盘水钟山店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0858-8760738
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>贵州省六盘水市钟山区荷城街道建业大厦21楼</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>铜仁碧江店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0856-6917201
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>贵州省铜仁市碧江区锦江南路8号锦江宾馆写字楼10楼1号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>兴义桔山店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>贵州省兴义市菊山去大商汇B3-2幢11-2号房</p>
							</dd>
						</dl>
					</li>
				</ul>

				<a name="henan"></a>
				<div class="branches_position">河南省</div>
				<ul class="clear">
					<li>
						<dl>
							<dt>郑州金水店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>0371-55696475
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>河南省郑州市金水区郑汴路升龙环球大厦B座2607室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>洛阳西工店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0379-60688987
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>河南省洛阳市西工区建业商务楼1805</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>信阳浉河店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0376-6225866
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>河南省信阳市浉河区东方红大道亚兴大厦写字楼801室</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>许昌魏都店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0374-8587226
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>河南省许昌市魏都区智慧大道亨源通世纪广场2号楼13楼1305</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>周口川汇店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>河南省周口市太昊路与迎宾大道交叉口元坤城市广场7楼728-732</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>驻马店驿城店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>4008-566-685
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>河南省驻马店市驿城区乐山大道北段鹏宇金茂中心19楼1902</p>
							</dd>
						</dl>
					</li>
				</ul>

				<a name="chongqing"></a>
				<div class="branches_position">重庆省</div>
				<ul class="clear">
					<li>
						<dl>
							<dt>重庆南岸店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>023-62629956
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>重庆市南岸区南坪万达广场1号楼14-3</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>重庆渝中店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>023-64367637
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>重庆市渝中区大坪龙湖时代天街B馆3号楼901室</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>重庆渝北店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>023-64367636
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>重庆市渝北区嘉州中渝广场三栋8-5号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>重庆永川店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>023-49396388
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>重庆市永川区中央金街777号39栋2-12号</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>重庆万州店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>023-58131579
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>重庆市万州区北滨大道二段998号3幢4-105/106/107</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>重庆合川店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>023-42660048
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>重庆市合川区合阳大道537号</p>
							</dd>
						</dl>
					</li>
				</ul>

				<a name="guangdong"></a>
				<div class="branches_position">广东省</div>
				<ul class="clear">
					<li>
						<dl>
							<dt>广州天河店</dt>
							<dd class="clear">
								<i class="iconfont">&#xe837;</i>020-38856166
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>广东省广州市天河区华夏路30号富力盈通大厦1006-1007</p>
							</dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>惠州惠城店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>0752-78011281
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>广东省惠州市江北华贸大厦2座1903室</p>
							</dd>
						</dl>
					</li>
					<li class="no_mr">
						<dl>
							<dt>佛山禅城店</dt>
							<dd>
								<i class="iconfont">&#xe837;</i>00757-82095263
							</dd>
							<dd>
								<div><i class="iconfont">&#xe838;</i></div>
								<p>广东省佛山市禅城区季华六路11号恒福国际中心A座906室</p>
							</dd>
						</dl>
					</li>
				</ul>

				<div class="fl">
					<a name="anhui"></a>
					<div class="branches_position">安徽省</div>
					<ul class="clear ah">
						<li>
							<dl>
								<dt>安庆大观店</dt>
								<dd class="clear">
									<i class="iconfont">&#xe837;</i>055-65552567
								</dd>
								<dd>
									<div><i class="iconfont">&#xe838;</i></div>
									<p>安徽省安庆市大观区华茂1958C区7栋13楼</p>
								</dd>
							</dl>
						</li>
						<li class="no_mr">
							<dl>
								<dt>芜湖镜湖店</dt>
								<dd class="clear">
									<i class="iconfont">&#xe837;</i>4008-566-685
								</dd>
								<dd>
									<div><i class="iconfont">&#xe838;</i></div>
									<p>安徽省芜湖市九华山路313号二楼拓道金服</p>
								</dd>
							</dl>
						</li>
					</ul>
				</div>

				<a name="jiangxi"></a>
				<div class="fr">
					<div class="branches_position">江西省</div>
					<ul class="clear jx">
						<li>
							<dl>
								<dt>赣州开发店</dt>
								<dd class="clear">
									<i class="iconfont">&#xe837;</i>0797-5163500
								</dd>
								<dd>
									<div><i class="iconfont">&#xe838;</i></div>
									<p>江西省赣州市开发区华坚电商园二楼</p>
								</dd>
							</dl>
						</li>
					</ul>
				</div>

				<div class="fl">
					<a name="shanghai"></a>
					<div class="branches_position">上海市</div>
					<ul class="clear ah sh">
						<li>
							<dl>
								<dt>上海宝山店</dt>
								<dd class="clear">
									<i class="iconfont">&#xe837;</i>021-60341971
								</dd>
								<dd>
									<div><i class="iconfont">&#xe838;</i></div>
									<p>上海市宝山区牡丹江路1211号2104室</p>
								</dd>
							</dl>
						</li>
						<li class="no_mr">
							<dl>
								<dt>上海普陀店</dt>
								<dd class="clear">
									<i class="iconfont">&#xe837;</i>021-52891118
								</dd>
								<dd>
									<div><i class="iconfont">&#xe838;</i></div>
									<p>上海市普陀区金沙江路1989号1303室</p>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<%= require('html-loader!./layout/footer_nav.html') %>
		<%= require('html-loader!./layout/footer.html') %>
		<% if (env !== "production") { %>
		<script src="/reload/reload.js"></script>
		<% } %>
	</body>

</html>