<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="invest_top">
		<div class="max-width">
			<ul class="invest_tab">
				<li>
					<a href="invest.html?sift" data="sift">精选计划</a>
				</li>
				<li data="b">
					<a href="invest.html?scatter" data="scatter">散标项目</a>
				</li>
				<li data="c">
					<a href="invest.html?bond" data="bond">债权转让</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="max-width">
		<div class="clearing" style="display:none">
			<p><i class="iconfont">&#xe694;</i>当前是存管系统清算时间（每天23:55 - 00:05 ），不可进行投资，充值，提现操作，请您稍后重试。由此给您造成不便，敬请谅解！</p>
			<p><i class="iconfont">&#xe68f;</i>这是新手专享标的，只有未投资过的新用户才可享受加息3%的新手奖励。 您已经投资过了，快去看看其它标的吧!</p>
		</div>
		<div class="detail_top">
			<div class="left">
				<div class="title">
					<!-- 精选计划显示 -->
					<p>精选计划 201705041</p>
					<div class="type">
						<img src="<%= require('../image/exclusive.png') %>" class="fl">
						<div class="tips">仅限新注册用户首次投资<span class="bot"></span><span class="bot2"></span></div>
					</div>

					<!-- 债权转让显示 -->
					<!-- <p>丰田擦罗拉抵押续贷标</p>
					<a href="###">查看原始标的 > </a>
					<span>转让剩余：22小时34分00秒</span>
 -->
					<!-- 散标显示 -->
					<!-- <p>奔驰s600抵押续贷标</p>
					<img src="../image/cooperate.png"> -->
				</div>
				<div class="major">
					<dl class="expect">
						<dt>
							<span>14.5</span>%+3%
						</dt>
						<dd>
							预期年化
						</dd>
					</dl>
					<dl class="date">
						<dt>
							<span>1</span>个月
						</dt>
						<dd>
							投资期限
						</dd>
					</dl>
					<dl class="summoney">
						<dt>
							<span>9,999,999.99</span>元
						</dt>
						<dd>
							剩余可投
						</dd>
					</dl>
					<dl class="bars">
						<dt>
							<div class="progress">
								<div class="progress_wrapper">
									<div class="bar" style="width:80%;"></div>
								</div>
							</div>
						</dt>
						<dd>
							<!-- 投资进度 -->
							加入进度
							<span>80%</span>
						</dd>
					</dl>
				</div>
				<div class="intro">
				<!-- 精选计划显示 -->
					<!-- <ul>
						<li>
							预计项目总额： <span>99,999,999.99 元</span>
						</li>
						<li>
							项目类型：<span>精选计划</span>
						</li>
						<li class="alli">
							提前退出：<span>该项目不支持提前退出</span>
						</li>
						<li>
							计息方式：<span>满标复审计息</span>
						</li>
						<li>
							还款方式：<span>月付息到期还本</span>
							<div class="hint">
								<i class="iconfont">&#xe68d;</i>
								<div class="tips">按照底层标的每月还息<span class="bot"></span><span class="bot2"></span></div>
							</div>
							
						</li>
						<li class="alli">
							发布时间：<span>2016-11-01</span>
						</li>
					</ul> -->
					<!-- 债权转让显示 -->
					<!-- <ul>
						<li>
							债权价值：<span>99,999,999.99元</span>
							<div class="hint">
								<i class="iconfont">&#xe68d;</i>
								<div class="tips">投资人转让的本金和收益的总值<span class="bot"></span><span class="bot2"></span></div>
							</div>
						</li>
						<li>
							转让金额：<span>354,000.00元</span>
						</li>
						<li class="alli">
							奖励金额：<span>34.00元</span>
						</li>
						<li>
							计息方式：<span>满标复审计息</span>
						</li>
						<li>
							还款方式：<span>等额本息</span>
						</li>
						<li class="alli">
							来自用户：<span>187****3339</span>
						</li>
					</ul> -->
					<!-- 散标项目显示 -->
					<ul class="assure_ul">
						<li>
							预计项目总额：<span>99,999,999.99元</span>
						</li>
						<li>
							项目类型：<span>散标项目</span>
						</li>
						<li>
							计息方式：<span>满标复审计息</span>
						</li>
						<li>
							还款方式：<span>按月付息，到期还本</span>
							<div class="hint sca">
								<i class="iconfont">&#xe68d;</i>
								<div class="tips">收益会在付息当天到达您的资金账<br/>户，本金是在到期当天。<span class="bot"></span><span class="bot2"></span></div>
							</div>
						</li>
						<li>
							来源门店：<span>宜宾翠屏店</span>
						</li>
						<li>
							发布时间：<span>2016-11-01</span>
						</li>
					</ul>
					<div class="ancun"></div> 
				</div>
			</div>
			<div class="right">
				<div class="investting" >
					<!-- 未登录状态 -->
					<div class="login_btn" style="display: none;">
						<a href="">登录</a>查看账户可用余额，或<a href="">立即注册</a>
					</div>

					<div class="current_money" >
						<div>
							<p class="txt ">
									可用余额
							</p>
							<div class="money">
								<b><span class="moneys">50000.55</span><i>元</i></b>
								<a href="###">充值</a>
							</div>
						</div>
					</div>
					<div class="com_styl invest_money" >
					<!-- 标的可投余额小于起投金额500元时 -->
						<!-- <input type="text" placeholder="本项目剩余可投499元"> -->
						
						<input type="text" placeholder="500元起投，单笔限额50万元" class="sub_money">
						<i class="iconfont btn_empty">&#xe68b;</i>
						<div class="iconfont fontcol all_money"><i>余额全投&nbsp;</i></div>
					</div>
					<div class="com_styl add_ticket" >
						<p class="p_ticket">请选择优惠券</p>
						<input type="hidden" class="inp_ticket" value="">
						<div class="fontcol ticket">优惠券&nbsp;</div>

						<!-- 没有可用优惠券 -->
						<!-- <div class="no_ticket">当前没有可用优惠券</div> -->

					</div>
					<div class="com_styl input_pwd" >
						<input type="password" placeholder="请输入支付密码" class="sub_psw">
						<div><a href="" class="fontcol">忘记密码&nbsp;</a></div>
					</div>
					<!-- <div class="com_styl input_pwd" >
						<input type="password" placeholder="请输入约标密码" class="yue_psw">
					</div> -->
					<div class="predict">预计收益：<b class="predict_money">0.00</b>元</div>
					<div class="input_sub">
						<!-- 倒计时 -->
						<!-- <div class="countdown times"><span><b>00</b> : <i>00</i> : <em>00</em>后开抢</span></div> -->

						<!-- 正常投标按钮 -->
						<input type="submit" id="sub_btn" value="实付0.00元，立即投资" class="sub_btn">

						<!-- 新手专享按钮 -->
						<!-- <input type="submit" value="新手专享，非新手不能加入" class="no_btn"> -->

						<!-- 清算时间按钮 -->
						<!-- <input type="submit" value="存管清算时间，不能加入" class="no_btn"> -->

						<!-- 未登录按钮 -->
						<!-- <div class="login_a"><a href="">立即登录</a></div> -->
						
					</div>
					<!-- app专享标 -->
					<div class="app_invest" style="display: none;">
						<div class="ewm"></div>
						<p>本标的仅限在APP端投资</p>
						<b>扫描二维码下载手机客户端</b>
					</div>
					<div class="agreement" id="protocol">
						<div>
							<input type="checkbox" id="checkinp" checked><label for="checkinp">已阅读并同意<a href="###">《借款协议》</a></label>
							<!-- 债权转让显示 -->
							<!-- <input type="checkbox" id="ag" checked=""><label for="ag">我已阅读并同意<a href="###">《债权转让及受让协议》</a></label> -->
						</div>
						<a href="###" style="" class="hinta">市场有风险，投资需谨慎 &gt;</a>
					</div>
				</div>
				<!-- 已抢完 -->
				<div class="finish" style="display: none;">
					<div class="finish_sum">
						<p>将为9位投资者带来收益</p>
						<b>2,255.00</b> 元
						<a href="">去看看其他标 > </a>
					</div>
					<div class="ranking">
						<p><em class="iconfont">&#xe697;</em>1234****1234千元首投，获得两倍积分</p>
						<p><em class="iconfont">&#xe698;</em>1234****1234脱颖而出，获得积分 +5</p>
					</div>
					<!-- 散标显示 -->
					<div class="finish_auto">
						<p>抢不到标？ 没关系，立即开启 <a href="">自动投标 ></a></p>
					</div>
				</div>	
				<!-- 已转让 -->
				<div class="shift" style="display: none;">
					<p>该标的已转让成功</p>
					<p><a href="">去看看其他标 > </a></p>
					<span></span>
				</div>	
			</div>
		</div>
		<div class="detail_bot">
			<div class="detail_tab">
				<!-- 精选计划 -->
				<ul>
					<li>
						<a href="###" class="on">项目详情</a>
					</li>
					<li>
						<a href="###">安全保障</a>
					</li>
					<li>
						<a href="###">常见问题</a>
					</li>
					<li>
						<a href="###">加入记录<span>（88）</span></a>
					</li>
				</ul>
				<!-- 债权转让 -->
			<!-- 	<ul>
					<li>
						<a href="###" class="on">项目详情</a>
					</li>
					<li>
						<a href="###">常见问题</a>
					</li>
					<li>
						<a href="###">投资记录</a>
					</li>
				</ul> -->
				<!-- 散标项目 -->
				<!-- <ul>
					<li>
						<a href="###" class="on">项目详情</a>
					</li>
					<li>
						<a href="###">审核资料</a>
					</li>
					<li>
						<a href="###">安全保障</a>
					</li>
					<li>
						<a href="###">投资记录</a>
					</li>
				</ul> -->
			</div>
			<div class="detail_con">
				<!-- 项目详情 -->
				<div class="details">
					<!-- 精选计划 -->
					<div class="details_a">
						<div class="a_top">
							<div class="a_topl">
								<dl>
									<dt></dt>
									<dd class="font">省心</dd>
									<dd>自动匹配优质资产</dd>
								</dl>
							</div>
							<div class="a_topc">
								<dl>
									<dt></dt>
									<dd class="font">安全</dd>
									<dd>过程监控，严格筛选，银行存管</dd>
								</dl>
							</div>
							<div class="a_topr">
								<dl>
									<dt></dt>
									<dd class="font">高收益</dd>
									<dd>优化配置，本金复投</dd>
								</dl>
							</div>
						</div>
						<div class="oDiv a_con">
							<h3>项目简介</h3>
							<p><span>&bull;</span>精选计划是拓道金服平台推出的优先自动投标工具。经由投资人授权，并由系统为投资人实现分散投标，节省投资时间、提高投资效率的投标产品。</p>
							<p><span>&bull;</span>平台通过多层风控把关，严格的标的筛选的过程，再以分散投标，降低投资人投资风险。</p>
							<p><span>&bull;</span>购买精选计划产品之后，资金无闲置立即开始投标，精选计划到期后，通过债权转让的方式完成本金退出，本金收益一并返还到投资人账户余额中。</p>
						</div>
						<div class="a_bot">
							<h3>计划详情</h3>
							<table>
								<tbody>
									<tr>
										<th>预计项目总额</th>
										<td>100,000元</td>
									</tr>
									<tr>
										<th>起投金额</th>
										<td>500元（剩余可投小于起投金额时除外）</td>
									</tr>
									<tr>
										<th>单笔限额</th>
										<td>500,000元</td>
									</tr>
									<tr>
										<th>到账时间</th>
										<td>系统通过债权转让方式完成到期退出。用户持有的债权完成转让后应得本息即可到账。</td>
									</tr>
									<tr>
										<th>退出方式</th>
										<td>系统通过债权转让方式完成到期退出。</td>
									</tr>
									<tr>
										<th>计息方式</th>
										<td>月付息到期还本，每期还款时间根据所匹配债权进行</td>
									</tr>
									<tr>
										<th>还款方式</th>
										<td>月付息到期还本，每期还款时间根据所匹配债权进行</td>
									</tr>
									<tr>
										<th>提前退出</th>
										<td>该项目不支持提前退出</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- 散标 -->
					<div class="oDiv details_b" style="display: none">
						<div class="b_t">
							<h3>项目简介</h3>
							<p><span>&bull;</span>项目评级： A</p>
							<p><span>&bull;</span>借款人基本情况：借款人李**，性别：男，现年：43岁，已婚，主要从事个体行业。借款人借款期间无重大支出，信誉状况良好，无不良记录。</p>
							<p><span>&bull;</span>借款人生产经营情况：借款人从事个体行业，现业务运转正常。</p>
							<p><span>&bull;</span>借款用途及还款来源：借款人因经营需要，申请借款32900元，用于经营流动。还款来源为经营收入。</p>
						</div>
						<div class="b_c">
							<h3>借款人信息</h3>
							<ul>
								<li>
									<p>姓名：李**</p>
									<p>性别：男</p>
								</li>
								<li>
									<p>学历：大专</p>
									<p>职业：个体</p>
								</li>
								<li>
									<p>年龄：43</p>
									<p>户籍：辽宁</p>
								</li>
							</ul>
						</div>
						<div class="b_l">
							<h3>汽车信息</h3>
							<ul>
								<li>
									<p>车辆品牌：马自达</p>
									<p>车辆估价：47000元</p>
								</li>
								<li>
									<p>购买时间：2017-01-01</p>
									<p>购买价格：170000元</p>
								</li>
								<li>
									<p>行驶公里数：23434公里</p>
								</li>
							</ul>
						</div>
					</div>
					<!-- 债权转让 -->
					<div class="oDiv details_c" style="display: none">
						<div>
							<h3>转让介绍</h3>
							<p><span>&bull;</span>债权转让，指投资人将在拓道金服平台投资的借款项目转让给其他拓道金服用户，并与授让人签订债权转让协议，收回本金及利息的操作。</p>
							<p><span>&bull;</span>债权转让能提高投资者资金的流动性，当你需要流动资金时，可以通过出售你名下拥有的符合相应条件的债权给其他投资人，从而完成债权转让，获得流动资金。</p>
						</div>
						<div>
							<h3>转让流程</h3>
							<ul>
								<li class="li_a">
									<span class="a"></span>
									<b>发起债权转让</b>
									<i class="e"></i>
								</li>
								<li class="li_b">
									<span class="b"></span>
									<b>线上募集</b>
									<i class="f"></i>
								</li>
								<li class="li_c">
									<span class="c"></span>
									<b>满标</b>
									<i class="g"></i>
								</li>
								<li class="li_d">
									<span class="d"></span>
									<b>转让成功，资金到账</b>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 审核资料 -->
				<div class="audit" style="display:none">
					<!-- 散标显示 -->
					<ul>
						<li>
							<a class="fancybox" href="<%= require('../image/car.png') %>" data-fancybox-group="gallery">
								<img class="lazy" src="<%= require('../image/car.png') %>" alt="身份证">
							</a>
							<p>身份证正面</p>
							<b class='magnify'></b>
						</li>
						<li>
							<a class="fancybox" href="<%= require('../image/car.png') %>" data-fancybox-group="gallery">
								<img class="lazy" src="<%= require('../image/car.png') %>" alt="行驶证">
							</a>
							<p>行驶证</p>
							<b class='magnify'></b>
						</li>
						<li>
							<a class="fancybox" href="<%= require('../image/car.png') %>" data-fancybox-group="gallery">
								<img class="lazy" src="<%= require('../image/car.png') %>" alt="仪表盘">
							</a>
							<p>仪表盘</p>
							<b class='magnify'></b>
						</li>
						<li>
							<a class="fancybox" href="<%= require('../image/car.png') %>" data-fancybox-group="gallery">
								<img class="lazy" src="<%= require('../image/car.png') %>" alt="车辆正面">
							</a>
							<p>车辆正面</p>
							<b class='magnify'></b>
						</li>
						<li>
							<a class="fancybox" href="<%= require('../image/car.png') %>" data-fancybox-group="gallery">
								<img class="lazy" src="<%= require('../image/car.png') %>"  alt="车辆背面">
							</a>
							<p>车辆背面</p>
							<b class='magnify'></b>
						</li>
						<li>
							<a class="fancybox" href="<%= require('../image/car.png') %>" data-fancybox-group="gallery">
								<img class="lazy" src="<%= require('../image/car.png') %>" alt="车钥匙">
							</a>
							<p>车钥匙</p>
							<b class='magnify'></b>
						</li>
					</ul>
				</div>
				<!-- 安全保障 -->
				<div class="oDiv safety" style="display: none">
				<!-- 精选计划  -->
					<ul>
						<li>
							<h3>业务安全</h3>
							<p><span>&bull;</span>汽车抵押借贷具有借款金额少、周期短、实物抵押保障、逾期处理便捷等显著优势。</p>
						</li>
						<li>
							<h3>风控安全</h3>
							<p><span>&bull;</span>细化贷前调查、贷中审查、贷后管理、逾期处理等四个风控流程，把风险控制渗入每一个环节中</p>
							<p><span>&bull;</span>通过详尽的贷前审查、审慎的贷中核查、完善的贷后管理以及妥当的逾期处理，把风险控制在合理的范围内，坚持追求所有标的均真实、有效，可追溯、可审查。</p>
						</li>
						<li>
							<h3>平台安全性</h3>
							<p><span>&bull;</span>卓越的系统架构：可靠、高效、稳定，阿里云服务器，双服务器运行，每15分钟自动备份保存平台数据。</p>
							<p><span>&bull;</span>安全的管理标准：人员安全，制度安全，系统安全，运营安全。</p>
						</li>
						<li>
							<h3>资金安全性</h3>
							<p><span>&bull;</span>拓道金服的北京银行资金存管系统已上线，借款人、投资人和平台均在北京银行资金存管系统开设存管账户。</p>
							<p><span>&bull;</span>借款人通过拓道金服线下门店进行车辆审核后委托拓道金服发布借款信息，平台向借款人和投资人提供信息撮合服务，投资人投标成功后款项进入借款人的存管账户，平台无法接触交易资金，资金流转清晰。</p>
						</li>
					</ul>
					<!-- 散标显示 -->
					<ul>
						<li>
							<h3>借款安全</h3>
							<p><span>&bull;</span>借款人按比例缴纳保证金</p>
							<p><span>&bull;</span>车辆完成合法抵押手续</p>
							<p><span>&bull;</span>车辆已安装Gps追踪器</p>
							<p><span>&bull;</span>多家专业车辆评估机构对比评估，保证评估价格合理</p>
							<p><span>&bull;</span>电话核实商业保单正常</p>
						</li>
						<li>
							<h3>资产安全</h3>
							<p><span>&bull;</span>第一还款来源：拓道借款人的到期还款金额。</p>
							<p><span>&bull;</span>第二还款来源：风险备付金制度，根据以往同类借款项目的历史统计数据，平台设定了足以覆盖不良率的风险备付金，在借款人出现逾期时，第一时间启动风险备付金保障投资人回款不受影响，后续再另行追偿，以确保平台投资人的利益。</p>
						</li>
					</ul>
				</div>
				<!-- 常见问题 -->
				<div class="oDiv issue" style="display: none">
				<!-- 精选计划显示 -->
					<!-- <ul>
						<li>
							<span>&bull;</span><h3>精选计划安全吗？</h3>
							<p>精选计划匹配的资产均经拓道金服多层风控把关、严格筛选，并且确保资金与债权一 一匹配。</p>
						</li>
						<li>
							<span>&bull;</span><h3>精选计划什么时候开始计息？</h3>
							<p>精选计划满标复审后计息。</p>
						</li>
						<li>
							<span>&bull;</span><h3>精选计划正常退出需要多久时间到账？</h3>
							<p>精选计划到期后，如持有债权已到期，本金和收益将会回到账户余额。如持有债权未到期，将默认授权平台进行债权转让，转让成功后持有人的本金和利息即可回款到账户余额；转让退出时间预计1-3个工作日内完成。</p>
						</li>
						<li>
							<span>&bull;</span><h3>精选计划支持提前退出吗？</h3>
							<p>精选计划目前主要为1月期和3月期产品，不支持提前退出。</p>
						</li>
						<li>
							<span>&bull;</span><h3>精选计划的还款方式如何？</h3>
							<p>精选计划的还款方式以所匹配的债权为准，计划期间债权所得收益（除管理费外）回到投资人余额，本金继续复投。</p>
						</li>
						<li>
							<span>&bull;</span><h3>精选计划是否可以使用优惠券？</h3>
							<p>可以使用</p>
							<p>举例：500000金额加入3个月期限的精选计划，若使用3%加息券，则预计所得 到期收益=500000*（11%+3%）/12*3=17500元</p>
						</li>
						<li>
							<span>&bull;</span><h3>精选计划中是否可以及时看到所投资的标的？</h3>
							<p>加入精选计划后，资金匹配的每笔债权，都可以在相应计划的投资详情页查看其具体金额、起止时间以及相关协议。</p>
						</li>
					</ul> -->
					<!-- 债权转让显示 -->
					<ul>
						<li>
							<span>&bull;</span><h3>什么是债权转让？</h3>
							<p>债权价值，指投资人转让的本金和收益的总值，计算公式如下：</p>
							<p>债权价值=当期本金+当期未收利息÷当期月份天数×（转让申请日+当期还款日）+下期起的本息总额。</p>
						</li>
						<li>
							<span>&bull;</span><h3>债权转让手续费如何收取？</h3>
							<p>转让手续费：</p>
							<p>持有＜90天，收取0.5%转让金额手续费；</p>
							<p>持有≥90天，收取0.2%转让金额手续费；</p>
							<p>手续费最低为1元。</p>
						</li>
						<li>
							<span>&bull;</span><h3>债权转让必须符合哪些条件？</h3>
							<p>(1) 只有等额本息的标才能申请债权转让。</p>
							<p>(2) 可转让日期为当投标成功，满标复审计息开始30天，可以提出债权转让；承接人持有购买债权，超过30天，才可再次转让。</p>
							<p>(3) 转让时间必须大于距离下一个还款日≥7天。</p>
							<p>(4) 债权转让交易未完成时，借款人提前还款，则自动退标。</p>
							<p>(5) 必须一次性转让所有债权，不能转让部分。</p>
							<p>(6) 转让过的债权可以继续转让，且转让次数不受限制。</p>
							<p>(7) 申请通过的债权转让会48个小时的转让时间，超过时间未完成转让的则做退标处理。</p>
							<p>(8) 债权转让金额必须≥100元。</p>
						</li>
						<li>
							<span>&bull;</span><h3>购买债权转让产品可以使用加息券吗？</h3>
							<p>可以使用。</p>
						</li>
					</ul>
				</div>
				<!-- 加入记录 -->
				<div class="con_record" style="display: none">
					<table>
						<thead>
						<!-- 精选计划显示 -->
						<!-- <th>加入用户</th>
							<th>加入金额（元）</th> -->

							<th>投资用户</th>
							<th>投资金额（元）</th>
							<th>交易时间</th>
						</thead>
						<tbody class="chage_tr">
							<tr>
								<td class="phone">
									<!-- 首投显示 -->
									<i class="iconfont l">&#xe695;</i> 

									<span>187****3339</span> 

									<!-- 手机端投资显示 -->
									<i class="iconfont r">&#xe699;</i>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
							<tr>
								<td class="phone">
									<span>187****3339</span>
									<i class="iconfont r">&#xe699;</i>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
							<tr>
								<td class="phone">
									<span>187****3339</span>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
							<tr>
								<td class="phone">
									<span>187****3339</span>
									<i class="iconfont r">&#xe699;</i>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
							<tr>
								<td class="phone">
									<span>187****3339</span>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
							<tr>
								<td class="phone">
									<span>187****3339</span>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
							<tr>
								<td class="phone">
									<span>187****3339</span>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
							<tr>
								<td class="phone">
									<span>187****3339</span>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
							<tr>
								<td class="phone">
									<span>187****3339</span>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
							<tr>
								<td class="phone">
									<span>187****3339</span>
								</td>
								<td class="money">100.00</td>
								<td class="date">2017-05-08 11:10:56</td>
							</tr>
						</tbody>
					</table>
					<div class="zxf_pagediv"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 加入成功 -->
	<div class="hint_show dis_none" id="succeed_show">
		<div class="txt">
			<div class="ltxt">加入成功</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="show_com succeed">
			<div class="icon"></div>
			<p>恭喜您成功加入10,000.00元！</p>
			<b>您可以 <a href="">继续加入</a> 或 <a href="">查看已加入项目</a></b>
			<!-- 散标和转让显示 -->
			<!-- <p>恭喜您成功投资10,000.00元！</p> -->
			<!-- <b>您可以 <a href="">继续投资</a> 或 <a href="">查看已投项目</a></b> -->
			<span class="iskonw">我知道了</span>
		</div>
	</div>
	<!-- 加入失败 -->
	<div class="hint_show dis_none" id="failed_show">
		<div class="txt">
			<div class="ltxt">加入失败</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="show_com failed">
			<div class="icon"></div>
			<p>加入失败，项目已满额！</p>
			<b>这个项目太抢手啦，试试 <a href="">其他精选计划</a>吧！</b>
			<!-- 散标和转让显示 -->
			<!-- <p>投资失败，项目已满额！</p> -->
			<!-- <b>这个项目太抢手啦，试试 <a href="">其他散标项目</a>吧！</b> -->
			<!-- <b>这个项目太抢手啦，试试 <a href="">其他转让项目</a>吧！</b> -->
			<span class="iskonw">我知道了</span>
		</div>
	</div>
	<!-- 激活存管 -->
	<div class="hint_show dis_none" id="bank_show">
		<div class="txt">
			<div class="ltxt">
				激活存管账户
				<div class="hint">
					<i class="iconfont">&#xe68d;</i>
					<div class="tips">银行存管是指用户在P2P平台上的交易资金交由银行管理，平台无法接触交易资金的一种资金管理模式。借款人、投资人和平台通过银行方开设存管账户，来实现交易和资金的结算。<span class="bot"></span><span class="bot2"></span></div>
				</div>
			</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="show_com bank">
			<div class="icon"></div>
			<p>拓道金服正式启用北京银行资金存管系统</p>
			<b>为保障您的资金安全,请在充值、投资、提现前激活存管</b>
			<span class="iskonw">
				<a href="">立即激活存管账户</a>
			</span>
		</div>
	</div>
	<!-- 优惠券弹窗 -->
	<div class="hint_show discount_show dis_none" id="discount_show">
		<div class="txt">
			<div class="ltxt">加入失败</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="discount_con">
			<!-- <div class="discount_txt"><i class="iconfont">&#xe671;</i>当前没有可用优惠券，请根据优惠券使用条件更改加入金额或尝试其它标的！</div> -->
			<!-- <div class="discount_txt">单笔加入精选计划只能使用1张优惠券。</div> -->
			<!-- 散标显示 -->
			<div class="discount_txt">单笔投资散标项目只能使用1张优惠券。</div>

			<!-- 债权转让显示 -->
			<!-- <div class="discount_txt">单笔投资债权转让只能使用1张加息券（债权转让项目不可使用抵用券）。</div> -->
			<!-- <div class="discount_txt"><i class="iconfont">&#xe671;</i>当前没有可用加息券，请根据优惠券使用条件更改加入金额或尝试其它标的！</div> -->

			<ul class="ul_select">
				<li class="jxq" data="1%加息券">
					<p class="p_txt"><span>1</span>% 年利率加息</p>
					<p><span>2017/05/05</span>-<span>2017/06/06</span></p>
					<p>来自存管福利</p>
				</li>
				<li class="jxq" data="3%加息券">
					<p class="p_txt"><span>3</span>% 年利率加息</p>
					<p><span>2017/05/05</span>-<span>2017/06/06</span></p>
					<p>来自存管福利</p>
				</li>
				<li class="dyq" data="15元抵用券">
					<p class="p_txt">￥<span>15</span>抵用券</p>
					<p>投资满10,000元，1个月及以上标的使用</p>
					<p>来自存管福利</p>
				</li>
				<li class="dyq" data="30元抵用券">
					<p class="p_txt">￥<span>30</span>抵用券</p>
					<p>投资满30,000元，3个月及以上标的使用</p>
					<p>来自存管福利</p>
				</li>
				<li class="yhq_no" data="70元抵用券">
					<p class="p_txt">￥<span>70</span>抵用券</p>
					<p>投资满10,000元，6个月及以上标的使用</p>
					<p>来自存管福利</p>
				</li>
				<li class="yhq_no" data="100元抵用券">
					<p class="p_txt">￥<span>100</span>抵用券</p>
					<p>投资满10,000元，12个月及以上标的使用</p>
					<p>来自存管福利</p>
				</li>
			</ul>
			<div class="discount_bot">
				<span class="yes">确定</span>
				<span class="no">取消</span>
				<!-- <span class="iskonw">我知道了</span> -->
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>