<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="invest_top">
		<div class="max_width">
			<ul class="invest_tab">
				<li class="on" data="a">精选计划</li>
				<li data="b">散标项目</li>
				<li data="c">债权转让</li>
			</ul>
		</div>
	</div>
	<div class="max_width">
		<div class="invest_list">
			<div class="invest_list_top">
			<!-- 债券转让显示 -->
			<!-- 精选计划显示 -->
				<ul>
					<li class="on">全部</li>
					<li>3个月以内</li>
					<li>3-6个月</li>
				</ul>
			</div>
			<div class="invest_list_bot">
				<ul>
					<li>
						<a href="" class="full"></a> 
						<div class="invest_list_title">
							<p class="fl">精选计划 201707281</p>
							<div class="fl type">
								<img src="../image/logo.png" class="fl">
								<div class="tips">仅限新注册用户首次投资<span class="bot"></span><span class="bot2"></span></div>
							</div>
						</div>
						<div class="invest_list_con">
							<dl class="expect">
								<dt><span>14</span>%+3.2%</dt>
								<dd>预期年化</dd>
							</dl>
							<dl class="data">
								<dt>1个月</dt>
								<dd>投资期限</dd>
							</dl>
							<dl class="refund">
								<dt>月付息到期还本</dt>
								<dd>还款方式</dd>
							</dl>
							<dl class="summoney">
								<dt>999.99万元</dt>
								<dd>预计项目总额</dd>
							</dl>
							<dl class="residue">
								<dt>9,999,999.99元</dt>
								<dd>剩余可投</dd>
							</dl>
							<dl class="bars">
								<dt>
									<div class="progress">
										<div class="progress_wrapper">
											<div class="bar" style="width:80%;"></div>
										</div>
									</div>
								</dt>
								<dd>投资进度 <span>80%</span></dd>
							</dl>
							<div class="fl butt btn">立即加入</div>
						</div>
					</li>
					<li>
						<a href="" class="full"></a> 
						<div class="invest_list_title">
							<p class="fl">精选计划 201707281</p>
							<div class="fl type">
								<img src="../image/logo.png" class="fl">
								<div class="tips">仅限新注册用户首次投资<span class="bot"></span><span class="bot2"></span></div>
							</div>
						</div>
						<div class="invest_list_con">
							<dl class="expect">
								<dt><span>14</span>%+3.2%</dt>
								<dd>预期年化</dd>
							</dl>
							<dl class="data">
								<dt>1个月</dt>
								<dd>投资期限</dd>
							</dl>
							<dl class="refund">
								<dt>月付息到期还本</dt>
								<dd>还款方式</dd>
							</dl>
							<dl class="summoney">
								<dt>999.99万元</dt>
								<dd>预计项目总额</dd>
							</dl>
							<dl class="residue">
								<dt>9,999,999.99元</dt>
								<dd>剩余可投</dd>
							</dl>
							<dl class="bars">
								<dt>
									<div class="progress">
										<div class="progress_wrapper">
											<div class="bar" style="width:20%;"></div>
										</div>
									</div>
								</dt>
								<dd>投资进度 <span>20%</span></dd>
							</dl>
							<div class="fl butt btn">立即加入</div>
						</div>
					</li>
					<li>
						<a href="" class="full"></a> 
						<div class="invest_list_title">
							<p class="fl">精选计划 201707281</p>
						</div>
						<div class="invest_list_con">
							<dl class="expect">
								<dt><span>14</span>%+3.2%</dt>
								<dd>预期年化</dd>
							</dl>
							<dl class="data">
								<dt>1个月</dt>
								<dd>投资期限</dd>
							</dl>
							<dl class="refund">
								<dt>月付息到期还本</dt>
								<dd>还款方式</dd>
							</dl>
							<dl class="summoney">
								<dt>999.99万元</dt>
								<dd>预计项目总额</dd>
							</dl>
							<dl class="residue">
								<dt>9,999,999.99元</dt>
								<dd>剩余可投</dd>
							</dl>
							<dl class="bars">
								<dt>
									<div class="progress">
										<div class="progress_wrapper">
											<div class="bar" style="width:20%;"></div>
										</div>
									</div>
								</dt>
								<dd>投资进度 <span>20%</span></dd>
							</dl>
							<div class="fl butt btn">立即加入</div>
						</div>
					</li>
					<li>
						<a href="" class="full"></a> 
						<div class="invest_list_title">
							<p class="fl">精选计划 201707281</p>
						</div>
						<div class="invest_list_con">
							<dl class="expect">
								<dt><span>14</span>%+3.2%</dt>
								<dd>预期年化</dd>
							</dl>
							<dl class="data">
								<dt>1个月</dt>
								<dd>投资期限</dd>
							</dl>
							<dl class="refund">
								<dt>月付息到期还本</dt>
								<dd>还款方式</dd>
							</dl>
							<dl class="summoney">
								<dt>999.99万元</dt>
								<dd>预计项目总额</dd>
							</dl>
							<dl class="residue">
								<dt>9,999,999.99元</dt>
								<dd>剩余可投</dd>
							</dl>
							<dl class="bars">
								<dt>
									<div class="progress">
										<div class="progress_wrapper">
											<div class="bar" style="width:100%;"></div>
										</div>
									</div>
								</dt>
								<dd>投资进度 <span>100%</span></dd>
							</dl>
							<div class="fl butt finish">已抢完</div>
						</div>
					</li>

				</ul>
			</div>
		</div>
		<div class="zxf_pagediv">
			
		</div>
	</div>
	

	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>