<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>

	<div class="max-width">
		<div class="uc_main">
			<%= require('html-loader!./layout/uc_menu.html') %>
			<div class="uc_right">
				<div class="total_sign">
					<div class="com_left total getUserMo">
						
					</div>
					<div class="com_right sign">
					</div>
				</div>
				<div class="total_eachart">
					<div class="com_left eachart">
						
					</div>
					<div class="com_right welfare">
					</div>
				</div>
				<div class="return_money">
					<div class="date_tit">
						<div class="date_titL">
							回款日历
							<div class="hint">
								<i class="iconfont">&#xe68d;</i>
								<div class="tips left-tips">
									点击日历中的具体日期可以查看当日的回款情况。
								</div>
							</div>
						</div>
						<div class="date_titR">
							<a href="###">
								查看更多
								<i class="iconfont">&#xe69a;</i>
							</a>
						</div>
					</div>
					<div class="calendar">
						<div class="account_box"></div>
						<div class="calendarR">
							<div class="re_money_tlt">
					            <p><span class="re_money_y"></span>年<span class="re_money_m"></span>月<span class="re_money_d"></span>待收本息：<span class="re_money"></span>元</p>
					    	</div>
					    	<div class="table_data">
					    		<table id="table_list">
									<tbody class="re_money_tbody">
										
									</tbody>	
								</table>
								
					    	</div>
							<div class="pageList"></div>
						</div>
					</div>
				</div>
				<div class="recommends">
					<div class="recommends_txt">为您推荐</div>
					<div class="recommends_list">
						<ul class="productHt">
							<!-- <li>
								<a href="">
								<div class="pro-list">
									<div class="t">精选计划20170607111<img src="<%= require('../image/invest/activity.png') %>"></div>
									<div class="year">
										<dl class="profit">
											<dt>7.2<b>%</b></dt>
											<dd>预期年化</dd>
										</dl>
										<dl class="deadline">
											<dt>1<b>个月</b></dt>
											<dd>投资期限</dd>
										</dl>
									</div>
									<div class="money">
										<p class="total">预计项目总额：999.99 万元</p>
										<p class="surplus">剩余可投：99,999,999.99 元</p>
									</div>
									<div class="btn">500 元起投</div>
									
								</div>
								</a>	
							</li>
							<li>
								<a href="">
								<div class="pro-list">
									<div class="t">精选计划20170607111<img src="<%= require('../image/invest/new-type.png') %>"></div>
									<div class="year">
										<dl class="profit">
											<dt>7.2<b>%</b></dt>
											<dd>预期年化</dd>
										</dl>
										<dl class="deadline">
											<dt>1<b>个月</b></dt>
											<dd>投资期限</dd>
										</dl>
									</div>
									<div class="money">
										<p class="total">预计项目总额：999.99 万元</p>
										<p class="surplus">剩余可投：99,999,999.99 元</p>
									</div>
									<div class="btn">500 元起投</div>
									
								</div>
								</a>	
							</li>
							<li class="li_borno">
								<a href="">
								<div class="pro-list">
									<div class="t">吉普指南者抵押标<img src="<%= require('../image/invest/new-type.png') %>"><img src="<%= require('../image/invest/cooperate.png') %>"></div>
									<div class="year">
										<dl class="profit">
											<dt>7.2<b>%</b></dt>
											<dd>预期年化</dd>
										</dl>
										<dl class="deadline">
											<dt>1<b>个月</b></dt>
											<dd>投资期限</dd>
										</dl>
									</div>
									<div class="money">
										<p class="total">预计项目总额：999.99 万元</p>
										<p class="surplus">剩余可投：99,999,999.99 元</p>
									</div>
									<div class="btn">100 元起投</div>
									
								</div>
								</a>	
							</li> -->
						</ul>
					</div>
				</div>

			</div>
		</div>
		
	</div>
	

	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>