<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>

	<div class="max-width">
		<div class="uc_main">
			<%= require('html-loader!./layout/uc_menu.html') %>
			<div class="uc_right">
				<div class="uc_auto">
					<div class="auto_switchTab">
						<ul>
							<li class="on">自动投标</li>
							<li>自动投标记录</li>
						</ul>
					</div>
					<div class="auto_com">
						<div class="auto_switchBtn">
							<span class="auto_span">自动投标授权</span>
							<div class="switch_off" id="switch">
								<div class="switch"></div>
							</div>
							<b class="auto_tips">已有<span>3978</span>位用户开启自动投标</b>
							<p class="auto_ranking dis_none">当前自动排名 <span class="now">1123</span>/<span class="sum">4100</span></p>
						</div>
						<!-- 设置 -->
						<div class="auto_setForm dis_none">
							<div class="auto_setFormTit">
								自动投标设置
							</div>
							<div class="auto_setInp">
								<ul>
									<li>
										<span>投资期限：</span>
										<div class="select_com">
											<p>
												<span class="month">1</span>
												<i class="iconfont">&#xe60e;</i>
											</p>
											<ul class="option">
												<li>1</li>
												<li>2</li>
												<li class="on">3</li>
												<li>4</li>
												<li>5</li>
												<li>6</li>
												<li>7</li>
												<li>8</li>
												<li>9</li>
												<li>10</li>
												<li>11</li>
												<li>12</li>
												<li>13</li>
												<li>14</li>
												<li>15</li>
												<li>16</li>
												<li>17</li>
												<li>18</li>
												<li>19</li>
												<li>20</li>
												<li>21</li>
												<li>22</li>
												<li>23</li>
												<li>24</li>
												<li>25</li>
												<li>26</li>
												<li>27</li>
												<li>28</li>
												<li>29</li>
												<li>30</li>
												<li>31</li>
												<li>32</li>
												<li>33</li>
												<li>34</li>
												<li>35</li>
												<li>36</li>
											</ul>
										</div>
										<span class="line">—</span>
										<div class="select_com">
											<p>
												<span class="month">36</span>
												<i class="iconfont">&#xe60e;</i>
											</p>
											<ul class="option">
												<li>1</li>
												<li>2</li>
												<li class="on">3</li>
												<li>4</li>
												<li>5</li>
												<li>6</li>
												<li>7</li>
												<li>8</li>
												<li>9</li>
												<li>10</li>
												<li>11</li>
												<li>12</li>
												<li>13</li>
												<li>14</li>
												<li>15</li>
												<li>16</li>
												<li>17</li>
												<li>18</li>
												<li>19</li>
												<li>20</li>
												<li>21</li>
												<li>22</li>
												<li>23</li>
												<li>24</li>
												<li>25</li>
												<li>26</li>
												<li>27</li>
												<li>28</li>
												<li>29</li>
												<li>30</li>
												<li>31</li>
												<li>32</li>
												<li>33</li>
												<li>34</li>
												<li>35</li>
												<li>36</li>
											</ul>
										</div>
									</li>
									<li>
										<span>投资金额：</span>
										<input type="text" value="100" disabled="disabled">
										<span class="line">—</span>
										<input type="text" value="100,000" disabled="disabled">
										元
										<div class="hint hints">
											<i class="iconfont">&#xe68d;</i>
											<div class="tips left-tips">
												投资金额设置范围必须是100-100,000 <br>元的整数
											</div>
										</div>
									</li>
									<li class="yhq">
										<div class="yhq_com">
											<span>是否使用优惠券</span>
											<div class="hint">
												<i class="iconfont">&#xe68d;</i>
												<div class="tips left-tips">
													注：优先使用优惠金额较大的优惠券
												</div>
											</div> ： 
										</div>
										<p class="reminder">不使用</p>
										<div class="redios_inp dis_none">
											<div class="redios checked" name="nonuse">
												<i class="iconfont">&#xe61e;</i>
												<span>不使用</span>
											</div>
											<div class="redios" name="use">
												<i class="iconfont">&#xe622;</i>
												<span>使用</span>
											</div>
										</div>
									</li>
								</ul>
								<div class="set_btn">
									<a href="javascript:;">修改设置</a>
								</div>
								<div class="sub_btn dis_none">
									<a href="javascript:;" class="on">保存</a>
									<a href="javascript:;" class="callOff">取消</a>
								</div>
							</div>
							<!-- 银行存管未激活 -->
							<div class="auto_deposit dis_none">
								<div class="auto_deposit_bg"></div>
								<p>为了保障您的资金安全,请在充值、投资、提现前开通存管</p>
								<a href="">立即激活存管用户</a>
							</div>
						</div>
						<div class="auto_rules">
							<div class="auto_rulesTit">
								自动投标规则说明
							</div>
							<div class="auto_ruleCom">
								<p>自动投标排队规则</p>
								<ul>
									<li>
										系统根据用户的设置选取符合投资条件的标的，根据排名顺序进行投标；
									</li>
									<li>
										以下情况会导致重新排队：
										<div>
											<p>1. 修改自动投标设置：修改相关设置任一项，点击“确认”后会重新排名；</p>
											<p>2. 自动投标关闭后重新开启；</p>
											<p>3. 成功投标后；</p>
											<p>4. 轮到时，账户余额低于所设置投资金额最低值。</p>
										</div>
										
									</li>
								</ul>
							</div>
							<div class="auto_ruleCom">
								<p>单次可投资多个标的说明</p>
								<ul>
									<li>为了加快用户投资效率减小资金站岗时间，当投资范围符合的情况下，根据平台标的总资产与用户投资金额进行匹配（不受单个标的金额限制），用户可能一次性投1个或者多个标的。</li>
									<li>
										举例：A用户投资金额设置为1万-10万；账户内有余额共10万；符合A用户设置的投资期限范围内，现有标的3个，总资产10万，则A用户通过自动投标可一次性投资10万元，分别投在3个标的上。
									</li>
								</ul>
								
							</div>
							<div class="auto_ruleCom">
								<p>投资金额范围设置及说明</p>
								<ul>
									<li>即表示匹配给投资人的标的金额范围。投标金额最小可设置100元，最高可设置10万元。</li>
									<li>
										举例说明，A用户设置投资金额设置为3万-10万；此时用户账户余额有5万，则：
										<div>
											<p>1. 若标量大于5万，则投资成功5万元，重新排队；</p>
											<p>2. 若标量介于3万-5万之间，则根据标量投资，重新排队；</p>
											<p>3. 若标量小于3万，则投资不成功，保留排名；</p>
										</div>
									</li>
									<li>备注：请注意您的账户余额，一旦账户余额小于您设置的最低投资金额则轮到投资时，无法投资成功并且需要重新排名。</li>
								</ul>
							</div>
							<div class="auto_ruleCom">
								<p>投标期限区间设置</p>
								<ul>
									<li>投资人可以按照自己的投资习惯对投资期限进行设置。例如：设置“1个月—3个月”，即表示、1个月、2个月、3个月都符合设置（暂不支持投资天标）。</li>
								</ul>
							</div>
							<div class="auto_ruleCom">
								<p>优惠券使用规则</p>
								<ul>
									<li>投资前查询账户中是否有符合本次投资使用的优惠券，若有则使用符合本次投资优惠金额最大的优惠券（不考虑优惠券到期时间的先后）；</li>
									<li>
										举例说明，A、B两用户设置自动投标，投资期限范围：1月-12月；投资金额1万-10万。其中A用户有一张1%加息券，一张3%加息券；B用户有一张800元抵用券（使用条件：10万元及以上12月及以上），则：
										<div>
											<p>1. 使用加息券：A用户通过自动投标投资10万（分别投在2个标的），系统自动选择使用最大收益优惠券，即3%加息券。则A用户投资的10万元（即分散在两个标的金额）享受3%；</p>
											<p>2. 使用抵用券：B用户通过自动投标投资10万（金额分散在1个3月标3万，1个12月标的7万）；由于抵用券要求需投资12月标10万元才可抵扣，因此无法使用。</p>
										</div>
										
									</li>
									<li>当用户账户里存在两张符合此次自动投标投资条件的加息券和抵用券，且优惠的金额相同时，则优先使用抵用券。</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="auto_com auto_list dis_none">
						<table>
							<thead>
								<tr>
									<th class="padd_left">投资时间</th>
									<th>投资金额（元）</th>
									<th>投资期限（月）</th>
									<th>优惠券</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tbody_list">
								<tr>
									<td class="padd_left">2017-10-08  14:09:00</td>
									<td>100.00</td>
									<td>1-3</td>
									<td class="th_wid">加息3%</td>
									<td>
										<a href="uc_invest_autoDetails.html">查看分散投资记录</a>
									</td>
								</tr>
								<tr>
									<td class="padd_left">2017-10-08  14:09:00</td>
									<td>100.00</td>
									<td>1-3</td>
									<td>加息3%</td>
									<td>
										<a href="uc_invest_autoDetails.html">查看分散投资记录</a>
									</td>
								</tr>
								<tr>
									<td class="padd_left">2017-10-08  14:09:00</td>
									<td>100.00</td>
									<td>1-3</td>
									<td class="th_wid">加息3%</td>
									<td>
										<a href="uc_invest_autoDetails.html">查看分散投资记录</a>
									</td>
								</tr>
								<tr>
									<td class="padd_left">2017-10-08  14:09:00</td>
									<td>100.00</td>
									<td>1-3</td>
									<td class="th_wid">加息3%</td>
									<td>
										<a href="uc_invest_autoDetails.html">查看分散投资记录</a>
									</td>
								</tr>
								<tr>
									<td class="padd_left">2017-10-08  14:09:00</td>
									<td>100.00</td>
									<td>1-3</td>
									<td class="th_wid">加息3%</td>
									<td>
										<a href="uc_invest_autoDetails.html">查看分散投资记录</a>
									</td>
								</tr>
								<tr>
									<td class="padd_left">2017-10-08  14:09:00</td>
									<td>100.00</td>
									<td>1-3</td>
									<td class="th_wid">加息3%</td>
									<td>
										<a href="uc_invest_autoDetails.html">查看分散投资记录</a>
									</td>
								</tr>
								<tr>
									<td class="padd_left">2017-10-08  14:09:00</td>
									<td>100.00</td>
									<td>1-3</td>
									<td class="th_wid">加息3%</td>
									<td>
										<a href="uc_invest_autoDetails.html">查看分散投资记录</a>
									</td>
								</tr>
								<tr>
									<td class="padd_left">2017-10-08  14:09:00</td>
									<td>100.00</td>
									<td>1-3</td>
									<td class="th_wid">加息3%</td>
									<td>
										<a href="uc_invest_autoDetails.html">查看分散投资记录</a>
									</td>
								</tr>
								<tr>
									<td class="padd_left">2017-10-08  14:09:00</td>
									<td>100.00</td>
									<td>1-3</td>
									<td class="th_wid">加息3%</td>
									<td>
										<a href="uc_invest_autoDetails.html">查看分散投资记录</a>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="zxf_pagediv"></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	

	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>