<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>

	<div class="max-width">
		<div class="uc_main">
			<%= require('html-loader!./layout/uc_menu.html') %>
			<div class="uc_right">				
				<div class="return_money">
					<div class="date_tit">
						<span>待收总额 （元）:</span>
						<p>99,999,999.99</p>
					</div>
					<div class="calendar">
						<div class="account_box"></div>
						<div class="calendarR">
							<div class="re_money_tlt">
					            <p><i class="iconfont">&#xe6b2;</i><span class="re_money_y"></span>年<span class="re_money_m"></span>月<span class="re_money_d"></span></p>
					    	</div>
							<div class="money">
								<dl>
									<dt>待收本息 (元)</dt>
									<dd>1,999.99</dd>
								</dl>
								<dl>
									<dt>已收本息 (元)</dt>
									<dd>5,000.00</dd>
								</dl>
							</div>
					    	
						</div>
					</div>
					<div class="table_data">
						<table>
							<thead>
								<tr>
									<th class="padd_left">回款时间</th>
									<th>项目名称</th>
									<th>期数</th>
									<th>回款类型</th>
									<th>回款金额(元)</th>
									<th>回款状态</th>
								</tr>
							</thead>
							<tbody class="re_money_tbody" id="tbody_list">
								
							</tbody>	
						</table>
						<div class="re_money_null">
							
						</div>						
					</div>
							<!-- <div class="zxf_pagediv"></div> -->
				</div>
			</div>
		</div>
		
	</div>
	

	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>