<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="message_box max-width">
		<%= require('html-loader!./layout/uc_menu.html') %>
		<div class="main">
			<div class="message_top">
				<span class="count">您有 <i></i> 条未读消息</span><span class="btn color">全部标为已读</span>
			</div>
			<div class="message_main">
				<ul></ul>
				<div class="pageList"></div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>
