@import "../common/mixin";
@import "../common/layout";
input::-ms-clear,input::-ms-reveal{
	display:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.dis_none{
	display:none;
}
.kd{
	background-color: $mainColor!important;
}
.color{
	background-color: #f25d14!important;
}
i.del{
	position:absolute;
	right:8px;
	top:6px;
	cursor:default;
	font-size:18px;
	display:none;
	color:#9e9e9e;
}
i.del:hover{
	color:#ff7400;
}
#space{
	margin-right: 30px;
		}
.main{
	width:1180px;
	height:601px;
	margin: 30px auto 198px auto;
	background-color: #FFF;
	.register{
		.main_top{
			width: 100%;
			height: 60px;
			line-height: 60px;
			color: #ccc;
			span {
				margin-left: 30px;
			}
			span.login{
				margin-right: 37px;
				a{
					color:$mainColor;
				}
			}
		}
		.main_mid{
			width: 100%;
			.box{
				width: 60%;
				height: 80%;
				margin: 100px auto 0 auto;
				text-align:center;
				.phoneNum{
						width:340px;
						height:40px;
						margin:0 auto;
						position:relative;
						input{
							width: 323px;
							height: 38px;
							border-radius: 5px;
							padding-left: 15px;
							outline:none;
							border: 1px solid #dddddd;
						}
				}
				.slider{
					margin: 20px 184px 25px 184px;
				}
				.til{
					text-align:left;
					padding-left:186px;
					.more{
						color:#d6d6d6;
						margin-right:10px;
						font-size:16px;
					}
					color:$fontColor9e;
					cursor: pointer;
					margin-bottom:5px;
					font-size:12px;
				}
				.personNum{
					width:340px;
					height:40px;
					margin:0 auto;
					position:relative;
					input{
						width: 323px;
						height: 38px;
						border-radius: 5px;
						padding-left: 15px;
						outline:none;
						border: 1px solid #dddddd;
						font-size:12px;
					}
				}
				.btn{
					width: 260px;
					height: 40px;
					margin-top: 50px;
					background-color: $fontColor9e;
					color:#fff;
					border-radius: 20px;
					outline: none;
					border: none;
				}
				.xy{
					margin-top:20px;
					text-align:center;
					display:block;
					color:$mainColor;
					top: 12px;
					left: 80px;
					font-size: 14px;
					background-color: #FFF;
				}
			}
		}
	}
	.yanzhengma{
		width:100%;
		height:100%;
		text-align:center;
		.til_all{
			width:100%;
			height:223px;
			.write_ts{
				padding-top:180px;
				margin-bottom:10px;
			}
			.ts{
				font-size: 12px;
				color: #000;
			}
		}
		.wrong_ts{
				margin-top:10px;
				color:#e60012;
			}
		.count_time{
			color:$mainColor;
			display:inline-block;
			text-decoration:underline;
			display:none;
			cursor:pointer;
		}
		.djs{
			color:$fontColor9e;
		}
		.back{
			margin-top:150px;
			cursor:pointer;
		}
	}
	.set_password{
		width: 100%;
		height: 100%;
		text-align:center;
		overflow:hidden;
		.til{
			margin-top:118px;
		}
		.pas_box{
			width:340px;
			height:40px;
			margin:60px auto 0 auto;
			position:relative;
			.pas{
				width: 326px;
				height:38px;
				padding-left:12px;
				color:$fontColor9e;
				border-radius:5px;
				outline:none;
				border: 1px solid #dddddd;
			}
			.yan{
				position:absolute;
				right: 6px;
				top: 8px;
				cursor:pointer;
				display:none;
			}
			.yan:hover{
				color:#ff7e12;
			}
			.yan_kai{
				position:absolute;
				right: 6px;
				top: 8px;
				cursor:pointer;
			}
			.yan_kai:hover{
				color:#ff7e12;
			}
			i.del{
				position:absolute;
				right:30px;
				top:6px;
				cursor:default;
				font-size:18px;
				display:none;
				color:#9e9e9e;
			}
		}
		.line{
			overflow:hidden;
			.line1,.line2,.line3{
				display:inline-block;
				width: 110px;
				height: 2px;
				margin-right:5px;
				background-color: #dddddd;
			}
		}
		.psd_til{
				overflow:hidden;
			.psd_til_1,.psd_til_2,.psd_til_3{
				display:inline-block;
				width: 110px;
				height: 12px;
				margin-left:2px;
				font-size:10px;
				visibility:hidden;
			}
			.psd_til_1{
				color:#e60012;
			}
			.psd_til_2{
				color:#ffc424;
			}
			.psd_til_3{
				color:#30a744;
			}
		}
		.say{
			overflow:hidden;
			margin-top: 44px;
			margin-bottom: 40px;
			color: $fontColor9e;
			p{
				margin-bottom:10px;
			}
		}
		.register_btn{
			width:260px;
			height:40px;
			background-color:$fontColor9e;
			border-radius:20px;
			outline:none;
			color:#fff;
			border: none;
		}
	}
	.success_page{
		width:100%;
		height:100%;
		.page_t{
			height: 40px;
			padding-left: 30px;
			padding-top: 23px;
			font-size:16px;
			color:$mainColor;
		}
		.page_l,.page_r{
			display:inline-block;
			width:49%;
			height:376px;
			margin-top:76px;
			text-align:center;
		}
		.page_l{
			border-right:1px solid $fontColor9e;
			.logo{
				margin: 20px auto;
				width:115px;
				height:96px;
				background:url("../../image/end.png")
			}
			p.zh{
				margin-top:128px;
				color:$fontColor9e;
				a{
					color:$mainColor;
				}
			}
		}
		.page_r{
			.bank_logo{
				width:296px;
				height:63px;
				background:url("../../image/bgbank.png") no-repeat;
				margin: 20px auto 10px auto;
				position:relative;
				a{
					position:absolute;
					right: 7px;
					top: -18px;
				}
			}
			p{
				font-size:17px;
			}
			p.gg{
				font-size:12px;
				color:#e60012;
				margin-bottom:90px;
			}
			.cg_btn{
				display:block;
				line-height:40px;
				width:260px;
				height:40px;
				background-color: $mainColor;
				border-radius:20px;
				outline:none;
				color:#fff;
				border: none;
				margin: 29px auto 0 auto;
			}
			.cg_btn:hover{
				background-color: #f25d14;
			}
		}
	}
}