<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="encyclopedia">
		<div class="ency_top">拓道金服理财百科</div>
		<ul class="content">
		</ul>
		<div class="pageList" onselectstart="return false" style="-moz-user-select:none;"></div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>