<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="friends_top"></div>
	<div class="friends_content">
		<div class="height_padding">好友第一次投资</div>
		<div class="first">
			<span>好友第一次投资成功后，您将直接获得</span><br />
			<span><i>10元</i>抵用券+好友首投金额<i>0.25%</i>返现</span>
		</div>
		<div class="height_padding">好友第二次投资起</div>
		<div class="second">
			<ul>
				<li>
					<div class="second_one"><i>1.&nbsp;</i>至少1位好友注册并登陆拓道金服</div>
					<div><img src="<%= require('../image/welfare/invite_lv01.png') %>" alt=""></div>
					<div class="second_two">初级理财师</div>
					<div class="second_three" style="text-align:center;">获得好友投资收益的2%</div>
				</li>
				<li>
					<div class="second_one"><i>2.&nbsp;</i>6位好友达到v1等级且好友总待收到200万</div>
					<div style="width:100px;height:100px;margin:0 auto;"><img src="<%= require('../image/welfare/invite_lv02.png') %>" alt=""></div>
					<div class="second_two">中级理财师</div>
					<div class="second_three">获得直接好友投资收益的3%+间接好友投资收益1%</div>
				</li>
				<li>
					<div class="second_one"><i>3.&nbsp;</i>15位好友达到v1等级且好友总待收到400万</div>
					<div><img src="<%= require('../image/welfare/invite_lv03.png') %>" alt=""></div>
					<div class="second_two">王牌理财师</div>
					<div class="second_three">获得直接好友投资收益的5%+间接好友投资收益2%</div>
				</li>
			</ul>
			<div class="second_btn">立即邀请好友赚奖励</div>
			<div class="box_border"></div>
		</div>
		<div class="height_padding">邀请好友规则</div>
		<!-- <dl>
			<dt>
				<i></i>邀请的用户首次投资，您可获得10元抵扣红包（使用条件：起投1000元，1个月及以上，有效期唯30天）；
			</dt>
			<dt>
				<i></i>同时你讲获得好友首次投资金额0.25%的返现奖励；
			</dt>
			<dt><i></i>好友第二次投资起，您将获得好友每笔投资收益2%的返现奖励，返现持续6个月；</dt>
			<dt><i></i>收益返现按规则上线日开始计算，之前被邀请人投资的返现不补发。</dt>
				<dd>当新规则上线前，用户已首投过，投资则直接算返现；</dd>
				<dd>当新规则上线前，用户未首投过，则按照新规则首投+第二次投资均给与返现；</dd>
			<dt>
				<i></i>成为理财师标准的用户，根据其名下的邀请关系，安装最新的邀请规则进行返现奖励。
			</dt>
		</dl> -->
		<div class="order_detail">
			<dl>
				<dt>
					<i></i>符合理财师标准的用户，根据其名下的邀请关系（含新邀请规则前已邀请的人），按照最新的邀请规则进行相应的返现奖励！
				</dt>
				<dt>
					<i></i>好友首投奖励：直接被邀请人首次投资成功并已满标复审，邀请人即可获得10元抵扣红包（使用条件：起投1000元，1个月及以上，有效期唯30天）和首次投资
				</dt>
				<dd>金额0.25%的返现奖励；</dd>
				<dt><i></i>好友第二次投资起，邀请人即可根据目前的理财师等级，享受返现奖励；</dt>
				<dt><i></i>理财师返现奖励到账时间：若投资散标项目则被邀请人每笔投资金额到期，按期返现；投资精选计划项目则奖励在精选计划到期时一次性发放；</dt>
				<dt><i></i>理财师等级及福利表：</dt>
			</dl>
			<table>
				<tr class="first_child">
					<td style="width:120px;">邀请人等级</td>
					<td style="width:160px;">被邀请人大道v1人数</td>
					<td style="width:208px;">邀请人总待收（只算B级用户）</td>
					<td style="width:200px;">邀请人奖励</td>
					<td style="width:150px;">返现奖励有效时间</td>
				</tr>
				<tr class="second_child">
					<td>初级理财师</td>
					<td>无</td>
					<td>无</td>
					<td>直接邀请人投资收益2%返现</td>
					<td>6个月</td>
				</tr>
				<tr class="third_child">
					<td>中级理财师</td>
					<td>6人</td>
					<td>200万</td>
					<td>直接邀请人投资收益3%返现<br />间接邀请人投资收益1%返现</td>
					<td>永久</td>
				</tr>
				<tr class="fourth_child">
					<td>王牌理财师</td>
					<td>15人</td>
					<td>400万</td>
					<td>直接邀请人投资收益5%返现<br />间接邀请人投资收益2%返现</td>
					<td>永久</td>
				</tr>
			</table>
			<div class="explain">特别说明</div>
			<dl>
				<dt><i></i>理财师的收益返现按规则上线日开始计算，之前被邀请人投资的返现不补发；</dt>
				<dt><i></i>当新规则上线前，用户已首投过，投资则直接算返现；</dt>
				<dt><i></i>当新规则上线前，用户未首投过，则按照新规则首投+第二次投资均给与返现；</dt>
				<dt><i></i>符合理财师标准的用户，根据其名下的邀请关系，按照最新的邀请规则进行返现奖励。</dt>
			</dl>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>