<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="main">
		<div class="menu_left">
			<ul>
				<li class="color">常见问题</li>
				<li>新手必读</li>
				<li>注册登录</li>
				<li>银行存管</li>
				<li>收费标准</li>
				<li>充值提现</li>
				<li>投资回款</li>
				<li>精选计划</li>
				<li>债权转让</li>
				<li>自动投标</li>
				<li>积分和优惠券</li>
				<li>推荐奖励</li>
				<li>会员体系</li>
			</ul>
		</div>
		<div class="content">
			<div>
				<div class="list_top">常见问题</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是先息后本？</a>
						<dl>
							<dt><i></i>先息后本的本义是：先还利息再还本金。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是等额本息？</a>
						<dl>
							<dt><i></i>等额本息还款是指借入者每月按相等的金额偿还贷款本息，其中每月贷款利息按月初剩余贷款本金计算并逐月结清。 贷款初期和后期所还本金不同是由于每月的还款额相等，因此在贷款初期每月的还款中，剔除按月结清的利息后，所还的贷款本金就较少；而在贷款后期因贷款本金不断减少、每月的还款额中贷款利息也不断减少，每月所还的贷款本金就较多。即借款人每月还款额中的本金比重逐月递增、利息比重逐月递减。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>自动投标排队说明</a>
						<dl>
							<dt><i></i>系统根据用户的设置选取符合投资条件的标的，根据排名顺序进行投标。</dt>
							<dt><i></i>以下情况将导致重新排队</dt>
							<dd>（1）修改自动投标设置：修改相关设置任一项，点击“确认”后会重新排名；</dd>
							<dd>（2）自动投标关闭后重新开启；</dd>
							<dd>（3）成功投标后；</dd>
							<dd>（4）轮到时，账户余额低于所设置投资金额最低值</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是安存？</a>
						<dl>
							<dt><i></i>第三方数据存管机构，保全用户信息安全。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何查看电子合同？</a>
						<dl>
							<dt><i></i>PC端：点击右上角【我的账户】，左边栏【我的投资】选一个项目查看详情【查看借款协议】。</dt>
							<dt><i></i>APP端：点击【我的】—【我的投资】，选一个项目，点击页面下方的【借款协议】即可查看。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>为什么充值时提示 交易拒绝(RM10029)？</a>
						<dl>
							<dt><i></i>您的充值环境出现异常，建议您使用本人设备或更换安全环境下充值。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何更换绑定手机号码？</a>
						<dl>
							<dt><i></i>将修改原因及需求、用户名、旧手机号、新手机号、姓名、身份证号，本人手持身份证近照，及身份证正反面照片，发送到tuodaojinfu@51tuodao.com邮箱，我们的工作人员会在3个工作日内进行审核更改。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>设置自动投标后是否能投手动标？</a>
						<dl>
							<dt><i></i>自动投标设置后，您还是可以去投手动标。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>借款协议是否可以下载？</a>
						<dl>
							<dt><i></i>PC端：点击右上角【我的账户】，左边栏【我的投资】选择一个项目查看详情【查看安存保全】，在页面的最下方点击下载。</dt>
							<dt><i></i>APP端：点击【我的】—【我的投资】，选一个项目，点击页面下方的【安存保全】进行下载。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>无法接收到验证码？</a>
						<dl>
							<dt><i></i>1.请确认手机是否安装短信拦截或过滤软件；</dt>
							<dt><i></i>2.可以通过接收语音验证码来输入验证码；</dt>
							<dt><i></i>3.如是充值时的验证码没有接收到，请咨询银行；</dt>
							<dt><i></i>4.如有特殊情况，请通过关注“拓道金服”微信(QQ)公众号联系在线客服，服务热线：40085-666-85。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>新手标最大金额可以投多少，可以投几次？</a>
						<dl>
							<dt><i></i>当前新人标的额度最大值，新人标用户只能投一次且只有首投可用。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">新手必读</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>我可以注册吗？</a>
						<dl>
							<dt><i></i>可以。只要您年满18周岁，具有完全民事权利能力和民事行为能力，拥有一张开通网银功能的银行卡，并有100元即可投资资金成为拓道金服用户。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>新注册用户有哪些福利？</a>
						<dl>
							<dt><i></i>（1）注册的新用户可获得398元红包，红包可用于投资时抵扣现金</dt>
							<dt><i></i>（2）新手专享9%+3%加息标。</dt>
							<dt><i></i>&nbsp;用一张开通网银功能的银行卡北京银行账户进行充值；</dt>
							<dt><i></i>（3）新手任务。平台新注册的用户在30天完成新手任务，可获得相应的积分，积分可兑换加息券。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>我改如何投资？</a>
						<dl>
							<dt><i></i>（1）在拓道网站上进行注册；查看&nbsp;<a href="register.html">如何注册</a></dt>
							<dt><i></i>（2）激活北京银行存管账户，查看&nbsp;<a href="active_newuser.html">激活银行存管</a></dt>
							<dt><i></i>（3）浏览项目类型选择自己感兴趣的标的进行投资。</dt>
							<dt><i></i>（4）确认金额，点击立即投资，输入支付密码，投资成功。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>新手标最大金额可以投多少，可以投几次？</a>
						<dl>
							<dt><i></i>当前新人标的额度最大值，新人标用户只能投一次且只有首投可用。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>投资后是否可以提前退出？</a>
						<dl>
							<dt><i></i>仅限等额本息项目可以通过 债权转让方式提前退出。详情请见<a href="investBond.html">债权转让</a>。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>到期后什么时候回款到账？</a>
						<dl>
							<dt><i></i>拓道金服所有的项目都是真实借款标的，是根据线下借款人的还款时间，来进行回款的。回款为当天内到账，可关注手机短信通知， 回款时间是从早上8：30开始，一直到24：00结束，陆续回款的，请您耐心等待。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>投资是否有额外的费用？</a>
						<dl>
							<dt><i></i>没有。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">注册与登录</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何成为拓道金服会员？</a>
						<dl>
							<dt><i></i>网页端注册：登录拓道金服官网www.51tuodao.com，点击网页右上角【注册】，填写相关信息，输入手机号码及密码，获取验证码即可注册成功。</dt>
							<dt><i></i>手机端注册（ios版本/安卓版本）：打开手机APP点击【我的】转跳界面进入注册页面输入手机号码获取验证码，按照步骤注册成功。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>注册时手机收不到验证码怎么办？</a>
						<dl>
							<dt><i></i>(1) 请确认手机是否安装短信拦截或过滤软件；</dt>
							<dt><i></i>(2) 请确认手机是否能够正常接收短信（信号问题、欠费、停机等）；</dt>
							<dt><i></i>(3) 短信收发过程中可能会存在延迟，请耐心等待；</dt>
							<dt><i></i>(4) 可能由于以前该号码被通信供应商系统列为黑名单，请联系在线客服，或者拨打热线电话：40085-666-85。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>设置登录密码有什么要求？</a>
						<dl>
							<dt><i></i>登录密码有6~16位字符，由数字、字母（区分大小写）、符号组成。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">银行存管</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是银行存管？</a>
						<dl>
							<dt><i></i>银行存管是指用户在P2P平台上的交易资金交由银行进行管理，平台无法接触交易资金的一种资金管理模式。借款人、投资人和平台通过在银行方开设存管账户，来实现交易和资金的结算。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何开通北京银行存管？</a>
						<dl>
							<dt><i></i>（1）新用户：存管系统上线后新注册用户在充值、投资、提现前需开通银行存管账户；存管账户开通需用户提供真实姓名、身份证号、银行卡号、银行预留手机号，并设置支付密码，该支付密码在投资、提现、债权转让中使用。（所有资料提交正确则开通成功。）</dt>
							<dt><i></i>（2）老用户：存管系统上线前已实名认证用户，系统自动开通北京银行存管账户，但在充值、投资、提现前需要重新绑定银行卡。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">收费标准</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>有利息管理费吗？</a>
						<dl>
							<dt><i></i>暂无。</a></dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>有VIP年费吗？</a>
						<dl>
							<dt><i></i>暂无。</a></dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>VIP服务内容收费标准</a>
						<dl>
							<dt><i></i>Vip服务内容：</dt>
							<dd>V1<span class="sp1" style="margin-right:100px;">待收金额1000元</span>每月首提免费，其他3元一笔</dd>
							<dd>V2<span class="sp1">待收金额10万</span>每月免费提现次数2次，其他3一笔</dd>
							<dd>V3<span class="sp1">待收金额20万</span>每月免费提现次数3次，其他3一笔</dd>
							<dd>V4<span class="sp1">待收金额30万</span>每月免费提现次数4次，其他3一笔</dd>
							<dd>V5<span class="sp1">待收金额40万</span>每月免费提现次数5次，其他3一笔</dd>
							<dd>V6<span class="sp1">待收金额50万</span>每月免费提现次数6次，其他3元一笔</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>充值费用</a>
						<dl>
							<dt><i></i>在线充值不收取任何手续费。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现费用规则</a>
						<dl>
							<dt><i></i>（1）达到相应会员等级，每月享有免费提现次数（含未投资过可提金额）;</dt>
							<dd>会员等级：V1<span class="sp2"></span>V2<span class="sp2"></span>V3<span class="sp2"></span>V4<span class="sp2"></span>V5<span class="sp2"></span>V6</dd>
							<dd>免费次数：1<span class="sp3"></span>2<span class="sp3"></span>3<span class="sp3"></span>4<span class="sp3"></span>5<span class="sp3"></span>6</dd>
							<dd>无免费提现次数：提现金额中含未投资可提金额则收取0.5%的手续费（不满3元，按最低3元收取），不含则收取 3元/笔手续费;</dd>
							<dt><i></i>（2）由于存管资金清算T+1完成，即部分金额需北京银行清算成功（即下个工作日清算）后可提现，可以用于投资;</dt>
							<dt><i></i>（3）单笔提现范围：100元~1000万元;</dt>
							<dt><i></i>（4）提现到账时间：0点-9点提交提现申请，当日9点到账;9点-21点提交提现申请，实时到账;21点-24点提交提现申请，次日9点到账;如未到账请联系客服处理(40085-666-85);</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>债权转让手续费规则</a>
						<dl>
							<dt><i></i>转让手续费：</dt>
							<dd>持有＜90天，收取0.5%转让金额手续费；</dd>
							<dd>持有≥90天，收取0.2%转让金额手续费；</dd>
							<dd>（最低为1元）。</dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">充值提现</div>
				<div class="cztx_menu"><a class="on">充值</a><a>提现</a></div>
				<div class="cztx_con">
					<ul>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何充值？</a>
							<dl>
								<dt>（1）网页端：登录拓道金服官网，点击【我的账户】—【充值】，选择网银支付或者快捷支付，进行充值操作。</dt>
								<dt>（2）手机端：登录拓道金服APP，点击【我的】—【充值】，完成操作。</dt>
								<dt>PS:由于存管资金清算T+1完成，即用户当天充值金额下个工作日北京银行清算后可提现，可用于投资。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>充值银行卡可以绑定多张吗？</a>
							<dl>
								<dt><i></i>为了保障资金安全，只能绑定1张银行且作为提现卡，做到同卡进出。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>充值需要收取手续费吗？</a>
							<dl>
								<dt><i></i>充值的费用由平台承担。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>充值何时到账？</a>
							<dl>
								<dt><i></i>正常情况下，充值即时到账，若在5分钟内还未到账，请联系客服处理（40085-666-85）。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>充值是否限额？</a>
							<dl>
								<dt><i></i>（1）支持银行有限额，限额随银行变动会进行调整，以银行限额为准；</dt>
								<dt><i></i>（2）您银行卡开通额度。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>拓道金服与哪家第三方支付合作？</a>
							<dl>
								<dt><i></i>拓道金服目前合作的第三方支付平台有“京东支付”和“富友支付”。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>可以用信用卡充值吗？</a>
							<dl>
								<dt><i></i>拓道金服不支持信用卡充值。</dt>
							</dl>
						</li>
					</ul>
					<ul class="dis_none">
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何提现？</a>
							<dl>
								<dt><i></i>（1）网页端：登入PC端账户后，点击右上角“我的账户”，转跳页面后，点击页面“立即提现”输入提现金额，支付密码。</dt>
								<dt><i></i>（2）手机端：登入APP，点击底部菜单“我的”，进入“我的”页面后，点击“提现”，输入提现金额及支付密码。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现需要手续费吗？</a>
							<dl>
								<dt><i></i>成为拓道金服VIP后或通过积分兑换免费提现次数，可享受免费提现。（免费提现包含未投资金额）；具体的免费提现次数，请参照会员体系。</dt>
								<dt><i></i>无免费提现次数：提现金额中含未投资可提金额则收取0.5%的手续费（不满3元，按最低3元收取），不含则收取3元/笔的手续费。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现申请可以撤销吗？</a>
							<dl>
								<dt><i></i>提现申请不可以撤销。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现是什么时候到账？</a>
							<dl>
								<dt><i></i>9:00-21:00提交提现申请，实时到账；</dt>
								<dt><i></i>0:00-9:00提交提现申请，当日9点到账；</dt>
								<dt><i></i>21:00-24:00提交提现申请，次日9点到账；</dt>
								<dt><i></i>部分金额需北京银行清算成功（即下个工作日清算）后可提现。如：当天充值金额、债权转让成功后的部分未清算金额；</dt>
								<dt><i></i>如果出现提现失败的情况，请通过关注“拓道金服”微信(QQ)公众号联系在线客服，服务热线：40085-666-85。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现有限额吗？</a>
							<dl>
								<dt><i></i>单次提现额度100元-1000万元。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现记录在哪里查看？</a>
							<dl>
								<dt><i></i>（1）网页端：登入PC端账户后，点击右上角“我的账户”，转跳页面后，点击页面“提现”中“提现记录”。</dt>
								<dt><i></i>（2）手机端：登入APP客户端，在下方点击“我的“显示菜单栏后，点击右上角“提现”跳转提现页面后，点击“提现记录”即可查看</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>为什么提现失败？</a>
							<dl>
								<dt><i></i>（1）账户余额不足；</dt>
								<dt><i></i>（2）银行卡信息错误；</dt>
								<dt><i></i>&nbsp;如果出现提现失败的情况，请联系在线客服处理，或者拨打客服电话40085-666-85进行处理。</dt>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<div class="dis_none">
				<div class="list_top">投资与回款</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>投资后什么时候开始计息？</a>
						<dl>
							<dt><i></i>满标复审后开始计息。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何查看投资合同？</a>
						<dl>
							<dt><i></i>投资成功后会生成电子合同，可在【我的账户】—【我的投资】— 投资记录详情页查看。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>一个标的可以使用几张优惠券？</a>
						<dl>
							<dt><i></i>每个标的只能使用一张优惠券。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>手动投标时候标的还有资金，为什么投资不出去？</a>
						<dl>
							<dt><i></i>同一个项目，有可能多人同时在投资，当剩余可投金额少于用户的输入金额时，系统会提示您无法投资。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>项目到期，如何还款？</a>
						<dl>
							<dt><i></i>还款方式根据项目种类不同，分为如下两种：</dt>
							<dd>（1）按月付息，到期还本：收益会在付息日当天到达您的资金账户，本金是在到期当天。</dd>
							<dd>（2）等额本息：根据期限，每期还款相同的金额，期满全部还清。每期归还部分本金和收益，因本金在每期都会有归还，已归还的部分本金在之后将不再计息。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>借款人逾期了怎么办，本息什么时候回来？</a>
						<dl>
							<dt><i></i>借款人一旦逾期不还，将由线下专门的风控部门进行催收，变现资产，在回款当日返回到投资人的账户里。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是新手标？</a>
						<dl>
							<dt><i></i>拓道金服针对在本平台暂未投资过的新用户设立的项目，享受3%的额外加息奖励，主要是为了让新用户体验充值、投资等环节，也是平台对新用户投资的一种奖励。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是自动标？</a>
						<dl>
							<dt><i></i>拓道金服为了避免用户资金闲置，由用户预先设定投标规则，可以在无需自己操作的情况下系统按用户设定自动代为投标的项目。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是积分标？</a>
						<dl>
							<dt><i></i>是拓道金服为投资用户专门设定的积分奖励项目，投资该标的用户可以获得基础积分倍数奖励。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>今天标到期了，什么时候回款呢？</a>
						<dl>
							<dt><i></i>拓道金服所有的项目都是真实借款标的，是根据线下借款人的还款时间，来进行回款的。回款为当天内到账，可关注手机短信通知，回款时间是从早上8：30开始，一直到24：00结束，陆续回款的，请您耐心等待。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>借款人提前还款怎么办？</a>
						<dl>
							<dt><i></i>还款金额：</dt>
							<dd>（1）等额本息：借款人提前还款需支付当期本金和利息以及剩余本金0.3%的罚息作为补偿金支付给投资人；其中补偿金将和利息一起回给用户；</dd>
							<dd>（2）按月付息：借款人提前还款需支付当期全部利息及本金支付给投资人；</dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">精选计划</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划安全吗？</a>
						<dl><dt><i></i>精选计划匹配的资产均经拓道金服多层风控把关、严格筛选，并且确保资金与债权一一匹配。</dt></dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划正常退出需要多久时间到账？</a>
						<dl><dt><i></i>锁定期结束后，如持有债权已到期，到期后将会回到用户账户。如持有债权未到期，将默认授权平台进行债权转让，转让成功后持有人的本金和利息即可回款到用户账户；转让退出时间预计1-3个工作日内完成。</dt></dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划支持提前退出吗？</a>
						<dl>
							<dt><i></i>精选计划目前主要为1月期和3月期产品，不支持提前退出。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划的还款方式如何？</a>
						<dl>
							<dt><i></i>精选计划的还款方式以所匹配的债权为准，锁定期间债权所得收益（除管理费外）回到投资人余额，本金继续复投。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划是否可以使用优惠券？</a>
						<dl>
							<dt><i></i>可以使用。</dt>
							<dt><i></i>举例：500000金额加入3个月期限的精选计划，若使用3%加息券，则预计所得 到期收益</dt>
							<dd>=500000*（11%+3%）/12*3=17500元</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划中是否可以及时看到所投资的标的？</a>
						<dl>
							<dt><i></i>加入精选计划后，资金匹配的每笔债权，都可以在相应计划的投资详情页查看其具体金额、相关协议。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">债权与转让</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是债权转让？</a>
						<dl>
							<dt>
								<i></i>债权转让，指投资人将在拓道金服投资的借款项目转让给其他拓道金服用户，并与承接人签订债权转让协议，收回本金和收益的操作。
							</dt>
							<dd>求的投资人。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是债权价值？</a>
						<dl>
							<dt><i></i>债权价值指投资人转让的本金和剩余收益的总值。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>债权如何转让？</a>
						<dl>
							<dt><i></i>网页端：点击右上角【我的账户】；转跳页面点击左方【债权转让】→【转让债权】选择【可转让的债权】。</dt>
							<dt><i></i>手机端：点击下方【我的】；转跳页面点击【债权转让】，点击“可转让”选择债权进行转让。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>债权转让必须符合哪些条件？</a>
						<dl>
							<dt><i></i>（1）只有等额本息的标才能申请债权转让。</dt>
							<dt><i></i>（2）可转让日期为当投标成功，满标复审计息开始30天，可以提出债权转让；承接人持有购买债权，超过30天，才可再次转让。</dt>
							<dt><i></i>（3） 转让时间必须大于距离下一个还款日≥7天。</dt>
							<dt><i></i>（4）债权转让交易未完成时，借款人提前还款，则自动退标。</dt>
							<dt><i></i>（5）必须一次性转让所有债权，不能转让部分。</dt>
							<dt><i></i>（6） 转让过的债权可以继续转让，且转让次数不受限制。</dt>
							<dt><i></i>（7）申请通过的债权转让会48个小时的转让时间，超过时间未完成转让的则做退标处理。</dt>
							<dt><i></i>（8）债权转让金额必须≥100元。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>债权转让手续费如何收取？</a>
						<dl>
							<dt><i></i>转让手续费：</dt>
							<dd>持有＜90天，收取0.5%转让金额手续费；</dd>
							<dd>持有≥90天，收取0.2%转让金额手续费；</dd>
							<dd>（最低为1元）。</dd>
							<dd>PS:转让手续费奖励给受让人，且一次性到账。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>单个债权转让标的允许多人投资吗？</a>
						<dl>
							<dt><i></i>允许。当有多个承接人时，按投资本金比例分配当期未来收益及剩余期数收益。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>承接人的收益如何计算？</a>
						<dl>
							<dt><i></i>转让金额以剩下期限，按照等额本息的计算方获得收益。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>购买债权时有哪些注意事项？</a>
						<dl>
							<dt><i></i>（1） 计算债权价值时，当月持有天数的收益不包括使用加息券产生的收益；</dt>
							<dt><i></i>（2） 如果转让人使用过加息券，转让当月持有天数的收益会进行计算，在转让成功后，平台会对加息券产生的收益进行发放；</dt>
							<dt><i></i>（3） 受让人不可以使用任何优惠券。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">自动投标</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>设置自动投标后能投手动标项吗？</a>
						<dl>
							<dt><i></i>自动标和手动的是分开的，设置自动投标仍然可以投手动标的。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>自动投标能否使用优惠券？</a>
						<dl>
							<dt><i></i>可以使用。设置自动投标时，选择“使用优惠券”，则系统在自动投标过程中将使用优惠金额最大的优惠券。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>自动投标使用优惠券会优先使用即将到期的优惠券么？</a>
						<dl>
							<dt><i></i>自动投标会选择“优惠金额最大”的优惠券，不考虑优惠券到期时间；</dt>
							<dt><i></i>当有两张同类型“优惠金额”也相同的优惠券时，则优先使用即将到期的那张；</dt>
							<dt><i></i>当有两张不同类型“优惠金额”也相同的优惠券时，则优先使用抵用券；</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>通过自动投标投资成功的标的，可以在哪查到？</a>
						<dl>
							<dt><i></i>（1）可在电脑端“自动投标”选择“自动投标记录”即可查看；</dt>
							<dt><i></i>（2）电脑端、APP端均可在“我的投资”中查看到相关记录。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>自动投标单笔投资最高限额是多少？</a>
						<dl>
							<dt><i></i>最高限额是10万元。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>自动投标排队说明？</a>
						<dl>
							<dt><i></i>系统根据用户的设置选取符合投资条件的标的，根据排名顺序进行投标。</dt>
							<dt><i></i>以下情况将导致重新排队</a></dt>
							<dd>（1）修改自动投标设置：修改相关设置任一项，点击“确认”后会重新排名；</dd>
							<dd>（2）自动投标关闭后重新开启；</dd>
							<dd>（3）成功投标后；</dd>
							<dd>（4）轮到时，账户余额低于所设置投资金额最低值</dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">积分和优惠券</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何获取积分?</a>
						<dl>
							<dt><i></i>平台积分主要来自新手任务、投资积分等，具体的获取详情请进入【积分和金币】——【积分获取】页面进行查看。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>积分的用途有哪些？</a>
						<dl>
							<dt><i></i>积分可以用来兑换加息券、免费提现次数，可参与积分活动。</dt>
							<dd>兑换加息券：每100积分可兑换1张1%加息券</dd>
							<dd>            每500积分可兑换1张2%加息券</dd>
							<dd>            每1000积分可兑换1张3%加息券</dd>
							<dd>（积分兑换的加息券有效期均为30天。）</dd>
							<dt><i></i>积分兑换免费提现次数：每100积分可兑换1次免费提现次数（积分兑换的免费提现次数永久有效。）</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>积分有有效期吗？</a>
						<dl>
							<dt><i></i>有有效期。本年度获得的积分，在次年12月31日24点前使用有效，过期自动作废。例如：</dt>
							<dd>2017年7月获得的积分，在2018年12月31日24点后作废。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>怎么查询积分？</a>
						<dl>
							<dt><i></i>登录拓道金服账号</dt>
							<dd>PC端：点击【我的账户】—【积分与金币】进行查看。</dd>
							<dd>APP端：点击【我的】—【我的积分】进行查看。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是优惠券？</a>
						<dl>
							<dt><i></i>优惠券是提供给拓道金服用户的优惠福利，目前优惠券分为抵用券和加息券，用户在投资时满足一定的投资条件即可使用抵用现金或加息。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>加息券如何获得？</a>
						<dl>
							<dt><i></i>加息券获得主要有两种途径：</dt>
							<dd>（1）在通过积分兑换。</dd>
							<dd>（2）在平台活动获得。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>抵用券如何获得？</a>
						<dl>
							<dt><i></i>可通过注册账号、邀请好友和活动来获得抵用券</dt>
							<dd>（1）注册抵用券是新用户注册成功后，平台赠送的398抵用券。（自由转让中的债权转让标的除外）</dd>
							<dd style="line-height:30px;margin: 10px 0;">
								<table class="coupon">
									<tr>
										<th style="width:150px;">面额</th>
										<th>使用条件</th>
										<th style="width:150px;">期限</th>
									</tr>
									<tr>
										<td>10元</td>
										<td>满1000元标的期限1个月及以上使用</td>
										<td>7天</td>
									</tr>
									<tr>
										<td>30元</td>
										<td>满5000元标的期限1个月及以上使用</td>
										<td>15天</td>
									</tr>
									<tr>
										<td>60元</td>
										<td>满10000元标的期限12个月及以上使用</td>
										<td>65天</td>
									</tr>
									<tr>
										<td>98元</td>
										<td>满25000元标的期限3个月及以上使用</td>
										<td>33天</td>
									</tr>
									<tr>
										<td>200元</td>
										<td>满25000元标的期限12个月及以上使用</td>
										<td>65天</td>
									</tr>
								</table>
							</dd>
							<dd>（2）邀请好友可获得10元抵用券</dd>
							<dd>（3）活动抵用券是在拓道不定期的活动中获得。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>优惠券如何使用？</a>
						<dl>
							<dt><i></i>（1）用户在投标时，选择满足使用条件的优惠券即可直接抵用现金或加息。</dt>
							<dt><i></i>（2）优惠券一次只能使用一次张。（抵用券和加息券不可同时使用）</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">推荐奖励</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>邀请好友方式有哪些？</a>
						<dl>
							<dt><i></i>（1）网页端：登录拓道金服平台，点击【我的账户】—【邀请好友】，通过推荐码、QQ好友、微信、等方式分享给好友。</dt>
							<dt><i></i>（2）手机端：登录拓道金服APP，点击点击【发现】—【邀请好友】，分享推荐链接到第三方社交平台</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>邀请规则与奖励？</a>
						<dl>
							<dt><i></i>（1）好友首投奖励：直接被邀请人首次投资成功并已满标复审，邀请人即可获得10元抵扣红包（使用条件：起投1000元，1个月及以上，有效期为30天）和首次投资金额0.25%的返现奖励；</dt>
							<dt><i></i>（2）好友第二次投资起，邀请人即可根据目前的理财师等级，享受返现奖励；理财师等级及福利如图：</dt>
							<dt style="line-height:30px;margin: 10px 0;">
								<table class="prize">
									<tr>
										<th>邀请人等级</th>
										<th>直接邀请人达到V1及以上人数</th>
										<th>直接被邀请人总待收</th>
										<th>邀请人享受福利</th>
										<th>返现有效时间</th>
									</tr>
									<tr>
										<td>初级理财师</td>
										<td><span>&nbsp;</span>无</td>
										<td><span>&nbsp;</span>无</td>
										<td>直接被邀请人投资收益2%返现</td>
										<td><span>&nbsp;</span>6个月</td>
									</tr>
									<tr>
										<td>中级理财师</td>
										<td><span>&nbsp;</span>至少6人</td>
										<td><span>&nbsp;</span>至少200万</td>
										<td><span>直接被邀请人投资收益3%返现<br />间接被邀请人投资收益1%返现</span></td>
										<td><span>&nbsp;</span>一直有效</td>
									</tr>
									<tr>
										<td>王牌理财师</td>
										<td><span>&nbsp;</span>至少15人</td>
										<td><span>&nbsp;</span>至少400万</td>
										<td><span>直接被邀请人投资收益5%返现<br />间接被邀请人投资收益2%返现</span></td>
										<td><span>&nbsp;</span>一直有效</td>
									</tr>
								</table>
							</dt>
							<dt><i></i>理财师返现奖励到账时间：若投资散标项目则被邀请人每笔投资到期，按期返现；投资精选计划项目则奖励将在精选计划到期时一次性发放；</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何建立推广？</a>
						<dl>
							<dt><i></i>1、发送邀请链接给好友或其他朋友（建议不要发送给不熟悉的人士），通过此链接邀请成功，即可成为你的推广。</dt>
							<dt><i></i>2、好友注册时在“填写推荐人”时填写你的用户名，注册成功即可成为您的推广。如下图：</dt>
							<dd style="line-height:normal;"><img src="" alt=""></dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">会员体系</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>拓道金服的会员等级如何划分？</a>
						<dl>
							<dt><i></i>拓道金服会员包括7个会员等级，当月的会员等级根据上月日均账户资产进行划分；账户资产=账户余额+冻结金额+待收本金（不包含利息）；上月日均账户资产=上月每日的账户资产之和/上月的自然月天数）。</dt>
							<dt style="line-height:30px;margin: 10px 0;">
								<table class="member1">
									<tr>
										<th style="width:42%">会员等级</th>
										<th>上月日均账户资产</th>
									</tr>
									<tr>
										<td>V0 等级</td>
										<td>0≤上月日均账户资产＜5万</td>
									</tr>
									<tr>
										<td>V1 等级</td>
										<td>5万≤上月日均账户资产＜10万</td>
									</tr>
									<tr>
										<td>V2 等级</td>
										<td>10万≤上月日均账户资产＜30万</td>
									</tr>
									<tr>
										<td>V3 等级</td>
										<td>30万≤上月日均账户资产＜50万</td>
									</tr>
									<tr>
										<td>V4 等级</td>
										<td>50万≤上月日均账户资产＜100万</td>
									</tr>
									<tr>
										<td>V5 等级</td>
										<td>100万≤上月日均账户资产＜500万</td>
									</tr>
									<tr>
										<td>V6 等级</td>
										<td>上月日均账户资产≥500万</td>
									</tr>
								</table>
							</dt>
							<dt><i></i>新用户注册后当月会员等级默认为V0；下月日均账户资产=自首投之日起，每日账户资产总和/用户首投日距月底的天数；</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>会员等级的有效期是多少？</a>
						<dl>
							<dt><i></i>拓道金服的各等级会员有效期是一个月，并于每月1号的0点根据用户上月日均账户资产调整会员等级。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>会员有哪些权益？</a>
						<dl>
							<dt><i></i>免费提现次数：注册成为拓道金服会员后，根据每月的会员等级可享有不同的免费提现次数。每月享有的免费提现次数仅限当月有效，若当月免费体现次数未用完，则下月作废。</dt>
							<dt><i></i>大客户专享标：平台会不定期发出大客户专享标，只有部分等级较高的用户可以购买。</dt>
							<dt><i></i>生日礼包：根据注册用户认证时的身份证信息，每年生日的0点会发放生日大礼包。礼包中包含抵用券和加息券。具体的使用说明见券的详情。</dt>
							<dt><i></i>升级大礼包：每月1日的0点，根据用户上月的日均账户资产计算并对应新的会员等级，若用户首次升级至新的会员等级，可领取新的等级对应的升级大礼包。</dt>
							<dt style="margin: 10px 0;">
								<table class="member2">
									<tr>
										<td style="line-height:40px">会员等级</td>
										<td>V0</td>
										<td>V1</td>
										<td>V2</td>
										<td>V3</td>
										<td>V4</td>
										<td>V5</td>
										<td>V6</td>
									</tr>
									<tr>
										<td>日均账户资产<br />（x表示）</td>
										<td>0≤x<5万</td>
										<td>5万≤x<10万</td>
										<td>10万≤x<30万</td>
										<td>30万≤x<50万</td>
										<td>50万≤x<100万</td>
										<td>100万≤x<500万</td>
										<td>x≥500万元</td>
									</tr>
									<tr>
										<td style="line-height:40px">免费提现次数</td>
										<td>1</td>
										<td>2</td>
										<td>3</td>
										<td>4</td>
										<td>5</td>
										<td>6</td>
										<td>6</td>
									</tr>
									<tr class="success">
										<td style="line-height:40px">大客户专享标</td>
										<td colspan="7">平台会不定期发出大客户专享标，部分会员等级较高的用户可以购买。</td>
									</tr>
									<tr>
										<td>生日礼包</td>
										<td>-</td>
										<td>1张10元抵用券<br />1张50元抵用券<br />1张1%加息券</td>
										<td>1张20元抵用券<br />1张80元抵用券<br />1张2%加息券</td>
										<td>1张30元抵用券<br />1张80元抵用券<br />一张2%加息券</td>
										<td>1张30元抵用券<br />一张100元抵用券<br />一张2%加息券</td>
										<td>1张50元抵用券<br />一张100元抵用券<br />一张2%加息券</td>
										<td>2张100元抵用券<br />一张2%加息券</td>
									</tr>
									<tr>
										<td>升级大礼包</td>
										<td>-</td>
										<td>2张1%加息券<br />1张2%加息券<br />50元抵用券</td>
										<td>1张1%加息券<br />2张2%加息券<br />50元抵用券  </td>
										<td>2张1%加息券<br />2张2%加息券<br />80元抵用券</td>
										<td>2张2%加息券<br />1张3%加息券<br />80元抵用券</td>
										<td>1张1%加息券<br />2张2%加息券<br />1张3%加息券<br />100元抵用券</td>
										<td>2张1%加息券<br />2张2%加息券<br />1张3%加息券<br />100元抵用券</td>
									</tr>
								</table>
							</dt>
						</dl>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>