<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="main">
		<div class="menu_left">
			<ul>
				<li>常见问题</li>
				<li>新手必读</li>
				<li>注册登录</li>
				<li>银行存管</li>
				<li>收费标准</li>
				<li>充值提现</li>
				<li>投资回款</li>
				<li>精选计划</li>
				<li>债权转让</li>
				<li>自动投标</li>
				<li>积分和优惠券</li>
				<li>推荐奖励</li>
				<li>会员体系</li>
				<li>理财百科</li>
			</ul>
		</div>
		<div class="content">
			<div>
				<div class="list_top">常见问题</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>平台支持信用卡充值吗？</a>
						<dl>
							<dt><i></i>支持的。不同的第三方支付平台支持的信用卡银行稍有不同，单笔和每日充值额度也因第三方支付通道和银行的限额而异。银行为了保护</dt>
							<dd>个人资金安全，在账号充值的时候有一定的额度限制，具体额度每家银行各有不同，您可以打电话向银行咨询。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现到账时间？</a>
						<dl>
							<dt><i></i>当天14：00前提交提现申请当天到账，14：00之后提交的申请提现，次日到账。（节假日顺延）</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何进行提现？可以绑定信用卡提现吗？</a>
						<dl>
							<dt><i></i>(1)登录后进入“我的账户”；</dt>
							<dt><i></i>(2)进入"我的账户"页面，点击【提现】按钮；</dt>
							<dt><i></i>(3)选择要进行提现的银行卡并输入提现金额；</dt>
							<dt><i></i>(4)输入支付密码，并进行短信验证（启用短信验证时需要），完成提现申请。</dt>
							<dt>注意：不可以绑定信用卡提现。提现绑定的银行卡的开户用户名，必须与用户在“拓道金服”实名认证的身份信息一致。请提供申请提现的银行卡账号，并确保该账号的开户人姓名和您在拓道金服理财平台实名认证的真实姓名一致，否则无法成功提现。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>平台接受考察吗？</a>
						<dl>
							<dt><i></i>拓道金服接受任何投资人，可以去线下任何门店进行考察。考察预约请联系在线客服。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>平台投标奖励收益如何计算？</a>
						<dl>
							<dt><i></i>平台发布的有奖励的标的，为奖励年息，如标的本身年息为12%，平台奖励为3%，整个标的收益为15%，</dt>
							<dd>投标奖励年息满标复审之后即可到账，即补贴的3%在复审后可直接投标或提现。</dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">新手必读</div>
				<ul>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>我可以注册吗？</a></li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>我改如何投资？</a>
						<dl>
							<dt><i></i>在拓道网站上进行注册；点击查看&nbsp;<a href="register.html">如何注册 > </a></dt>
							<dt><i></i>开通北京银行存管账户，点击查看&nbsp;<a href="active_newuser.html">银行存管 > </a></dt>
							<dt><i></i>用一张开通网银功能的银行卡北京银行账户进行充值；</dt>
							<dt><i></i>浏览项目类型选择自己感兴趣的回款方式进行投资；</dt>
							<dt><i></i>确认金额，点击立即投资，去北京银行的页面输入交易密码，出借成功。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>哪种还款方式更适合我？</a>
						<dl>
							<dt><i></i>在拓道网站上进行注册；点击查看&nbsp;<span>如何注册 > </span></dt>
							<dt><i></i>开通北京银行存管账户，点击查看&nbsp;<span>银行存管 > </span></dt>
							<dt><i></i>用一张开通网银功能的银行卡北京银行账户进行充值；</dt>
							<dt><i></i>浏览项目类型选择自己感兴趣的回款方式进行投资；</dt>
							<dt><i></i>确认金额，点击立即投资，去北京银行的页面输入交易密码，出借成功。</dt>
						</dl>
					</li>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>投资后是否可以提前退出？</a></li>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>投资是否有额外的费用？</a></li>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>如何获得加息券？</a></li>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>如何获得投资券？</a></li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">注册与登录</div>
				<ul>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>注册：</a></li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>登录：</a>
						<dl>
							<dt><i></i>在拓道网站上进行注册；点击查看&nbsp;<a href="register.html">如何注册 > </a></dt>
							<dt><i></i>开通北京银行存管账户，点击查看&nbsp;<a href="active_newuser.html">银行存管 > </a></dt>
							<dt><i></i>用一张开通网银功能的银行卡北京银行账户进行充值；</dt>
							<dt><i></i>浏览项目类型选择自己感兴趣的回款方式进行投资；</dt>
							<dt><i></i>确认金额，点击立即投资，去北京银行的页面输入交易密码，出借成功。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">银行存管</div>
				<ul>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>我可以注册吗？</a></li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>我改如何投资？</a>
						<dl>
							<dt><i></i>在拓道网站上进行注册；点击查看&nbsp;<a href="register.html">如何注册 > </a></dt>
							<dt><i></i>开通北京银行存管账户，点击查看&nbsp;<a href="active_newuser.html">银行存管 > </a></dt>
							<dt><i></i>用一张开通网银功能的银行卡北京银行账户进行充值；</dt>
							<dt><i></i>浏览项目类型选择自己感兴趣的回款方式进行投资；</dt>
							<dt><i></i>确认金额，点击立即投资，去北京银行的页面输入交易密码，出借成功。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">收费标准</div>
				<ul>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>我可以注册吗？</a></li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>我改如何投资？</a>
						<dl>
							<dt><i></i>在拓道网站上进行注册；点击查看&nbsp;<a href="register.html">如何注册 > </a></dt>
							<dt><i></i>开通北京银行存管账户，点击查看&nbsp;<a href="active_newuser.html">银行存管 > </a></dt>
							<dt><i></i>用一张开通网银功能的银行卡北京银行账户进行充值；</dt>
							<dt><i></i>浏览项目类型选择自己感兴趣的回款方式进行投资；</dt>
							<dt><i></i>确认金额，点击立即投资，去北京银行的页面输入交易密码，出借成功。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">充值提现</div>
				<div class="cztx_menu"><a class="on">充值</a><a>提现</a></div>
				<div class="cztx_con">
					<ul>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>目前拓道金服支持哪些支付方式？</a>
							<dl>
								<dt>电脑端支持：网关支付及快捷支付  手机APP端支持：快捷支付</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>网关支付和快捷支付的含义是什么？</a>
							<dl>
								<dt><i></i>网关支付：即传统网银支付。第三方支付公司作为代理（网关），接入银行。用户在网关页面（可以在商户端，也可以第三方支付平台</dt>
								<dd>端）选择银行，页面跳转到第三方支付平台，然后重定向到对应的银行，用户在银行电子银行官网，采用网银（个人网银或企业网银）完成支付。快捷支付：只需要完成持卡人银行卡、身份证、手机号的实名认证即可），同时通过银行预留手机号接收短信验证码的形式来完成消费确认，很好平衡了安全性、便捷性。</dd>
								<dd></dd>
								<dd><img src="" alt=""></dd>
								<dd>在【我的账户】>【资金管理】>【充值】页面中，如上图，分别标有银行支付与快捷支付，即表示支持的支付方式。</dd>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>手机可以充值吗？</a>
							<dl>
								<dt><i></i>可以。支持的充值银行有：工、农、中、建、招、浦、光大、平安、华夏、兴业、中信、邮储，手机充值简单快捷，额度会在5万单日上</dt>
								<dd>限，后续可继续提高额度上限，投资人可以关注官网（51tuodao.com），及时下载最新版。</dd>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>平台支持信用卡充值吗？</a>
							<dl>
								<dt><i></i>支持的。不同的第三方支付平台支持的信用卡银行稍有不同，单笔和每日充值额度也因第三方支付通道和银行的限额而异。银行为了保护</dt>
								<dd>个人资金安全，在账号充值的时候有一定的额度限制，具体额度每家银行各有不同，您可以打电话向银行咨询。</dd>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>可以线下充值吗？</a>
							<dl>
								<dt><i></i>不可以。“拓道金服”按照当地监管部门对平台守法合规经营、资金来往透明的要求，不开通线下充值通道。</dt>
							</dl>
						</li>
					</ul>
					<ul class="dis_none">
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现需要手续费吗？</a>
							<dl>
								<dt><i></i>需要。提现手续费为3元（每月首次提现免费），成为拓道金服VIP后即可享受每月免费提现次数。充值后需投资抵押标后才可提现。提现</dt>
								<dd>金额每笔限额最低为100元，最高为49900元。</dd>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现什么时间到账？</a>
							<dl>
								<dt><i></i>当天14：00前提交提现申请当天到账，14：00之后提交的申请提现，次日到账。（节假日顺延）</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>添加的银行卡，不知道银行卡的开户行怎么办？</a>
							<dl>
								<dt><i></i>（1）您可以持银行卡及有效证件到发卡行的营业网点查询；</dt>
								<dt><i></i>（2）您可以拨打您银行卡开户行的24小时客服电话，选择人工服务，按照语音提示输入要查询的银行卡号和户主姓名，客服人员就会告</dt>
								<dd>知你开户行和所在地；</dd>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何进行提现？可以绑定信用卡提现吗？</a>
							<dl>
								<dt><i></i>（1）登录【我的账户】；</dt>
								<dd><img src="" alt=""></dd>
								<dd></dd>
								<dt><i></i>（2）进入【资金管理页面，点击】【提现】按钮)；</dt>
								<dt><i></i>（3）选择要进行提现的银行卡顶输入提现金额；</dt>
								<dt><i></i>（4）输入支付密码，并进行短信验证（启用短信验证时需要），完成提现申请</dt>
								<dd><img src="" alt=""></dd>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>可以信用卡提现吗？</a>
							<dl>
								<dt><i></i>不可以。拓道金服禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用。</dt>
							</dl>
						</li>
						<li>
							<a class="mouseover"><i class="iconfont">&#xe69a;</i>提现失败是什么原因？</a>
							<dl>
								<dt><i></i>造成提现失败的原因可能有以下几种：</dt>
								<dd>（1）未通过实名认证。</dd>
								<dd>（2）银行卡帐号填写有误，或是帐号与户名不符；</dd>
								<dd>（3）银行账户冻结或正在办理挂失；</dd>
								<dd>（4）提现金额小于100元。</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<div class="dis_none">
				<div class="list_top">投资与回款</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>充值会收手续费吗？</a>
						<dl>
							<dt><i></i>答：用户在“拓道金服”平台充值免费。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何进行投资？</a>
						<dl>
							<dt><i></i>1. 手机认证；</dt>
							<dt><i></i>2. 身份证认证；</dt>
							<dt><i></i>3.绑定和身份证同姓名的银行卡号</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>投标步骤：</a>
						<dl>
							<dt><i></i>1、强点击首页导航上的【理财专区】。</dt>
							<dd style="line-height:normal;"><img src="" alt=""></dd>
							<dt><i></i>2、在进度未满的标中记性选择，点击【立即投标】。</dt>
							<dd style="line-height:normal;"><img src="" alt=""></dd>
							<dt><i></i>3、输入投标金额和交易密码。</dt>
							<dd style="line-height:normal;"><img src="" alt=""></dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>投资收益计算方式</a>
						<dl>
							<dt><i></i>举例：本金乘以13.2%年化利率，除以12个月，此为一个月所得利息。（二月标和三月标须分别乘以所投标递的月数。）</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么时候进行还款？</a>
						<dl>
							<dt><i></i>答：满标复审之后，开始计息。如一月标，到期即可还本还息。二月标和三月标，按月付息，到期还本还息，收益高于一月标。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">精选计划</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划安全吗？</a>
					<dl><dt><i></i>精选计划匹配的资产均经拓道金服多层风控把关、严格筛选，并且确保资金与债权一一匹配。</dt></dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划什么时候开始计息？</a>
					<dl><dt><i></i>精选计划满标复审后计息。</dt></dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划正常退出需要多久时间到账？</a>
						<dl>
							<dt><i></i>精选计划到期后，如持有债权已到期，本金和收益将会回到账户余额。如持有债权未到期，将默认授权平台进行债权转让，转让成功后持</dt>
							<dd>有人的本金和利息即可回款到账户余额；转让退出时间预计1-3个工作日内完成。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划支持提前退出吗？</a>
						<dl>
							<dt><i></i>精选计划目前主要为1月期和3月期产品，不支持提前退出。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划的还款方式如何？</a>
						<dl>
							<dt><i></i>精选计划的还款方式以所匹配的债权为准，计划期间债权所得收益（除管理费外）回到投资人余额，本金继续复投。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划是否可以使用优惠券？</a>
						<dl>
							<dt><i></i>可以使用。</dt>
							<dt><i></i>举例：500000金额加入3个月期限的精选计划，若使用3%加息券，则预计所得 到期收益</dt>
							<dd>=500000*（11%+3%）/12*3=17500元。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>精选计划中是否可以及时看到所投资的标的？</a>
						<dl>
							<dt><i></i>加入精选计划后，资金匹配的每笔债权，都可以在相应计划的投资详情页查看其具体金额、起止时间以及相关协议。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">债权与转让</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是债权转让？</a>
						<dl>
							<dt>
								<i></i>"债权转让"是拓道金服为投资人提供的债权转让中介服务，有债权转出需求的投资人，可以凭借此服务将债权转让给其他有购买该债权需
							</dt>
							<dd>求的投资人。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是债权价值？</a>
					<dl>
						<dt><i></i>债权价值是未回款的本金+当月已持有天数的利息公式：</dt>
						<dd style="color:red;">债权价值=剩余本金总额+当月未收利息÷30×（转让申请日－上期还款日－1）</dd>
					</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>债权如何转让？</a>
						<dl>
							<dt><i></i>登录账户，我的债权，债权转让，发布债权转让</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>哪些符合条件？</a>
						<dl>
							<dt><i></i>1.只有等额本息的标才能申请债权转让。</dt>
							<dt><i></i>2.可转让日期为当投标成功，满标复审计息开始，超过90天，用户可以提出债权转让。</dt>
							<dt><i></i>3.限制转让时间必须大于距离下一个还款日>=72小时。</dt>
							<dt><i></i>4.债权转让交易未完成时，借款人提前还款，则自动退标。</dt>
							<dt><i></i>5.必须一次性转让所有债权。不能部分转让。</dt>
							<dt><i></i>6.转让过的债权不能继续转让。</dt>
							<dt><i></i>7.申请通过的债权转让会有72小时转让时间，超过时间未完成转让的则退标处理。</dt>
							<dt><i></i>8.债权转让金额必须>=100元。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>购买金额和本金的不同之处？</a>
						<dl>
							<dt><i></i>当你买入债权时，一部分金额将用于购买债权人转让当月已持有天数的利息，故这部分费用从购买金额中预先支付，承接人首次回款时将</dt>
							<dd>获得当月完整利息。公式：</dd>
							<dd style="color:red;">本金 = {购买金额－[第一个月未收利息÷30×（转让申请日－上期还款日－1）]}</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>债权转让让收益如何计算？</a>
						<dl>
							<dt><i></i>本金计算出来之后，以剩下期限，按照等额本息的计算方式进行计算，确认每月的还款 金额。如果转让人设置了奖励，奖励的计算公式：</dt>
							<dd>奖励=本金*奖励%</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>债权转让如何收费？</a>
						<dl>
							<dt><i></i>平台收取转让剩余本金总额的千分之5费用，最低为1元</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>债权的购买？</a>
						<dl>
							<dt><i></i>1.计算债权价值时，当月持有天数的利息不包括使用加息劵产生的收益部分。</dt>
							<dt><i></i>2.如果转让人使用过加息劵，转让当月持有天数的利息会进行计算，在转让成功后，平台对加息劵产生的收益进行发放。</dt>
							<dt><i></i>3.购买人不能继续使用加息劵。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">自动投标</div>
				<ul>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>我可以注册吗？</a></li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>我改如何投资？</a>
						<dl>
							<dt><i></i>在拓道网站上进行注册；点击查看&nbsp;<a href="register.html">如何注册 > </a></dt>
							<dt><i></i>开通北京银行存管账户，点击查看&nbsp;<a href="active_newuser.html">银行存管 > </a></dt>
							<dt><i></i>用一张开通网银功能的银行卡北京银行账户进行充值；</dt>
							<dt><i></i>浏览项目类型选择自己感兴趣的回款方式进行投资；</dt>
							<dt><i></i>确认金额，点击立即投资，去北京银行的页面输入交易密码，出借成功。</dt>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">积分和优惠券</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>积分是什么?</a>
						<dl>
							<dt><i></i>积分是拓道金服网站会员在平台上投资或通过平台奖励所获得的相应积分。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>积分的用途？</a>
						<dl>
							<dt><i></i>积分可兑换加息券，加息券可以增加投资收益。</dt>
							<dd style="line-height:normal;"><img src="" alt=""></dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何获取积分？</a>
						<dl>
							<dt><i></i>进入【我的账户】点击【奖励管理】再点击【我的积分】</dt>
							<dd>点击【我要赚积分】按钮后，有积分获取途径可进行选择。</dd>
							<dd style="line-height:normal;"><img src="" alt=""></dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>积分有使用权限吗？</a>
						<dl>
							<dt><i></i>积分是没有使用期限的，但是兑换成加息券后，加息券室友使用期限的。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>积分可以账户间转让吗？</a>
						<dl>
							<dt><i></i>积分为会员个人所有，会员间不可转染或赠与。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何获得优惠券？</a>
						<dl>
							<dt><i></i>平台活动和积分兑换可以获取加息券。</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何使用方法加息券？</a>
						<dl>
							<dt><i></i>加息券在投标时选择使用，使用后，将产生额外的收益。</dt>
							<dd>点击【立即投标】按钮后，若有加息券便可进行选择</dd>
							<dd style="line-height:normal;"><img src="" alt=""></dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">推荐奖励</div>
				<ul>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>什么是推广奖励？</a>
						<dl>
							<dt><i></i>在活动期间，拓道金服注册用户通过邀请链接邀请他人注册拓道金服账户（受邀者在注册时，推荐人一栏填写推广员）并进行投资，受邀</dt>
							<dd>者投资成功，推广员可获得受邀者首月投资收益的20%作为推荐奖励。同时，受邀者填写推荐人可额外获得一张1%加息券，加息券可增加投资回报。</dd>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>投资收益计算方式</a>
						<dl>
							<dt><i></i>举例：本金乘以13.2%年化利率，除以12个月,此为一个月所得利息。（二月标和三月标须分别乘以所投标递的月数。）</dt>
						</dl>
					</li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>如何建立推广？</a>
						<dl>
							<dt><i></i>1、发送邀请链接给好友或其他朋友（建议不要发送给不熟悉的人士），通过此链接邀请成功，即可成为你的推广。</dt>
							<dt><i></i>2、好友注册时在“填写推荐人”时填写你的用户名，注册成功即可成为您的推广。如下图：</dt>
							<dd style="line-height:normal;"><img src="" alt=""></dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="dis_none">
				<div class="list_top">会员体系</div>
				<ul>
					<li><a class="mouseover"><i class="iconfont">&#xe69a;</i>我可以注册吗？</a></li>
					<li>
						<a class="mouseover"><i class="iconfont">&#xe69a;</i>我改如何投资？</a>
						<dl>
							<dt><i></i>在拓道网站上进行注册；点击查看&nbsp;<a href="register.html">如何注册 > </a></dt>
							<dt><i></i>开通北京银行存管账户，点击查看&nbsp;<a href="active_newuser.html">银行存管 > </a></dt>
							<dt><i></i>用一张开通网银功能的银行卡北京银行账户进行充值；</dt>
							<dt><i></i>浏览项目类型选择自己感兴趣的回款方式进行投资；</dt>
							<dt><i></i>确认金额，点击立即投资，去北京银行的页面输入交易密码，出借成功。</dt>
						</dl>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="encyclopedia dis_none">
		<div class="ency_top">拓道金服理财百科</div>
		<ul>
			<li><a class="mouseover">P2P限贷之后，为何更加看好车贷行业?</a><span>2017-05-08 14:09:00</span></li>
			<li><a class="mouseover">P2P网贷行业首部业务规范指导细则出台，拓道金服将脱颖而出。</a><span>2017-05-08 14:09:00</span></li>
			<li><a class="mouseover">想不通我们为什么要理财？进来给你看最好的答案！</a><span>2017-05-08 14:09:00</span></li>
			<li><a class="mouseover">没有数字化的理财规划，等于毫无规划</a><span>2017-05-08 14:09:00</span></li>
			<li><a class="mouseover">100万10年后还剩下多少？</a><span>2017-05-08 14:09:00</span></li>
			<li><a class="mouseover">人生几件大事：生活上找对人，事业上跟对人，投资上看对人</a><span>2017-05-08 14:09:00</span></li>
			<li><a class="mouseover">有一种理想叫钱多事少离家近</a><span>2017-05-08 14:09:00</span></li>
			<li><a class="mouseover">【拓道科普】住房公积金的7种提取使用方法，别让你的公积金继续沉睡了</a><span>2017-05-08 14:09:00</span></li>
			<li><a class="mouseover">我负责开源，你负责节流，完美……</a><span>2017-05-08 14:09:00</span></li>
			<li><a class="mouseover">这样做就能赚钱！普通人一学就会，快收藏！</a><span>2017-05-08 14:09:00</span></li>
		</ul>
		<div class="pageList" onselectstart="return false" style="-moz-user-select:none;"></div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>