<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<%= require('html-loader!./layout/info_nav.html') %>
	<div class="data w1180 clear">
	<div class="plat_nav">
		<ul>
			<li class="on">数据概览</li>
			<li>运营报告</li>
		</ul>
	</div>
	<div class="plats">
		<p class="title">平台数据汇总（今日数据播报）</p>
		<div class="today_data clear">
			<div class="shang">
				<div class="main_box">
					<div class="box">
						<dl>
							<dt>累计借款金额（元）</dt>
							<dd class="borrowAmount">0.00</dd>
						</dl>
					</div>
					<div class="box">
						<dl>
							<dt>累计借款人数（人）</dt>
							<dd class="borrowerNum">0.00</dd>
						</dl>
					</div>
					<div class="box last">
						<dl>
							<dt>累计借款个数（个）</dt>
							<dd class="borrowNum">0.00</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="zhong">
				<div class="main_box">
					<div class="box">
						<dl>当前借款余额（元）</dl>
						<dd class="nowBorrowAmount">0.00</dd>
					</div>
					<div class="box">
						<dl>当前借款人数（人）</dl>
						<dd class="nowBorrowerNum">0.00</dd>
					</div>
					<div class="box last">
						<dl>当前借款个数（个）</dl>
						<dd class="nowBorrowNum">0.00</dd>
					</div>
					<div class="box">
						<dl>当前投资人数（人））</dl>
						<dd class="nowInvestorNum">0.00</dd>
					</div>
					<div class="box">
						<dl>今日已发标数量（个）</dl>
						<dd class="todayBorrowNum">0.00</dd>
					</div>
					<div class="box last">
						<dl>今日已经发标金额（元）</dl>
						<dd class="todayBorrowAmount">0.00</dd>
					</div>
				</div>
			</div>
			<div class="xia">
				<div class="main_box">
					<div class="box">
						<dl>逾期率</dl>
						<dd class="overdueRate"><span></span>%</dd>
					</div>
					<div class="box">
						<dl>逾期金额（元）</dl>
						<dd class="overdueAmount">0.00</dd>
					</div>
					<div class="box last">
						<dl>逾期个数（个）</dl>
						<dd class="overdueNum">0</dd>
					</div>
					<div class="box long">
						<dl>逾期90天（不含）以上金额（元）</dl>
						<dd class="overdueNinetyAmount">0.00</dd>
					</div>
					<div class="box long">
						<dl>逾期90天（不含）以上个数（个）</dl>
						<dd class="overdueNinetyNum">0.00</dd>
					</div>
					<div class="box last">
						<dl>累计代偿金额（元）</dl>
						<dd class="compensationAmount">0.00</dd>
					</div>
					<div class="box">
						<dl>累计代偿个数（个）</dl>
						<dd class="compensationNum">0.00</dd>
					</div>
					<div class="box">
						<dl>关联关系借款余额（元）</dl>
						<dd class="correlationBorrowAmount">0.00</dd>
					</div>
					<div class="box last">
						<dl>关联关系借款个数（个）</dl>
						<dd class="correlationBorrowNum">0.00</dd>
					</div>
				</div>
			</div>
		</div>
		<p class="title">平台投资/借款详情</p>
		<div class="borrow_details clear">
			<div class="left">
				<p>今日投资风云榜</p>
				<div class="main-box">
					<ul class="img">
						<li><i><img src="<%= require('../image/info/fir.png') %>" alt="" /></i></li>
						<li><i><img src="<%= require('../image/info/sec.png') %>" alt="" /></i></li>
						<li><i><img src="<%= require('../image/info/thr.png') %>" alt="" /></i></li>
					</ul>
					<ul class="content"></ul>
				</div>
			</div>
			<div class="right">
				<p>本月投资风云榜</p>
				<div class="main-box">
					<ul class="img">
						<li><i><img src="<%= require('../image/info/fir.png') %>" alt="" /></i></li>
						<li><i><img src="<%= require('../image/info/sec.png') %>" alt="" /></i></li>
						<li><i><img src="<%= require('../image/info/thr.png') %>" alt="" /></i></li>
					</ul>
					<ul class="content">
				</div>
				</ul>
			</div>
		</div>
		<div class="paihang clear">
			<p class="til">借款排行榜</p>
			<p class="bt">前10名借款人分布</p>
			<table class="table1">
				<tr>
					<td>排名</td>
				</tr>
				<tr>
					<td>待还金额</td>
				</tr>
				<tr>
					<td>占比</td>
				</tr>
			</table>
			<table class="table2">
				<tr class="ones">
				</tr>
				<tr class="twos">
				</tr>
				<tr class="threes">
				</tr>
			</table>
			<p class="bz">备注：当前第一名借款人为二手车经销商，车辆库存质押</p>
		</div>
		<p class="title">平台7日数据播报</p>
		<div class="day7 clear">
			<div class="tu" id="tu"></div>
		</div>
		<p class="title">平台月度数据播报</p>
		<div class="month_data clear">
			<div class="month" id="month"></div>
		</div>
	</div>
	<div class="plats reports dis_none">
		<div class="report_box">
			<div class="tab">
				<a href="#" class="xz">2017年</a>
				<a href="#">2016年</a>
			</div>
			<div class="show_box_7 clear">
				<a href="report_month_11.html" target="_blank"><img src="<%= require('../image/info/oper201711.png') %>" alt="" /></a>
				<a href="report_month_10.html" target="_blank"><img src="<%= require('../image/info/oper201710.png') %>" alt="" /></a>
				<a href="report_season_3.html" target="_blank"><img src="<%= require('../image/info/oper201703.png') %>" alt="" /></a>
				<a href="report_month_8.html" target="_blank"><img src="<%= require('../image/info/oper201708.png') %>" alt="" /></a>
				<a href="report_month_7.html" target="_blank"><img src="<%= require('../image/info/oper201707.png') %>" alt="" /></a>
				<a href="report_season_2.html" target="_blank"><img src="<%= require('../image/info/oper201702.png') %>" alt="" /></a>
				<a href="report_season_1.html" target="_blank"><img src="<%= require('../image/info/oper201701.png') %>" alt="" /></a>
			</div>
			<div class="show_box_6 clear dis_none">
				<a href="http://u.eqxiu.com/s/XWgNVkcU" target="_blank"><img src="<%= require('../image/info/operReport04.png') %>" alt="" /></a>
				<a href="report_2016_season3.html" target="_blank"><img src="<%= require('../image/info/operReport01.png') %>" alt="" /></a>
				<a href="report_2016_season2.html" target="_blank"><img src="<%= require('../image/info/operReport02.png') %>" alt="" /></a>
				<a href="report_2016_season1.html" target="_blank"><img src="<%= require('../image/info/operReport03.png') %>" alt="" /></a>
			</div>
		</div>
	</div>
</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<!-- <script src="/reload/reload.js"></script> -->
	<% } %>
</body>
</html>