<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<%= require('html-loader!./layout/info_nav.html') %>
	<div class="max-width">
		<div class="join_intr">
			<div class="fl join_bg join_left">
				<div></div>
			</div>
			<div class="fl intr">
				<p>拓道金服确立了以创新激发活力，以科技创造动力，以人才带动生产力的基本经营思路。未来拓道发展将围绕以车为核心，人车合一，以人为本这三个阶段的发展目标，在降低获客成本，完善风控模型，提高客户体验，分享经营成果四个方面进行全面布局。
拓道金服将于2017年完成全国超过200家门店布局，预计全年成交额将突破150亿元，覆盖国内大部分省份。拓道金服凭借近四年的探索和实践，强势领跑互联网科技金融发展快车道，欢迎优秀人才加入，共同拓道！</p>
				<p class="e_mail">请将简历发送至邮箱 zhaopin@51tuodao.com， 邮件标题“姓名+应聘职位”</p>
			</div>
			<div class="fl join_bg join_right">
				<div></div>
			</div>
		</div>
		<div class='join_job'>
			<div class="fl job_nav">
				<h3>诚聘英才</h3>
				<ul>
					<li class="on"><a href="javascript:;">产品研发岗</a></li>
					<li><a href="javascript:;">职能岗</a></li>
					<li><a href="javascript:;">运营岗</a></li>
					<li><a href="javascript:;">市场岗</a></li>
				</ul>
			</div>
			<div class="fl job_tab">
				<div class="jos_tabCom">
					<h3>产品研发岗</h3>
					<ul>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>java开发工程师</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、核心代码编写，服务抽取；</p>
								<p>2、系统性能调优；</p>
								<p>3、业务需求管理；</p>
								<p>4、重构系统确保高性能处理和系统的稳定性，应对海量数据与高并发。</p>
								<h4>任职要求：</h4>
								<p>1、精通Java编程基础：集合框架、多线程并发、IO/NIO、网络通信等；</p>
								<p>2、熟悉主流开源框架SSM，熟悉底层中间件、分布式技术（包括缓存、消息系统、热部署、JMX 等）；</p>
								<p>3、熟悉主流关系数据库Mysql、Oracle；</p>
								<p>4、良好的主动性和责任感；</p>
								<p>5、良好的逻辑思维、沟通能力、学习能力,具有比较强的问题分析和处理能力，热衷技术，精益求精，有Code Review的经验。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>Android工程师</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、负责移动Android产品的设计、开发工作；</p>
								<p>2、 根据项目任务计划按时完成软件编码和单元测试工作；</p>
								<p>3、 根据产品需求完成模块设计、编码工作；</p>
								<p>4、 解决研发过程中的关键问题和技术难题；</p>
								<p>5、 协助开发经理保证研发工作的质量和进度。</p>
								<p>6、 配合测试团队，修复系统缺陷，完善系统功能；</p>
								<p>7、 对现有程序、流程进行维护、完善和改造；</p>
								<p>8、 对产品的发展提出技术改进，提高产品核心竞争力。</p>
								<h4>任职要求：</h4>
								<p>1、 专科及以上学历，计算机软件、通讯、数学相关专业优先;</p>
								<p>2、 2年以上Java应用开发经验或1年Android平台应用软件开发经验，参与过成熟android应用开发的优先;</p>
								<p>3、 精通Android应用软件的编程架构；熟练使用Eclipse等Android软件开发工具;</p>
								<p>4、 精通Android各类UI组件、图形图像、网络、文件系统等模块的使用；</p>
								<p>5、 思路清晰，思维敏捷，快速的学习能力，良好的英文资料阅读能力；</p>
								<p>6、良好的抗压力，具备良好的沟通能力和团队合作精神;</p>
								<p>7、有Scrum敏捷开发经验者优先。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>IOS开发工程师</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、 负责公司iOS产品开发、性能优化；</p>
								<p>2、 与产品经理配合，负责产品的迭代更新；</p>
								<p>3、 参与产品、功能与技术架构的改进，及相关技术的研究。</p>
								<h4>任职要求：</h4>
								<p>1、 计算机相关专业毕业，2年以上工作经历；</p>
								<p>2、 扎实的Objective-C语言基础，对Objective-C语言有深入的理解，独立开发一款appstore上线应用优先；</p>
								<p>3、 有较强的架构能力，能独立负责产品的架构规划和架构演进；</p>
								<p>4、 熟悉常用的framework，对内存管理、对象生命周期有清晰的认识，具备较强的开发、调试、性能优化能力；</p>
								<p>5、 工作责任心强，积极主动，思路清晰有条理，有良好的团队协作精神；</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>Web前端开发</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、 负责WEB前端软件系统开发；完成移动前端的设计及编码；</p>
								<p>2、 完成安排的软件开发和单元测试工作；</p>
								<p>3、 参与软件的系统设计、模块设计，按照需要完成详细设计；</p>
								<p>4、 书写相关的技术类文档；</p>
								<p>5、调试和解决系统测试中发现的问题；</p>
								<p>6、与测试和需求人员沟通和合作。</p>
								<h4>任职要求：</h4>
								<p>1、1至2年以上WEB前端开发工作经验；</p>
								<p>2、精通div css布局的html代码编写，熟练手写标准css样式表，兼容各浏览器,精通html5、css3，熟悉页面架构和布局，对web标准和标签语义化有深入理解；</p>
								<p>3、精通JavaScript，HTML/CSS，Ajax，，Json，熟悉各种移动前端框架，熟练掌握jquery，具有良好的分析和解决问题能力，对攻关疑难问题具有浓厚兴趣；有良好的沟通能力和团队协作精神。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>测试工程师</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、精通测试理论知识，能独立搭建性能测试环境；</p>
								<p>2、能进行性能测试场景设计、执行，独立编写测试脚本；</p>
								<p>3、负责根据项目的特性，组织和规划性能测试，精准地定义性能测试的各个关键环节；</p>
								<p>4、对性能问题进行分析和追踪，能够将性能问题逐层分解，提出性能优化和改善建议，为开发人员提供有价值的性能调优意见；</p>
								<p>5、并总结和剖析性能测试结果，汇报性能测试报告；</p>
								<p>6、致力于性能测试的过程和体系的持续改进，对性能测试的技术不断的研究和拓展。</p>
								<h4>任职要求：</h4>
								<p>1、专科以上学历，2年以上的性能测试相关工作经验；</p>
								<p>2、精通性能测试场景设计，掌握系统性能测试方法；</p>
								<p>3、能独立编写性能测试脚本，熟练掌握一种性能测试工具，如LoadRunner、Jmeter等；</p>
								<p>4、能够定位、分析DB和代码性能问题及瓶颈；</p>
								<p>5、互金行业优先。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>产品总监</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、统筹管理规划拓道线上产品线（拓道金服平台）及线下产品线（线下业务管理系统、获客系统、风控模型等）；</p>
								<p>2、负责整个产品中心的建设及管理，带领产品团队不断优化用户体验和产品逻辑；</p>
								<p>3、领导产品中心与其他部门紧密联系，确保产品实现进度和质量，跟踪产品的设计、开发、发布、运营等环节，确保项目按时完成和上线。</p>
								<h4>任职要求：</h4>
								<p>1、5年以上产品工作经验，3年以上产品总监管理经验，熟悉互联网金融平台，了解金融；</p>
								<p>2、具有BAT背景，知名互联网金融/消费金融公司经验或大型互联网电商公司工作经验优先；</p>
								<p>3、具备产品整体规划和把控能力，有良好的产品感觉，且熟悉交互设计，熟悉互联网金融产品；</p>
								<p>4、有创业精神的，能承担高负荷工作节奏，曾有创业经历的优先考虑。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>产品经理</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、负责拓道金服APP\PC\H5的产品工作；</p>
								<p>2、通过市场调研、竞品分析、数据分析等方式挖掘用户需求，并结合业务完善产品功能、提高用户体验；</p>
								<p>3、产出高质量的产品需求文档，并协调运营、设计、研发、测试部门共同完成产品的高质量上线；</p>
								<h4>任职要求：</h4>
								<p>1、3年以上互联网工作经验，2年以上产品经理工作经验，有互金领域经验加分；</p>
								<p>2、能独立负责整条产品线的产品迭代工作；</p>
								<p>3、具备优秀的逻辑能力和沟通能力，执行力强，有较好的跨团队合作经验；</p>
								<p>4、具备以下领域经验者优先：金融，电商，数据服务；</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="jos_tabCom dis_none">
					<h3>职能岗</h3>
					<ul>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>部门助理</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、逾期信息的统计与汇总，每月数据分析，具有较强的保密意识；</p>
								<p>2、催收与谈判人员的考勤、入职离职、提成计算等人事管理工作；</p>
								<p>3、保理公司的行政事务的管理，做好与总公司的对接工作；</p>
								<p>4、依据公司财务制度统计和审核各项费用的报销。</p>
								<p>5、上级交代的其他任务。</p>
								<h4>任职要求：</h4>
								<p>1、本科及以上学历，有一年以上企业工作经验；</p>
								<p>2、有互联网金融行业的工作经验优先，对数据较敏感；</p>
								<p>3、热爱本职工作，服从分配，听从领导，能够自觉的遵守公司里的各项规章制度，认真工作负责，扎实；</p>
								<p>4、熟练使用电脑、办公软件；</p>
								<p>5、性格外向，善于沟通，有团队合作精神。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>董事长助理</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、负责董事长工作日志的协调与安排，并做好相应的人员预约、接待、会议准备等事项；</p>
								<p>2、落实董事长所有行程，做好日程安排、工作提醒等工作；</p>
								<p>3、负责组织、统筹公司级会议的会务安排，记录、整理会议纪要，并根据需要撰写邮件、公文、报告等；</p>
								<p>4、负责董事长的来访接待、商务随行等；</p>
								<p>5、及时准确的处理临时事件，保证董事长的工作效率，完成其他董事长交给的事务性工作。</p>
								<h4>任职要求：</h4>
								<p>1、本科及以上学历，三年以上相关工作经验；</p>
								<p>2、有较强的沟通协调能力，抗压性及快速学习能力；</p>
								<p>3、工作认真细致，有条理性，有较强的敬业精神和责任心；</p>
								<p>4、性格开朗、乐观，有一定的亲和力和上进心；</p>
								<p>5、具备良好的文字表达能力，熟练使用办公软件；</p>
								<p>6、可以适应短期的出差。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>区域HRBP</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、直线向省分总及总部HRBP汇报，负责HR各项工作在区域内的推进和落实；</p>
								<p>2、负责与总部行政经理对接行政工作的开展及注意事项并在所在区域推进和落实；</p>
								<p>3、深入业务，掌握业务实操全流程，并提出相关优化解决方案；</p>
								<p>4、对接总部HRBP，作为第一责任人开展所在区域的人员招聘、劳动关系、绩效考核、试用期考核、离职分析、人员培训等工作；</p>
								<p>5、与所在区域的门店行政人事专员进行对接，指导门店人事开展人员招聘、入离职手续办理、绩效考核结果统计、办公用品采购等行政人事事宜；</p>
								<p>6、负责企业文化和价值观在区域内的宣贯和落地，做文化的守门人；</p>
								<p>7、完成省分总交待的其它工作事项。</p>
								<h4>任职要求：</h4>
								<p>1、全日制大专以上学历，人力资源管理或相关专业优先；</p>
								<p>2、具有互联网P2P、金融行业或跨区域管理工作经验者优先；</p>
								<p>3、熟悉招聘流程和招聘渠道，熟练运用各种招聘工具和手段，能独立开展中高层销售类人员的招聘工作；</p>
								<p>4、熟悉销售类岗位的绩效管理流程及指标，能独立提出绩效流程及指标的改进建议；</p>
								<p>5、目标导向、自我驱动、具备较强的逻辑思考能力、学习能力、抗压能力；</p>
								<p>6、高情商，沟通能力强，积极乐观，团队协作意识强。</p>
								<p>可选地点：江苏/湖南/云南/四川</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>行政经理</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、组织协调各类会议活动、维护办公环境、统筹各类采购、管理固定资产以及车辆，管理公司仓储和礼品；</p>
								<p>2、统筹总部和分部的行政工作，让分部行政工作跟总部良好对接；</p>
								<p>3、行政管理体系搭建、办公区域租赁装修、行政采购体系搭建维护、大型年会以及重要活动组织；</p>
								<p>4、公司固定资产与低值易耗品（非办公用品和日常用品）的预算与成本控制；</p>
								<p>5、对于行政相关的工作程序和负责监督规章制度的落实，及时组织相应的部门沟通协调；</p>
								<p>6、负责公司对外部联络工作，并维护良好的合作关系；</p>
								<p>7、建立完善工作程序和文明的工作环境。</p>
								<h4>任职要求：</h4>
								<p>1、行政管理、企业管理等相关专业本科学历及以上；</p>
								<p>2、至少3年相关工作经验，至少1年行政主管经历，熟悉行政工作流程；</p>
								<p>3、良好的沟通协调能力，书面以及口头表达能力；</p>
								<p>4、能承受一定的工作压力，有将强的责任感和敬业精神，良好的组织能力，分析能力和解决问题的能力；</p>
								<p>5、熟悉使用办公软件和办公自动化设备。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>人事专员</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、开展招聘，筛选简历、邀约面试，面试结果跟进；</p>
								<p>2、办理入职、离职、转正等手续，签订劳动合同，档案管理；</p>
								<p>3、开展新人入职培训，执行培训计划；</p>
								<p>4、统计人事数据，对接分公司人事工作；</p>
								<p>5、绩效数据收集，社保缴纳，更新花名册等人事事务性工作；</p>
								<p>6、完成临时交办的工作。</p>
								<h4>任职要求：</h4>
								<p>1、大专以上学历，人力资源、行政管理等相关专业；</p>
								<p>2、至少1年以上人事等相关工作经验；</p>
								<p>3、熟人事工作流程，熟悉国家各项劳动人事法规政策；</p>
								<p>4、具有较强的语言表达能力、人际交往能力、应变能力、沟通能力及解决问题的能力，有亲和力，较强的责任感与敬业精神。</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="jos_tabCom dis_none">
					<h3>运营岗</h3>
					<ul>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>运营经理</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、负责公司产品的整体运营，负责制定、完善、执行产品的运营策略和运营计划以及运营团队的管理制度，推动产品的精细化运营；</p>
								<p>2、规划平台的风格、架构、功能、频道，负责团队建设、团队培训和日常工作开展等；</p>
								<p>3、统计、分析公互联网平台各类数据，对公司运营决策提供支撑，带领团队进行平台的维护及升级；</p>
								<p>4、通过网站运营提升网站价值和粘性，促进公司网站各项收数据提升，提升品牌知名度，提高注册量，提高客户活跃度，提升用户留存率，提高成交量；</p>
								<p>5、带领团队完成运营指标，定期出具运营分析报告，分析公司运营数据，优化和提高公司运营流程和效率，不断探索新的运营模式；</p>
								<p>6、负责团队目标的制定与分解，制定健全高效的工作流程和工作制度并执行，领导内容运营和产品运营团队达成各项目标。</p>
								<h4>任职要求：</h4>
								<p>1、3年以上运营管理工作经验，至少2年互金平台运营经验，知名互金平台运营经验优先； </p>
								<p>2、有丰富的互联网产品和内容运营、活动运营、线上推广经验，对互联网及其服务应用的发展具有深入研究，对产品和内容运营以及相关数据敏感，思维清晰而有条理。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>内容运营</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、负责APP和网站的内容运营；</p>
								<p>2、协助公司各类运营宣传策划方案的设计和撰写；</p>
								<p>3、负责官方微信公众号的内容运营；</p>
								<p>4、其他产品相关运营工作；</p>
								<h4>任职要求：</h4>
								<p>1、良好的文案功底；</p>
								<p>2、对金融有一定认识和了解，具备行业热点事件的敏感度；</p>
								<p>3、有良好的省美观，懂ps，会h5设计更佳；</p>
								<p>4、逻辑思维强，思路及表达非常清晰；</p>
								<p>5、有媒体杂志、网络编辑、推广类软文撰写工作经验者优先；</p>
								<p>6、有金融行业相关工作经验优先，有金融类出稿经验者优先。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>用户运营</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、拓展新用户，维护和发展老用户群体，特别是发展核心用户关系，带动活跃度和提升产品忠诚度；</p>
								<p>2、规划用户运营整体策略和方向，制定各项用户运营计划，创造性地策划各种用户运营活动，不断提升用户活跃度和新用户导入；</p>
								<p>3、制定各类用户运营活动方案，并组织协调各部门资源来推动方案的实施，确保方案在预算内及时完成，并达到相应的运营目标；</p>
								<p>4、及时反馈、分析活动效果，完成活动总结，为未来活动的开展提供参考；</p>
								<p>5、关注各渠道中获得的用户反馈情况，及时响应，遇特殊情况制订特别的反馈方案并执行；</p>
								<p>6、及时完成相关数据的统计、分析工作，并提出自己的意见和想法。</p>
								<h4>任职要求：</h4>
								<p>1、良好的策划能力，熟悉互联网金融行业；</p>
								<p>2、对运营有深刻理解，有知名互金公司用户运营经验者优先，工作责任心强，良好的沟通能力及抗压能力；</p>
								<p>3、思维活跃，能根据现有资源策划和组织与运营相关活动；</p>
								<p>4、接受新事物快，具备出色的团队协作能力。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>资料审核员</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、负责对借贷信息资料、图片的审核；</p>
								<p>2、负责准确填写借贷信息，并在平台上进行发布和维护；</p>
								<p>3、统计每天发标等相关数据，制作相关报表；</p>
								<p>4、其他日常工作事务。</p>
								<h4>任职要求：</h4>
								<p>1、工作细心，责任心强，执行力强，爱岗敬业；</p>
								<p>2、会基本的电脑操作，懂office办公软件基本操作。</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="jos_tabCom dis_none">
					<h3>市场岗</h3>
					<ul>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>金融产品经理</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、 负责公司金融产品的整体规划、结构设计、业务流程设计等工作；</p>
								<p>2、 制定产品业务规范，整理、完善产品文档、业务流程及相关内容；</p>
								<p>3、负责部门间的协调沟通，产品项目的跟进与推动；</p>
								<p>4、负责日常业务数据分析，风险防范及法律纠纷规避等；</p>
								<p>5、关注业内外动态，进行市场调研和市场需求分析，寻求规划新的互联网金融产品，不断完善产品线。</p>
								<h4>任职要求：</h4>
								<p>1、 金融相关专业，大学专科及以上学历；</p>
								<p>2、 有一定法律基础，3年以上金融产品设计经验者优先；</p>
								<p>3、具备跨部门沟通、协作能力，清晰的逻辑思维和良好的表达能力；</p>
								<p>4、熟悉互联网金融行业、汽车抵押贷款业务；</p>
								<p>5、良好的自我约束能力和团队管理能力,较强的抗压能力；</p>
								<p>6、愿意接受出差的工作性质。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>门店管理专员</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、负责跟踪总部对门店的制度和政策的执行情况，信息反馈；</p>
								<p>2、负责对接门店反应的问题收集、汇总、并提出合理的解决方案；</p>
								<p>3、针对门店的部分问题，需要与内部的其他部门作沟通，解决问题；</p>
								<p>4、领导下达的其他任务。</p>
								<h4>任职要求：</h4>
								<p>1、本科学历，相貌端正；</p>
								<p>2、性格开朗、沟通能力强、有大型会议主持经验；</p>
								<p>3、有一定的管理经验，富有工作激情，能适应偶尔加班和出差；</p>
								<p>4、对人员绩效比较懂，有一定的写作能力，善于word\excel\ppt。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>督导专员</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、出差考察，在充分准备好资料的情况下去线下门店进行督察，与门店人员进行沟通，传达总部要求；</p>
								<p>2、查看门店业务是否规范，查看质押、抵押车，分析是否存在虚假标的情况；</p>
								<p>3、核对客户档案资料，看是否有客户档案缺失或者有私下做单的客户档案资料；</p>
								<p>4、 查看门店风控对于离线车辆跟踪是否及时，车辆GPS安装是否符合规定；</p>
								<p>5、 查看门店整体经营情况，门店是否发虚假标，门店是否私下放贷；</p>
								<p>6、 针对督察发现的问题，开出整改通知书，并和分部店长沟通交流，及时解决问题；</p>
								<p>7、 汇总检查结果，已报告报表的形式反馈给上级；</p>
								<h4>任职要求：</h4>
								<p>1、 学历大专及以上，形象良好，有较强的协调沟通能力和人际交往能力；</p>
								<p>2、 一年以上稽核、监察、合规工作经验，有车贷行业相关经验优先；</p>
								<p>3、 刚正不阿，做事有原则，又懂得灵活应变；</p>
								<p>4、 愿意接受长期出差的工作性质。</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>省级分公司总经理</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、负责本省区分部的组建与管理：负责办公场地的选定，运营成本控制等相应事宜；</p>
								<p>2、监督销售策略实施，组织带领团队完成公司指定的销售任务指标，及其它交办的工作事项；</p>
								<p>3、负责本省区的渠道建设、销售网络开发、销售渠道维护，建立完善的销售网络体系；</p>
								<p>4、负责本省区销售团队的建立、人员的培训、考核及管理；</p>
								<p>5、负责重点客户的开发与维护，建立良好的客户关系；</p>
								<p>6、负责本省区销售业绩的数据分析，市场信息的收集、分析和反馈，协调处理各类市场问题；</p>
								<p>7、进行客户分析，挖掘用户需求，开发新的客户和新的市场领域；</p>
								<p>8、严格执行公司的销售政策，严格控制费比，确保市场有序高速发展；</p>
								<h4>任职要求：</h4>
								<p>1、市场营销类、管理类或其他相关专业大专以上学历；</p>
								<p>2、八年以上金融行业相关营销经验，三年以上同岗位管理经验，有车贷从业经验者优先；</p>
								<p>3、能够独立进行区域性业务运作，善于根据市场变化、客人的需求和市场竞争需求制定营销方针和策略；</p>
								<p>4、具有优秀的谈判技巧和人际沟通能力；</p>
								<p>5、具有敏锐的市场洞察力、应变能力、创造性的思维能力及稳健的管理能力；</p>
								<p>6、具有职业激情，能够在压力环境中工作，并对未来有职业发展要求者。</p>
								<p>办公地点：全国可选</p>
							</div>
						</li>
						<li>
							<a href="javascript:;"><i class="iconfont">&#xe69a;</i>区域经理</a>
							<div class="job_intro">
								<h4>岗位职责：</h4>
								<p>1、区域城市分公司管理，督促营运中心各项任务完成进度；</p>
								<p>2、参与公司战略布局，健全公司各项制度，完善公司运营管理机制；</p>
								<p>3、负责协调各部门工作，协助推进区域营运中心各项目标的达成；</p>
								<p>4、维持城市公司正常运作，协调区域内城市公司资源，保障服务；</p>
								<p>5、跟踪落实战略区域任务，及时反馈与协调；</p>
								<p>6、管理并激励所属部门员工的工作绩效。</p>
								<h4>任职要求：</h4>
								<p>1、5年以上业务或企业管理经验优先；</p>
								<p>2、3年以上区域连锁店或区域城市公司管理经验；</p>
								<p>3、熟悉企业管理规范和流程具有较强的组织协调、沟通交流等综合管理能力；</p>
								<p>4、具互联网汽车金融服务管理经验者优先考虑。</p>
								<p>办公地点：全国可选</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>