<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="invest_top">
		<div class="max-width">
			<ul class="invest_tab">
				<li>
					<a href="invest.html?sift" data="sift">精选计划</a>
				</li>
				<li data="b">
					<a href="invest.html?scatter" data="scatter">散标项目</a>
				</li>
				<li data="c">
					<a href="invest.html?bond" data="bond">债权转让</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="max-width">
		<div class="clearing">
		</div>
		<div class="detail_top">
			<div class="detail_top_left">
				
			</div>
			<div class="detail_top_right">
				<div class="investting" >
					<!-- 未登录状态 -->
					<div class="login_btn" style="display: none;">
						<a href="">登录</a>查看账户可用余额，或<a href="">立即注册</a>
					</div>

					<div class="current_money" >
						<div>
							<p class="txt ">
									可用余额
							</p>
							<div class="money">
								<b><span class="balance"></span><i>元</i></b>
								<a href="###">充值</a>
							</div>
						</div>
					</div>
					<div class="com_styl invest_money" >
					<!-- 标的可投余额小于起投金额500元时 -->
						<!-- <input type="text" placeholder="本项目剩余可投499元"> -->
						
						<input type="text" placeholder="100元起投" class="com_inp sub_money" id="sub_money">
						<i class="iconfont btn_empty">&#xe68b;</i>
						<div class="iconfont fontcol all_money"><i>余额全投&nbsp;</i></div>
					</div>
					<div class="com_styl add_ticket" >
						<p class="p_ticket">请选择优惠券</p>
						<input type="hidden" class="inp_ticket" value="">
						<div class="fontcol ticket">优惠券&nbsp;</div>

						<!-- 没有可用优惠券 -->
						<!-- <div class="no_ticket">当前没有可用优惠券</div> -->

					</div>
					<div class="com_styl input_pwd" >
						<input type="password" placeholder="请输入支付密码" class="com_inp sub_psw" id="sub_psw">
						<div><a href="" class="fontcol">忘记密码&nbsp;</a></div>
					</div>
					<!-- <div class="com_styl input_pwd" >
						<input type="password" placeholder="请输入约标密码" class="yue_psw">
					</div> -->
					<div class="predict">预计收益：<b class="predict_money">0.00</b>元</div>
					<div class="input_sub">
						<!-- 倒计时 -->
						<!-- <div class="countdown times"><span><b>00</b> : <i>00</i> : <em>00</em>后开抢</span></div> -->

						<!-- 正常投标按钮 -->
						<input type="submit" id="sub_btn" value="实付0.00元，立即投资" />

						<!-- 新手专享按钮 -->
						<!-- <input type="submit" value="新手专享，非新手不能加入" class="no_btn"> -->

						<!-- 清算时间按钮 -->
						<!-- <input type="submit" value="存管清算时间，不能加入" class="no_btn"> -->

						<!-- 未登录按钮 -->
						<!-- <div class="login_a"><a href="">立即登录</a></div> -->
						
					</div>
					<!-- app专享标 -->
					<div class="app_invest" style="display: none;">
						<div class="ewm"></div>
						<p>本标的仅限在APP端投资</p>
						<b>扫描二维码下载手机客户端</b>
					</div>
					<div class="agreement" id="protocol">
						<div>
							<!-- 债权转让显示 -->
							<input type="checkbox" id="checkinp" checked=""><label for="checkinp">我已阅读并同意<a href="###">《债权转让及受让协议》</a></label>
						</div>
						<a href="###" style="" class="hinta">市场有风险，投资需谨慎 &gt;</a>
					</div>
				</div>	
				<!-- 已转让 -->
				<div class="shift" style="display: none;">
					<p>该标的已转让成功</p>
					<p><a href="">去看看其他标 > </a></p>
					<span></span>
				</div>	
			</div>
		</div>
		<div class="detail_bot">
			<div class="detail_tab">
				<ul>
					<li>
						<a href="JavaScript:;" class="on">项目详情</a>
					</li>
					<li>
						<a href="JavaScript:;">常见问题</a>
					</li>
					<li>
						<a href="JavaScript:;">投资记录</a>
					</li>
				</ul>
			</div>
			<div class="detail_con">
				<div class="detai details">
					<div class="oDiv details_c">
						<div>
							<h3>转让介绍</h3>
							<p><span>&bull;</span>债权转让，指投资人将在拓道金服平台投资的借款项目转让给其他拓道金服用户，并与授让人签订债权转让协议，收回本金及利息的操作。</p>
							<p><span>&bull;</span>债权转让能提高投资者资金的流动性，当你需要流动资金时，可以通过出售你名下拥有的符合相应条件的债权给其他投资人，从而完成债权转让，获得流动资金。</p>
						</div>
						<div>
							<h3>转让流程</h3>
							<ul>
								<li class="li_a">
									<span class="a"></span>
									<b>发起债权转让</b>
									<i class="e"></i>
								</li>
								<li class="li_b">
									<span class="b"></span>
									<b>线上募集</b>
									<i class="f"></i>
								</li>
								<li class="li_c">
									<span class="c"></span>
									<b>满标</b>
									<i class="g"></i>
								</li>
								<li class="li_d">
									<span class="d"></span>
									<b>转让成功，资金到账</b>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="detai oDiv issue" style="display: none">
					<ul>
						<li>
							<span>&bull;</span><h3>什么是债权转让？</h3>
							<p>债权价值，指投资人转让的本金和收益的总值，计算公式如下：</p>
							<p>债权价值=当期本金+当期未收利息÷当期月份天数×（转让申请日+当期还款日）+下期起的本息总额。</p>
						</li>
						<li>
							<span>&bull;</span><h3>债权转让手续费如何收取？</h3>
							<p>转让手续费：</p>
							<p>持有＜90天，收取0.5%转让金额手续费；</p>
							<p>持有≥90天，收取0.2%转让金额手续费；</p>
							<p>手续费最低为1元。</p>
						</li>
						<li>
							<span>&bull;</span><h3>债权转让必须符合哪些条件？</h3>
							<p>(1) 只有等额本息的标才能申请债权转让。</p>
							<p>(2) 可转让日期为当投标成功，满标复审计息开始30天，可以提出债权转让；承接人持有购买债权，超过30天，才可再次转让。</p>
							<p>(3) 转让时间必须大于距离下一个还款日≥7天。</p>
							<p>(4) 债权转让交易未完成时，借款人提前还款，则自动退标。</p>
							<p>(5) 必须一次性转让所有债权，不能转让部分。</p>
							<p>(6) 转让过的债权可以继续转让，且转让次数不受限制。</p>
							<p>(7) 申请通过的债权转让会48个小时的转让时间，超过时间未完成转让的则做退标处理。</p>
							<p>(8) 债权转让金额必须≥100元。</p>
						</li>
						<li>
							<span>&bull;</span><h3>购买债权转让产品可以使用加息券吗？</h3>
							<p>可以使用。</p>
						</li>
					</ul>
				</div>
				<div class="detai con_record" style="display: none">
					<table>
						<thead>
							<th>投资用户</th>
							<th>投资金额（元）</th>
							<th>交易时间</th>
						</thead>
						<tbody class="chage_tr" id="tbody_list">
							
						</tbody>
					</table>
					<div class="zxf_pagediv"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 加入成功 -->
	<div class="hint_show dis_none" id="succeed_show">
		<div class="txt">
			<div class="ltxt">投资成功</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="show_com succeed">
			<div class="icon"></div>
			<!-- 散标和转让显示 -->
			<p>恭喜您成功投资10,000.00元！</p>
			<b>您可以 <a href="">继续投资</a> 或 <a href="">查看已投项目</a></b>
			<span class="iskonw">我知道了</span>
		</div>
	</div>
	<!-- 加入失败 -->
	<div class="hint_show dis_none" id="failed_show">
		<div class="txt">
			<div class="ltxt">投资失败</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="show_com failed">
			<div class="icon"></div>
			<!-- 散标和转让显示 -->
			<p>投资失败，项目已满额！</p>
			<b>这个项目太抢手啦，试试 <a href="">其他转让项目</a>吧！</b>
			<span class="iskonw">我知道了</span>
		</div>
	</div>
	<!-- 激活存管 -->
	<div class="hint_show dis_none" id="bank_show">
		<div class="txt">
			<div class="ltxt">
				激活存管账户
				<div class="hint">
					<i class="iconfont">&#xe68d;</i>
					<div class="tips">银行存管是指用户在P2P平台上的交易资金交由银行管理，平台无法接触交易资金的一种资金管理模式。借款人、投资人和平台通过银行方开设存管账户，来实现交易和资金的结算。<span class="bot"></span><span class="bot2"></span></div>
				</div>
			</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="show_com bank">
			<div class="icon"></div>
			<p>拓道金服正式启用北京银行资金存管系统</p>
			<b>为保障您的资金安全,请在充值、投资、提现前激活存管</b>
			<span class="iskonw">
				<a href="">立即激活存管账户</a>
			</span>
		</div>
	</div>
	<!-- 优惠券弹窗 -->
	<div class="hint_show discount_show dis_none" id="discount_show">
		<div class="txt">
			<div class="ltxt">选择优惠券</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="discount_con">
			<!-- 债权转让显示 -->
			<div class="discount_txt">单笔投资债权转让只能使用1张加息券（债权转让项目不可使用抵用券）。</div>
			<!-- <div class="discount_txt"><i class="iconfont">&#xe671;</i>当前没有可用加息券，请根据优惠券使用条件更改加入金额或尝试其它标的！</div> -->

			<ul class="ul_select">
				<li class="jxq" data="1%加息券">
					<p class="p_txt"><span>1</span>% 年利率加息</p>
					<p><span>2017/05/05</span>-<span>2017/06/06</span></p>
					<p>来自存管福利</p>
				</li>
				<li class="jxq" data="3%加息券">
					<p class="p_txt"><span>3</span>% 年利率加息</p>
					<p><span>2017/05/05</span>-<span>2017/06/06</span></p>
					<p>来自存管福利</p>
				</li>
				<li class="dyq" data="15元抵用券">
					<p class="p_txt">￥<span>15</span>抵用券</p>
					<p>投资满10,000元，1个月及以上标的使用</p>
					<p>来自存管福利</p>
				</li>
				<li class="dyq" data="30元抵用券">
					<p class="p_txt">￥<span>30</span>抵用券</p>
					<p>投资满30,000元，3个月及以上标的使用</p>
					<p>来自存管福利</p>
				</li>
				<li class="yhq_no" data="70元抵用券">
					<p class="p_txt">￥<span>70</span>抵用券</p>
					<p>投资满10,000元，6个月及以上标的使用</p>
					<p>来自存管福利</p>
				</li>
				<li class="yhq_no" data="100元抵用券">
					<p class="p_txt">￥<span>100</span>抵用券</p>
					<p>投资满10,000元，12个月及以上标的使用</p>
					<p>来自存管福利</p>
				</li>
			</ul>
			<div class="discount_bot">
				<span class="yes">确定</span>
				<span class="no">取消</span>
				<!-- <span class="iskonw">我知道了</span> -->
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>