<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="invest_top">
		<div class="max-width">
			<ul class="invest_tab">
				<li>
					<a href="investSift.html" data="sift">精选计划</a>
				</li>
				<li data="b">
					<a href="investScatter.html" data="scatter">散标项目</a>
				</li>
				<li data="c">
					<a href="investBond.html" data="bond" class="on">债权转让</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="max-width">
		<div class="clearing">
		</div>
		<div class="detail_top">
			<div class="detail_top_left">
				
			</div>
			<div class="detail_top_right">
				
			</div>
		</div>
		<div class="detail_bot">
			<div class="detail_tab">
				<ul>
					<li>
						<a href="JavaScript:;" class="on" type>项目详情</a>
					</li>
					<li>
						<a href="JavaScript:;" type>常见问题</a>
					</li>
					<li>
						<a href="JavaScript:;" type="list">投资记录</a>
					</li>
				</ul>
			</div>
			<div class="detail_con">
				<div class="detai details">
					<div class="oDiv details_c">
						<div>
							<h3>转让介绍</h3>
							<p><span>&bull;</span>债权转让，指投资人将在拓道金服平台投资的借款项目转让给其他拓道金服用户，并与授让人签订债权转让协议，收回本金及利息的操作。</p>
							<p><span>&bull;</span>债权转让能提高投资者资金的流动性，当你需要流动资金时，可以通过出售你名下拥有的符合相应条件的债权给其他投资人，从而完成债权转让，获得流动资金。</p>
						</div>
						<div>
							<h3>转让流程</h3>
							<ul>
								<li class="li_a">
									<span class="a"></span>
									<b>发起债权转让</b>
									<i class="e"></i>
								</li>
								<li class="li_b">
									<span class="b"></span>
									<b>线上募集</b>
									<i class="f"></i>
								</li>
								<li class="li_c">
									<span class="c"></span>
									<b>满标</b>
									<i class="g"></i>
								</li>
								<li class="li_d">
									<span class="d"></span>
									<b>转让成功，资金到账</b>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="detai oDiv issue" style="display: none">
					<ul>
						<li>
							<span>&bull;</span><h3>什么是债权转让？</h3>
							<p>债权价值，指投资人转让的本金和收益的总值，计算公式如下：</p>
							<p>债权价值=当期本金+当期未收利息÷当期月份天数×（转让申请日+当期还款日）+下期起的本息总额。</p>
						</li>
						<li>
							<span>&bull;</span><h3>债权转让手续费如何收取？</h3>
							<p>转让手续费：</p>
							<p>持有＜90天，收取0.5%转让金额手续费；</p>
							<p>持有≥90天，收取0.2%转让金额手续费；</p>
							<p>手续费最低为1元。</p>
						</li>
						<li>
							<span>&bull;</span><h3>债权转让必须符合哪些条件？</h3>
							<p>(1) 只有等额本息的标才能申请债权转让。</p>
							<p>(2) 可转让日期为当投标成功，满标复审计息开始30天，可以提出债权转让；承接人持有购买债权，超过30天，才可再次转让。</p>
							<p>(3) 转让时间必须大于距离下一个还款日≥7天。</p>
							<p>(4) 债权转让交易未完成时，借款人提前还款，则自动退标。</p>
							<p>(5) 必须一次性转让所有债权，不能转让部分。</p>
							<p>(6) 转让过的债权可以继续转让，且转让次数不受限制。</p>
							<p>(7) 申请通过的债权转让会48个小时的转让时间，超过时间未完成转让的则做退标处理。</p>
							<p>(8) 债权转让金额必须≥100元。</p>
						</li>
						<li>
							<span>&bull;</span><h3>购买债权转让产品可以使用加息券吗？</h3>
							<p>可以使用。</p>
						</li>
					</ul>
				</div>
				<div class="detai con_record" style="display: none">
					<table>
						<thead>
							<th>投资用户</th>
							<th>投资金额（元）</th>
							<th>交易时间</th>
						</thead>
						<tbody class="chage_tr" id="tbody_list">
							
						</tbody>
					</table>
					<div class="pageList"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- 加入成功 -->
	<div class="hint_show dis_none" id="succeed_show">
		
	</div>
	<!-- 加入失败 -->
	<div class="hint_show dis_none" id="failed_show">
		<div class="txt">
		<div class="ltxt">投资失败</div>
		<div class="rclose">&times;</div>
	</div>
	<div class="show_com failed">
		<div class="icon"></div>
		<!-- 散标和转让显示 -->
		<p>投资失败，<i class="msg"></i></p>
		<b>这个项目太抢手啦，试试 <a href="">其他转让项目</a>吧！</b>
		<span class="iskonw">我知道了</span>
	</div>
	</div>
	<!-- 激活存管 -->
	<div class="hint_show dis_none" id="bank_show">
		<div class="txt">
			<div class="ltxt">
				激活存管账户
				<div class="hint">
					<i class="iconfont">&#xe68d;</i>
					<div class="tips">
						<p>银行存管是指用户在P2P平台上的交易资金交由银行管理，平台无法接触交易资金的一种资金管理模式。借款人、投资人和平台通过银行方开设存管账户，来实现交易和资金的结算。</p>
						<span class="bot"></span><span class="bot2"></span>
					</div>
				</div>
			</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="show_com bank">
			<div class="icon"></div>
			<p>拓道金服正式启用北京银行资金存管系统</p>
			<b>为保障您的资金安全,请在充值、投资、提现前激活存管</b>
			<span class="iskonw">
				<a href="">立即激活存管账户</a>
			</span>
		</div>
	</div>
	<!-- 优惠券弹窗 -->
	<div class="hint_show discount_show dis_none" id="discount_show">
		<div class="txt">
			<div class="ltxt">选择优惠券</div>
			<div class="rclose">&times;</div>
		</div>
		<div class="discount_con">
			
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>