<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
<%= require('html-loader!./layout/top.html') %>
<%= require('html-loader!./layout/nav.html') %>
<div class="comer_top"></div>
<div class="main">
	<div class="presents"><span style="margin-right:525px">新手大礼包</span><span>新手专享标</span></div>
	<div class="presents_con">
		<div class="left"></div>
		<ul class="right">
			<li class="first">一个月期限，100元起投</li>
			<li class="second">10<span>%</span>+&nbsp;3<span>%</span></li>
			<li class="third">预期年化</li>
			<li class="last"><button>立即投资</button></li>
		</ul>
	</div>
	<div class="task_top">
		<span>新手任务</span><i>注册&nbsp;30&nbsp;天内完成任务即可获得对应的积分</i>
	</div>
	<ol class="task">
		<li>
			<p class="p1">激活存管</p>
			<p class="p2">10</p>
			<p class="p3">积分</p>
			<div class="btn">去激活</div>
		</li>
		<li>
			<p class="p1">关注微信公众号</p>
			<p class="p2">80</p>
			<p class="p3">积分</p>
			<div class="btn">去关注</div>
		</li>
		<li>
			<p class="p1">首次成功充值</p>
			<p class="p2">30</p>
			<p class="p3">积分</p>
			<div class="btn">去充值</div>
		</li>
		<li>
			<p class="p1" style="padding-bottom:15px;">首次成功投标<br /><span>（非债权转让标）</span></p>
			<p class="p2">40</p>
			<p class="p3">积分</p>
			<div class="btn">去投资</div>
		</li>
		<li style="margin-right:0px;">
			<p class="p1">首次投资等额本息散标</p>
			<p class="p2">100</p>
			<p class="p3">积分</p>
			<div class="btn">去投资</div>
		</li>
		<li>
			<p class="p1">首次设置自动投标</p>
			<p class="p2">40</p>
			<p class="p3">积分</p>
			<div class="btn">去设置</div>
		</li>
		<li>
			<p class="p1">首次邀请好友注册成功</p>
			<p class="p2">50</p>
			<p class="p3">积分</p>
			<div class="btn">去邀请</div>
		</li>
		<li>
			<p class="p1">首次登录APP</p>
			<p class="p2">40</p>
			<p class="p3">积分</p>
			<div class="btn">下载APP</div>
		</li>
		<li>
			<p class="p1">首次积分兑换加息券</p>
			<p class="p2">30</p>
			<p class="p3">积分</p>
			<div class="btn">去兑换</div>
		</li>
		<li style="margin-right:0px;">
			<p class="p1" style="padding-bottom:15px;">第二次投资<br><span>（非债权转让标）</span></p>
			<p class="p2">100</p>
			<p class="p3">积分</p>
			<div class="btn">去投资</div>
		</li>
	</ol>
	<div class="strategy">新手理财攻略</div>
	<ul class="strategy_con">
		<li>2017全球FinTech150强发布 拓道金服榜上  ></li>
		<li>富有支付通道维护通知05.18  ></li>
		<li>互金协会上线信披系统 拓道金服首批试点接入  ></li>
		<li>富有支付通道维护通知05.18  ></li>
		<li>富有支付通道维护通知05.18  ></li>
		<li>富有支付通道维护通知05.18  ></li>
	</ul>
</div>
<%= require('html-loader!./layout/footer_nav.html') %>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>