<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<%= require('html-loader!./layout/info_nav.html') %>
	<div class="main">
		<div class="top_menu">
			<a href="news.html?type=media">媒体报道</a><a href="news.html?type=notice">平台公告</a>
		</div>
		<div class="content">
			<div class="newsDetail">
				<div class="newsDetail_top"></div>
				<div class="newsDetail_content"></div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>