<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<%= require('html-loader!./layout/info_nav.html') %>
	<div class="main">
		<div class="top_menu">
			<a class="on">媒体报道</a><a>平台公告</a>
		</div>
		<div class="content">
			<div class="media_content">
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media01.png') %>" alt="">
					<ul>
						<li class="li_1">范燨云：机遇与折腾</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media02.png') %>" alt="">
					<ul>
						<li class="li_1">张罗军：心怀梦想，脚踏实地</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media01.png') %>" alt="">
					<ul>
						<li class="li_1">范燨云：机遇与折腾</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media01.png') %>" alt="">
					<ul>
						<li class="li_1">范燨云：机遇与折腾</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media01.png') %>" alt="">
					<ul>
						<li class="li_1">范燨云：机遇与折腾</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media01.png') %>" alt="">
					<ul>
						<li class="li_1">范燨云：机遇与折腾</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media01.png') %>" alt="">
					<ul>
						<li class="li_1">范燨云：机遇与折腾</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media01.png') %>" alt="">
					<ul>
						<li class="li_1">范燨云：机遇与折腾</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media01.png') %>" alt="">
					<ul>
						<li class="li_1">范燨云：机遇与折腾</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
				<a class="media_list" href="news_detail.html?media">
					<img src="<%= require('../image/media01.png') %>" alt="">
					<ul>
						<li class="li_1">范燨云：机遇与折腾</li>
						<li class="li_2">2017-05-08 14:09:00</li>
						<li class="li_3">4月23日，由浙江省区域经济促进会与浙江经视联合主办的“新青年创业创新高峰论坛”在杭州梦想小镇举办。会议上，拓道金服联 合创始人范燨云作为新生企业代表，以“机遇与折腾”唯主题，分享了自己的创业经历...</li>
					</ul>
				</a>
			</div>
			<div class="notice_content dis_none">
				<ul>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
					<li><a href="news_detail.html?notice"><span class="le">富有支付通道维护通知 05.18</span><span class="rg">2017-05-08 14:09:00</span></a></li>
				</ul>
			</div>
		</div>
		<div class="pageList" onselectstart="return false" style="-moz-user-select:none;"></div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>