<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/nav2.html') %>
	<div class="main">
		<div class="register">
			<div class="main_top">
				<span class="fl">您好，欢迎注册拓道金服！</span>
				<span class="fr login">已有拓道金服账号？&nbsp;<a href="userlogin.html">直接登录>></a></span>
			</div>
			<div class="main_mid">
				<div class="box">
					<div class="phoneNum">
						<input type="text" class="phone_Num" name="mobile" placeholder="请输入手机号" class="phone_Num" onkeyup="this.value=(this.value.match(/\d+(\.\d{0,2})?/)||[''])[0]"><i class="iconfont del">&#xe68b;</i>
					</div>
					<div id="slider2" class="slider"></div><span id="result" class="dis_none"></span>
					<p class="til"><em class="iconfont more">&#xe69a;</em>如有邀请人，可输入邀请人手机号/推荐码（选填）</p>
					<div class="personNum dis_none">
						<input type="text" class="person_Num" name="inviterMobile" placeholder="请输入推荐人手机号/推荐码（选填）" onkeyup="this.value=(this.value.match(/\d+(\.\d{0,2})?/)||[''])[0]"><i class="iconfont del">&#xe68b;</i>
					</div>
					<button class="btn">同意协议并继续</button>
						<a href="" class="xy"><<拓道金服注册协议>></a>
				</div>
			</div>
		</div>
		<div class="yanzhengma  dis_none">
			<div class="til_all">
				<div class="ts write_ts">请输入6位验证码</div>
				<div class="ts">验证短信已发送至手机号&nbsp;<span class="phone_Num">15649387762</span></div>
			</div>
			<div class="wrong_ts dis_none">您输入的验证码有误，请重新输入！</div>
			<div class="demo" id="demo">
				<input type="text" jz="jz" class="border" maxlength="1" id="dy" />
				<input type="text" jz="jz" maxlength="1" readonly="readonly" />
				<input type="text" jz="jz" maxlength="1" id="space" readonly="readonly" />
				<input type="text" jz="jz" maxlength="1" readonly="readonly" />
				<input type="text" jz="jz" maxlength="1" readonly="readonly" />
				<input type="text" maxlength="1" class="lastnum" jz="jz" readonly="readonly" />
				<span id="spa"></span>
			</div>
			<span class="djs">(<i class="count_num">59</i>s)&nbsp;后可重新发送验证码</span><div class="count_time">重新发送验证码</div>
			<p class="back"><&nbsp;返回上一步</p>
		</div>
		<div class="set_password dis_none">
			<p class="til">最后一步，设置拓道金服登录密码</p>
			<div class="pas_box">
				<input type="password" placeholder="请输入登录密码" name="loginPassword" class="pas"><span class="iconfont yan">&#xe66b;</span><span class="iconfont yan_kai">&#xe682;</span><i class="iconfont del">&#xe68b;</i>
			</div>
			<p class="line"><span class="line1"></span><span class="line2"></span><span class="line3"></span></p>
			<p class="psd_til">
				<span class="psd_til_1">密码安全等级低</span>
				<span class="psd_til_2">密码安全等级中</span>
				<span class="psd_til_3">密码安全等级高</span>
			</p>
			<div class="say">
				<p>登录密码不得少于6个字符。建议密码设置成较为复杂的字母、数</p>
				<p>字或者其它特殊符号的组合。</p>
			</div>
			<input type="button" value="确认注册" class="register_btn">
		</div>
		<div class="success_page dis_none">
			<div class="page_t">
				欢迎来到拓道金服
			</div>
			<div class="page_l fl">
				<div class="logo"></div>
				<p>恭喜注册成功，获得388元抵用券！</p>
				<p class="zh">进入账户查看&nbsp;&nbsp;&nbsp;<a href="#">我的抵用券&nbsp;></a></p>
			</div>
			<div class="page_r fr">
				<div class="bank_logo"><a href="#" class="iconfont">&#xe68d;</a></div>
				<p class="gg">拓道金服正式启用北京银行资金存管系统</p>
				<p>为了保障您的资金安全</p>
				<p>请在充值、投资、提现前开通存管</p>
				<a href="#" class="cg_btn">立即激活存管账户</a>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>