<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
<%= require('html-loader!./layout/top.html') %>
<%= require('html-loader!./layout/nav.html') %>
<div class="cash_box max-width">
	<%= require('html-loader!./layout/uc_menu.html') %>
	<div class="main">
		<div class="qs_time dis_none"><i class="iconfont">&#xe694;</i>&nbsp;&nbsp;当前是存管系统清算时间（每天23:55 - 00:05 ），不可进行投资，充值，提现操作，请您稍后重试。由此给您造成不便，敬请谅解！</div>
		<div class="cash_top">
			<ul>
				<li class="on" ><a href="uc_cash.html?zh">账户提现</a></li>
				<li><a href="uc_cash.html?jl">提现记录</a></li>
			</ul>
		</div>
		<div class="cash_window item0 dis_none">
			<div class="logo"><img src="<%= require('../image/popup.png') %>"></div>
			<p>为了保障您的资金安全,请在充值、投资、提现前开通存管</p>
			<a href="" class="jh_btn">立即激活存管用户</a>
		</div>
		<div class="cash_window item1">
			<div class="bank_card get_fast"><span class="bank_logo Bank ICBC"></span>
			<span class="card_num">
				<span><i></i><i></i><i></i><i></i></span><span><i></i><i></i><i></i><i></i></span><span><i></i><i></i><i></i><i></i></span><span><i></i><i></i><i></i><i></i></span><em>5587</em>
			</span>
			<i class="iconfont wen">&#xe68d;</i><b></b></div>
			<p class="zhye">可提现余额&nbsp;&nbsp;<i class="iconfont wen">&#xe68d;</i><b></b></p>
			<p class="number_show"><span class="money_number">2,900.00</span>&nbsp;<span>元</span></p>
			<p class="wrongs dis_none">&nbsp;<i class=iconfont>&#xe671;</i>&nbsp;<span class=wz>密码错误，请重新输入！</span></p>
			<div class="money"><input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" placeholder="请输入提现金额，不得少于100元" class="money_input1"><span class="font">元</span></div>
			<div class="password"><input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" placeholder="请输入支付密码" class="pass_input"><span class="font"><a href="">忘记密码</a></span></div>
			<p class="sj_money"><span class="sjdz">实际到账：<b>0.00</b> 元</span><span class="sxf">手续费：<b>0.00</b> 元</span></p>
			<input type="button" class="btn" value="申请提现，预计次日 9 点到账">
			<p class="tx_times">您本月还有<span> 6 </span>次免费提现次数</p>
			<div class="rule">
			<p class="ts">提现说明：</p>
			<ul>
				<li>单笔提现范围：100元~1000万元；</li>
				<li>达到相应会员等级，每月享有免费提现次数（含未投资过可提金额）；</li>
					<table>
						<tr>
							<td>会员等级</td>
							<td>V0</td>
							<td>V1</td>
							<td>V2</td>
							<td>V3</td>
							<td>V4</td>
							<td>V5</td>
							<td>V6</td>
						</tr>
						<tr>
							<td>免费次数</td>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
							<td>5</td>
							<td>6</td>
							<td>6</td>
						</tr>
					</table>
				<li>若无免费提现次数：提现金额中含未投资可提金额则收取0.5%的手续费（不满3元，按最低3元收取），不含则收取 3元/笔手续费；</li>
				<li>由于存管资金清算T+1完成，即部分金额需北京银行清算成功（即下个工作日清算）后可提现，可以用于投资；</li>
				<li>提现到账时间：0点-9点提交提现申请，当日9点到账;9点-21点提交提现申请，实时到账;21点-24点提交提现申请，次日9点到账；</li>
				<li>如未到账请联系客服处理 (40085-666-85)；</li>
			</ul>
		</div>
		</div>
		<div class="cash_window item2 dis_none">
			<table>
				<thead>
					<tr>
						<th>提现时间</th>
						<th>提现银行卡</th>
						<th>提现总额（元）</th>
						<th>到账金额（元）</th>
						<th>手续费（元）</th>
						<th>状态</th>
						<th class="bq">安存</th>
					</tr>
				</thead>
				<tbody class="">
					<tr>
						<td>2017-05-08  14:09:00</td>
						<td>中国工商银行（***3769）</td>
						<td>100.00</td>
						<td>100.00</td>
						<td>100.00</td>
						<td class="sh_pass">审核通过</td>
						<td class="bq">已保全</td>
					</tr>
					<tr>
						<td>2017-05-08  14:09:00</td>
						<td>中国工商银行（***3769）</td>
						<td>100.00</td>
						<td>100.00</td>
						<td>100.00</td>
						<td class="sh_fail">审核失败</td>
						<td class="bq">已保全</td>
					</tr>
					<tr>
						<td>2017-05-08  14:09:00</td>
						<td>中国工商银行（***3769）</td>
						<td>100.00</td>
						<td>100.00</td>
						<td>100.00</td>
						<td class="sh_wait">待审核</td>
						<td class="bq">已保全</td>
					</tr>
					<tr>
						<td>2017-05-08  14:09:00</td>
						<td>中国工商银行（***3769）</td>
						<td>100.00</td>
						<td>100.00</td>
						<td>100.00</td>
						<td class="sh_wait">待审核</td>
						<td class="bq">已保全</td>
					</tr>
					<tr>
						<td>2017-05-08  14:09:00</td>
						<td>中国工商银行（***3769）</td>
						<td>100.00</td>
						<td>100.00</td>
						<td>100.00</td>
						<td class="sh_wait">待审核</td>
						<td class="bq">已保全</td>
					</tr>
				</tbody>
			</table>
			<div class="zxf_pagediv"></div>
			<div class="no_data dis_none">
				<img src="<%= require('../image/no_data.png') %>">
				<p>当前没有提现记录</p>
			</div>
		</div>
	</div>
</div>
<div class="cash_success dis_none" id="cash_success">
	<div class="cash_main">
		<div class="logo"><img src="<%= require('../image/end.png') %>"></div>
		<p>成功提现<span>10,000,000.00</span>元，手续费<span>0.00</span>元</p>
		<p>预计<i>实时到账</i></p>
		<div class="know">我知道了</div>
	</div>
</div>
<%= require('html-loader!./layout/footer_nav.html') %>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>