<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%= require('html-loader!./layout/header.html') %>
    <title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<div id="src-nav"><%= require('html-loader!./layout/nav.html') %></div>

	<div class="welfare" >
		<%= require('html-loader!./layout/uc_menu.html') %>
		<div class="welfare_content">
			<div class="coupon_menu">
				<a class="welfare_on welfare_border">抵用券</a><a>加息券</a>
			</div>
			<div class="coupon_content">
				<div class="menu_content">
					<div class="state_menues">
						<div class="dyq_state_menu state_menu">
							<a class="menu_on">可使用</a>
							<a>已使用</a>
							<a>已过期</a>
						</div>
						<div class="jxq_state_menu state_menu dis_none">
							<a class="menu_on">可使用</a>
							<a>已使用</a>
							<a>已过期</a>
						</div>
					</div>
					<div class="coupon_link">
						<a href="uc_invite.html">邀请好友获取抵用券 > </a>
						<a href="uc_points_gold.html" class="dis_none">积分兑换加息券 > </a>
					</div>
					<div class="ticket_all">
						<div class="dyq_tickets"></div>
						<div class="jxq_tickets dis_none"></div>
					</div>
				</div>
					<div class="pageList" onselectstart="return false" style="-moz-user-select:none;"></div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>