<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%= require('html-loader!./layout/header.html') %>
    <title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<div id="src-nav"><%= require('html-loader!./layout/nav.html') %></div>

	<div class="welfare" >
		<%= require('html-loader!./layout/uc_menu.html') %>
		<div class="welfare_content">
			<div class="coupon_menu">
				<a class="welfare_on welfare_border">抵用券</a><a>加息券</a>
			</div>
			<div class="coupon_content">
				<div class="menu_content">
					<div class="state_menues">
						<div class="dyq_state_menu state_menu">
							<a class="menu_on">可使用</a>
							<a>已使用</a>
							<a>已过期</a>
						</div>
						<div class="jxq_state_menu state_menu" style="display:none;">
							<a class="menu_on">可使用</a>
							<a>已使用</a>
							<a>已过期</a>
						</div>
					</div>
					<div class="coupon_link">邀请好友获取抵用券 > </div>
					<div class="ticket_all">
						<div class="dyq_tickets">
							<ul class="dyq_ticket dyq_ticket_yes">
								<li>
									<p class="ticket_top">￥<span>10&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>10&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>15&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>15&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>15&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>15&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>70&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>70&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>70&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
							</ul>
							<ul class="dyq_ticket dyq_ticket_no" style="display:none;">
								<li>
									<p class="ticket_top">￥<span>10&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>10&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>15&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>15&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>15&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>15&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>70&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>70&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>70&nbsp;</span>抵用券</p>
									<p class="ticket_middle">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
							</ul>
							<ul class="dyq_ticket dyq_ticket_guoqi" style="display:none;">
								<li>
									<p class="ticket_top">￥<span>10&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>10&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span></div>
								</li>
								<li>
									<p class="ticket_top">￥<span>15&nbsp;</span>抵用券</p>
									<p class="ticket_bottom">投资满10,000元，3个月及以上标的使用2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span></div>
								</li>
							</ul>
						</div>
						<div class="jxq_tickets" style="display:none;">
							<ul class="jxq_ticket jxq_ticket_yes">
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>2</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>2</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>2</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>2</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select.png') %>"></div>
								</li>
							</ul>
							<ul class="jxq_ticket jxq_ticket_no" style="display:none;">
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span> <img src="<%= require('../image/yhq_select_no.png') %>"></div>
								</li>
							</ul>
							<ul class="jxq_ticket jxq_ticket_guoqi" style="display:none;">
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_middle">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_middle">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span></div>
								</li>
								<li>
									<p class="ticket_top"><span>1</span>%&nbsp;年利率加息</p>
									<p class="ticket_bottom">2017/04/26-2017/05/26</p>
									<div class="ticket_bottom"><span>来自存管福利</span></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="zxf_pagediv page_show" onselectstart="return false" style="-moz-user-select:none;"></div>
			</div>
		</div>
	</div>
	<div class="friends" style="display:none;"></div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>