<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>

	<div class="max-width">
		<div class="uc_main">
			<%= require('html-loader!./layout/uc_menu.html') %>
			<div class="uc_right">
				<div class="uc_auto">
					<div class="auto_switchTab">
						<ul>
							<li>
								<a href="uc_invest_auto.html?auto" type="0">自动投标</a>
							</li>
							<li>
								<a href="uc_invest_auto.html?record" type="1" class="on">自动投标记录</a>
							</li>
						</ul>
					</div>
					<div class="record_list">
						<div class="autoDetails_top">
							
						</div>
						<div class="record_table">
							<table>
								<thead>
									<tr>
										<th class="padd_left">项目名称</th>
										<th class="time_th">加入时间</th>
										<th class="month_th">投资期限（月）</th>
										<th>投资金额（元）</th>
										<th>预期收益(元)</th>
										<th>优惠券</th>
										<th class="status_th">状态</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody id="tbody_list">
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
									<tr>
										<td class="td_name td_tips"><a href="###" class="padd_left">丰田汉兰达抵押续贷标</a>
											<div class="tips left-tips">
												丰田汉兰达抵押续贷标
											</div>
										</td>
										<td>2017-09-08 14:09:00</td>
										<td>1</td>
										<td>99,999,999.99</td>
										<td>10,000.00</td>
										<td>抵扣30元</td>
										<td>募集中</td>
										<td class="td_a">
											<a href="###" class="iconfont td_tips">&#xe6ae;
												<div class="tips left-tips">
													查看安存保全
												</div>
											</a>
											<a href="###" class="iconfont td_tips">&#xe6b0;
												<div class="tips left-tips">
													查看借款协议
												</div>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="zxf_pagediv"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	

	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>