<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>

	<div class="max-width">
		<div class="uc_main">
			<%= require('html-loader!./layout/uc_menu.html') %>
			<div class="uc_right">
				<div class="uc_invest_main">
					<div class="bond_tab">
						<ul>
							<li>
								<a href="uc_invest_bond.html?able">可转让</a>
							</li>
							<li>
								<a href="uc_invest_bond.html?underway">转让中</a>
							</li>
							<li>
								<a href="uc_invest_bond.html?transfer">已转让</a>
							</li>
							<li>
								<a href="uc_invest_bond.html?yet">已受让</a>
							</li>
						</ul>
					</div>
					<div class="sift_detailsT">
						
					</div>
					<div class="sift_detailsB">
						<div class="sift_detailsBTit">
							<p>回款计划</p>
						</div>
						<div class="sift_detailsBcom">
						<!-- 债权明细 -->
							<div class="sift_detailsTab">
								<table>
									<thead>
										<tr>
											<th class="padd_left">回款时间</th>
											<th class="th_wid">期数</th>
											<th>应还本金（元）</th>
											<th>应还收益 (元)</th>
											<th>回款状态</th>
										</tr>
									</thead>
										<tbody id="tbody_list">
											
										</tbody>
								</table>
								<div class="pageList"></div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
	</div>
	

	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>