<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/header.html') %>
	<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>

	<div class="max-width">
		<div class="uc_main">
			<%= require('html-loader!./layout/uc_menu.html') %>
			<div class="uc_right">
				<div class="uc_bondTab">
					<ul>
						<li>
							<a href="uc_invest_bond.html?able" status="0">可转让</a>
						</li>
						<li>
							<a href="uc_invest_bond.html?underway" status="1">转让中</a>
						</li>
						<li>
							<a href="uc_invest_bond.html?transfer" status="2">已转让</a>
						</li>
						<li>
							<a href="uc_invest_bond.html?yet" status="3">已受让</a>
						</li>
						<!-- <li class="on" status="0">
							<a href="javascript:;">可转让</a>
						</li>
						<li status="1">
							<a href="javascript:;">转让中</a>
						</li>
						<li status="2">
							<a href="javascript:;">已转让</a>
						</li>
						<li status="3">
							<a href="javascript:;">已受让</a>
						</li> -->
					</ul>
				</div>
				<div class="uc_invest_com ">
					<div class="uc_invest_tab">
						<div class="uc_invest_tabL">
						</div>
						<div class="uc_invest_tabR" status="0" yet="0">
							<div class="calendar start_date"><p class="layer_date" id="start_date" startDate>选择开始时间</p><i class="iconfont">&#xe6a4;</i></div>
							至
							<div class="calendar end_date"><p class="layer_date" id="end_date" endDate>选择结束时间</p><i class="iconfont">&#xe6a4;</i></div>
						</div>
					</div>
					<div class="bond_box">
						
					</div>
				</div>
				

				<!-- 转让弹窗 -->
				<div class="bond_show dis_none" id="bond_show">
					<div class="bond_show_box">
						
					</div>
				</div>
				<div class="bond_show dis_none" id="bond_showOk">
					<div class="bond_show_ok">
						<div class="bond_show_tit">
							转让成功
							<p class="bond_ok_close">&times;</p>
						</div>
						<div class="bond_show_okBg">
							<div class="ok_bg"></div>
							<p>转让成功！</p>
							<p>恭喜您成功<span class="applyOkTlt"></span></p>
						</div>
						<div class="a_href">
							<a href="">立即查看 <span>已转让债权</span></a>
						</div>
						<div class="bond_show_now">我知道了</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	

	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
	<% if (env !== "production") { %>
	<script src="/reload/reload.js"></script>
	<% } %>
</body>
</html>