<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="moneyRecord max-width">
		<%= require('html-loader!./layout/uc_menu.html') %>
		<div class="main">
			<div class="record_top">
				<ul>
					<li><a class="ones" href="uc_moneyRecord.html?all">全部</a></li>
					<li><a href="uc_moneyRecord.html?tz">投资</a></li>
					<li><a href="uc_moneyRecord.html?hk">回款</a></li>
					<li><a href="uc_moneyRecord.html?cz">充值</a></li>
					<li><a href="uc_moneyRecord.html?tx">提现</a></li>
					<li><a href="uc_moneyRecord.html?qt">其它</a></li>
				</ul>
				<div class="lay_date">
					<div class="calendar start_date"><p class="layer_date" id="start_date">2017-04-25</p><i class="iconfont">&#xe6a4;</i></div>至
					<div class="calendar end_date"><p class="layer_date" id="end_date">2017-07-14</p><i class="iconfont">&#xe6a4;</i></div>
					</div>
			</div>
			<div class="record_box item0">
				<table>
					<thead>
						<tr>
							<th>交易时间</th>
							<th>交易类型</th>
							<th>交易金额（元）</th>
							<th>账户余额（元）</th>
							<th class="last">备注信息</th>
						</tr>
					</thead>
					<!-- <tbody class="money_records">
						<tr>
							<td>2017-05-08  14:09:00</td>
							<td>投资</td>
							<td>100.00</td>
							<td>100.00</td>
							<td class="last"><i class="iconfont">&#xe670;</i></td>
						</tr>
						<tr>
							<td>2017-05-08  14:09:00</td>
							<td>投资</td>
							<td>100.00</td>
							<td>100.00</td>
							<td class="last"><i class="iconfont">&#xe670;</i></td>
						</tr>
						<tr>
							<td>2017-05-08  14:09:00</td>
							<td>投资</td>
							<td>100.00</td>
							<td>100.00</td>
							<td class="last"><i class="iconfont">&#xe670;</i></td>
						</tr>
						<tr>
							<td>2017-05-08  14:09:00</td>
							<td>投资</td>
							<td>100.00</td>
							<td>100.00</td>
							<td class="last"><i class="iconfont">&#xe670;</i></td>
						</tr>
					</tbody> -->
				</table>
				<div class="zxf_pagediv"></div>
				<div class="no_data dis_none">
					<img src="<%= require('../image/no_data.png') %>">
					<p>当前没有资金记录</p>
				</div>
			</div>
			<div class="record_box dis_none">
			<table>
				<thead>
					<tr>
						<th>交易时间</th>
						<th>交易类型</th>
						<th>交易金额（元）</th>
						<th>账户余额（元）</th>
						<th class="last">备注信息</th>
					</tr>
				</thead>
			</table>
				<div class="zxf_pagediv"></div>
				<div class="no_data dis_none">
					<img src="<%= require('../image/no_data.png') %>">
					<p>当前没有投资记录</p>
				</div>
			</div>
			<div class="record_box dis_none">
				<table>
					<thead>
						<tr>
							<th>交易时间</th>
							<th>交易类型</th>
							<th>交易金额（元）</th>
							<th>账户余额（元）</th>
							<th class="last">备注信息</th>
						</tr>
					</thead>
				</table>
				<div class="zxf_pagediv"></div>
				<div class="no_data dis_none">
					<img src="<%= require('../image/no_data.png') %>">
					<p>当前没有回款记录</p>
				</div>
			</div>
			<div class="record_box dis_none">
				<table>
					<thead>
						<tr>
							<th>交易时间</th>
							<th>交易类型</th>
							<th>交易金额（元）</th>
							<th>账户余额（元）</th>
							<th class="last">备注信息</th>
						</tr>
					</thead>
				</table>
				<div class="zxf_pagediv"></div>
				<div class="no_data dis_none">
					<img src="<%= require('../image/no_data.png') %>">
					<p>当前没有充值记录</p>
				</div>
			</div>
			<div class="record_box dis_none">
				<table>
					<thead>
						<tr>
							<th>交易时间</th>
							<th>交易类型</th>
							<th>交易金额（元）</th>
							<th>账户余额（元）</th>
							<th class="last">备注信息</th>
						</tr>
					</thead>
				</table>
				<div class="zxf_pagediv"></div>
				<div class="no_data dis_none">
					<img src="<%= require('../image/no_data.png') %>">
					<p>当前没有提现记录</p>
				</div>
			</div>
			<div class="record_box dis_none">
				<table>
					<thead>
						<tr>
							<th>交易时间</th>
							<th>交易类型</th>
							<th>交易金额（元）</th>
							<th>账户余额（元）</th>
							<th class="last">备注信息</th>
						</tr>
					</thead>
				</table>
				<div class="zxf_pagediv"></div>
				<div class="no_data dis_none">
					<img src="<%= require('../image/no_data.png') %>">
					<p>当前没有资金记录</p>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>