<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/top.html') %>
	<%= require('html-loader!./layout/nav.html') %>
	<div class="uc_old">
		<div class="uc_old_top">
			<span>注：老账户余额、待还款标的已迁移至存管账户</span>
			<a href="uc.html">返回存管账户</a>
		</div>
		<div class="uc_old_list">
			<div class="uc_old_listTop">
				<ul class="nav_tabUl">
					<li class="on">我的投资</li>
					<li>我的转让</li>
					<li>资金记录</li>
				</ul>
			</div>
			<div class="uc_old_tabBox">
				<div class="old_invest">
                    <ul class="old_Ul old_invest_status">
                        <li class="on" value="0" >全部</li>
						<li  value="1">已迁移</li>
						<li  value="2">已还款</li>
                    </ul>
					<div class="old_Table">
						<!--全部-->
						<table class="myInvest">
							<tr>
								<th>项目编号</th>
								<th>项目名称</th>
								<th>投资时间</th>
								<th>投资金额</th>
								<th>到期收益</th>
								<th>奖励</th>
								<th>状态</th>
								<th>操作</th>
							</tr>

							<tr>
								<td colspan="8" class="get_data">暂无数据</td>
							</tr>
						</table>
	                    <div class="pageList"></div>
					</div>
				</div>
				<div class="old_transfer dis_none">
					<ul class="old_Ul old_transferUl">
						<li class="on">转让记录</li>
						<li>受让记录</li>
					</ul>
					<div class="old_Table old_transferTable">
						<!--转让记录-->
						<table class="transfer">
							<tr>
								<th>项目标题</th>
								<th>剩余期限</th>
								<th>年化利率</th>
								<th>可转本金</th>
								<th>应收利息</th>
								<th>可转让天数</th>
								<th>操作</th>
							</tr>
							<tr>
								<td colspan="7" class="get_data">暂无数据</td>
							</tr>
						</table>
						<!--受让记录-->
						<table class="dis_none farmIn">
							<tr>
								<th>项目标题</th>
								<th>剩余期限</th>
								<th>年化利率</th>
								<th>投资时间</th>
								<th>投资金额(元)</th>
								<th>到期收益(元)</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
							<tr>
								<td colspan="8" class="get_data">暂无数据</td>
							</tr>

						</table>
	                    <div class="pageList"></div>
					</div>
				</div>
				<div class="old_Table old_record dis_none">
					<table class="capital">
						<tr>
							<th>时间</th>
							<th>类型</th>
							<th>存入</th>
							<th>支出</th>
							<th>冻结</th>
							<th>余额</th>
							<th>备注</th>
						</tr>
						<tr>
							<td colspan="8" class="get_data">暂无数据</td>
						</tr>
					</table>
                    <div class="pageList"></div>
				</div>
			</div>
		</div>
	</div>
	<%= require('html-loader!./layout/footer_nav.html') %>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>