<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
<%= require('html-loader!./layout/top.html') %>
<%= require('html-loader!./layout/nav.html') %>
<div class="welfare">
	<%= require('html-loader!./layout/uc_menu.html') %>
	<div class="welfare_content">
		<div class="praise">
			<span>100%</span><i>&nbsp;中奖&nbsp;iPhone8&nbsp;百万积分等你拿</i><span class="praise_btn">积分抽大奖</span>
		</div>
		<div class="points">
			<div class="menu">
				<a class="welfare_on welfare_border">我的积分</a>
				<a>我的金币</a>
			</div>
			<div class="welfare_top_menu">
				<div class="mypoints">
					<div class="mypoints1">
						<div class="pointsmenu">可用积分</div>
						<div class="pointsNum points_current">200.00</div>
					</div>
					<div class="mypoints2">
						<div class="pointsmenu">累计获得积分</div>
						<div class="pointsNum points_total">100.00</div>
					</div>
				</div>
				<div class="mygold" style="display:none;">
					<div class="pointsmenu">可用金币</div>
					<div class="pointsNum">5,200.00</div>
				</div>
			</div>
		</div>
		<div class="exchange">
			<div>
				<div class="points_menu menu">
					<a class="welfare_on welfare_border">兑换专区</a>
					<a class="welfare_on">积分明细</a>
					<a id="get_points">获取积分</a>
				</div>
				<div class="exchange_detail points_detail">
					<div class="duihuan">
						<ul class="change">
							<li>
								<div class="change_img">
									<i>1</i>%&nbsp;年利率加息
								</div>
								<div class="btn_div">每张兑换需要100积分 <span class="add">+</span><input type="text" value="1"/><span class="cut">-</span></div>
								<div class="change_btn">立即兑换</div>
							</li>
							<li>
								<div class="change_img">
									<i>2</i>%&nbsp;年利率加息
								</div>
								<div class="btn_div">每张兑换需要500积分 <span class="add">+</span><input type="text" value="1"/><span class="cut">-</span></div>
								<div class="change_btn">立即兑换</div>
							</li>
							<li style="margin-right:0px;">
								<div class="change_img">
									<i>3</i>%&nbsp;年利率加息
								</div>
								<div class="btn_div">每张兑换需要1,000积分 <span class="add">+</span><input type="text" value="1"/><span class="cut">-</span></div>
								<div class="change_btn">立即兑换</div>
							</li>
							<li class="last_child">
								<div class="change_img">
									<i class="iconfont">&#xe6b9;</i>&nbsp;免费提现一次
								</div>
								<div class="btn_div">每张兑换需要100积分 <span class="add">+</span><input type="text" value="1"/><span class="cut">-</span></div>
								<div class="change_btn">立即兑换</div>
							</li>
						</ul>
					</div>
					<div style="display:none;" class="_points_detail_table">
						<table style="margin-bottom:38px;" class="points_detail_table">
							<tr>
								<th style="width:270px;">投资时间</th>
								<th style="width:270px;">积分来源</th>
								<th style="width:190px;">类型</th>
								<th style="width:90px;padding-left:0px;padding-right:30px;text-align:center;">积分</th>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>签到积分</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>签到积分</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>兑换1次免费提现次数</td>
								<td>支出</td>
								<td>-100</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>兑换1张1%加息券</td>
								<td>支出</td>
								<td>-100</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>兑换1张2%加息券</td>
								<td>支出</td>
								<td>-500</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>兑换1张3%加息券</td>
								<td>支出</td>
								<td>-1,000</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>签到积分</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>签到积分</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>签到积分</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>签到积分</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
						</table>
						<div class="zxf_pagediv" onselectstart="return false" style="-moz-user-select:none;"></div>
					</div>
					<div style="display:none;height:930px;" class='_points_get_table'>
						<table class='points_get_table'>
							<tr>
								<th style="width:320px;">获取途径</th>
								<th style="width:290px;">积分数量</th>
								<th style="width:240px;">操作</th>
							</tr>
							<tr>
								<td>使用1个金币兑换</td>
								<td>1积分</td>
								<td><a>去兑换> </a></td>
							</tr>
							<tr>
								<td>激活存管</td>
								<td>10积分</td>
								<td><a>去激活> </a></td>
							</tr>
							<tr>
								<td>首次关注拓道金服微信公众号</td>
								<td>80积分</td>
								<td><a class="points_gzh">去关注> </a></td>
							</tr>
							<tr>
								<td>首次充值成功</td>
								<td>30积分</td>
								<td><a>去充值> </a></td>
							</tr>
							<tr>
								<td>首次投资等额本息散标</td>
								<td>100积分</td>
								<td><a>去投资> </a></td>
							</tr>
							<tr>
								<td>首次设置自动投标</td>
								<td>40积分</td>
								<td><a>去设置> </a></td>
							</tr>
							<tr>
								<td>首次邀请好友注册成功</td>
								<td>50积分</td>
								<td><a>去邀请> </a></td>
							</tr>
							<tr>
								<td>首次登陆APP</td>
								<td>40积分</td>
								<td><a class="points_login">下载APP> </a></td>
							</tr>
							<tr>
								<td>首次积分兑换加息券</td>
								<td>30积分</td>
								<td><a>去兑换> </a></td>
							</tr>
							<tr>
								<td>第二次投资（非债权转让标）</td>
								<td>100积分</td>
								<td><a>去投资> </a></td>
							</tr>
							<tr>
								<td>投资12个月以下标的</td>
								<td>1积分/2,000元投资额</td>
								<td><a>去投资> </a></td>
							</tr>
							<tr>
								<td>投资12个月以上标的</td>
								<td>1积分/1,000投资额</td>
								<td><a>去投资> </a></td>
							</tr>
							<tr>
								<td>投资天标</td>
								<td>1积分/5，000元投资额</td>
								<td><a>去投资> </a></td>
							</tr>
							<tr>
								<td>APP端手动投资</td>
								<td>1积分</td>
								<td><a class="points_invest">下载APP> </a></td>
							</tr>
							<tr>
								<td>投资最多</td>
								<td>2倍投资积分</td>
								<td><a>去投资> </a></td>
							</tr>
							<tr>
								<td>扫尾</td>
								<td>2倍投资积分</td>
								<td><a>去投资> </a></td>
							</tr>
							<tr>
								<td>投资最多且扫尾</td>
								<td>3倍投资积分</td>
								<td><a>去投资> </a></td>
							</tr>
							<tr>
								<td>每日签到</td>
								<td>1-6积分随机领取</td>
								<td><a>去签到> </a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="zxf_pagediv points_page" onselectstart="return false" style="-moz-user-select:none;"></div>
			</div>
			<div style="display:none;">
				<div class="gold_menu menu">
					<a class="exchange_menu1 welfare_on welfare_border">兑换专区</a>
					<a class="exchange_menu2 welfare_on">金币明细</a>
					<a class="exchange_menu3">获取金币</a>
				</div>
				<div class="exchange_detail gold_detail">
					<ul class="change">
						<li>
							<div class="change_img">
								<i>1</i>&nbsp;积分
							</div>
							<div class="btn_div">每个积分兑换需要1金币 <span class="add">+</span><input type="text" value="1"/><span class="cut">-</span></div>
							<div class="change_btn">立即兑换</div>
						</li>
					</ul>
					<div style="display:none;">
						<table style="margin-bottom:38px;" class="gold_detail_table">
							<tr>
								<th style="width:270px;">时间</th>
								<th style="width:270px;">金币来源</th>
								<th style="width:190px;">类型</th>
								<th style="width: 90px;padding-left: 0;padding-right: 30px;text-align: center;">金币</th>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>论坛发帖</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>论坛发帖</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>兑换1积分</td>
								<td>支出</td>
								<td>-1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>兑换1张1%加息券</td>
								<td>支出</td>
								<td>-100</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>兑换1积分</td>
								<td>支出</td>
								<td>-1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>兑换1积分</td>
								<td>支出</td>
								<td>-1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>论坛发帖</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>论坛发帖</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>论坛发帖</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
							<tr>
								<td>2017-09-18 14:09:00</td>
								<td>论坛发帖</td>
								<td>收入</td>
								<td>+1</td>
							</tr>
						</table>
						<div class="zxf_pagediv" onselectstart="return false" style="-moz-user-select:none;"></div>
					</div>
					<div style="display:none;">
						<table class="gold_get_table">
							<tr>
								<th style="width:320px;">获取途径</th>
								<th style="width:290px;">金币数量</th>
								<th style="width:240px;">操作</th>
							</tr>
							<tr>
								<td>论坛发帖1次</td>
								<td>1金币</td>
								<td><a>去发帖> </a></td>
							</tr>
							<tr>
								<td>论坛发帖1次</td>
								<td>1金币</td>
								<td><a>去回帖> </a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="draw" style="display:none;"></div>
<%= require('html-loader!./layout/footer_nav.html') %>
<%= require('html-loader!./layout/footer.html') %>

<div id="points_gzh" class="points_alert points_gzh dis_none">
	<div class="order_err"><p><i class="iconfont" style="font-size: 20px;vertical-align: top;">&#xe671;</i>&nbsp;您输入的口令有误，请重新输入！</p></div>
	<div class="content">
	<img src="<%= require('../image/footer-wx.png') %>" alt="">
		<ul>
			<li style="padding-top:5px;">1.微信扫一扫关注公众号“拓道金服”</li>
			<li>2.在微信输入文字“口令”并发送</li>
			<li style="margin-bottom:15px;">3.获取微信返回的口令并提交</li>
			<li><span class="iconfont">&#xe672;</span><input type="text" placeholder="请输入公众号回复的口令"></li>
		</ul>
		<div class="submit_btn"><input class="submits" type="submit" value="提交"><input type="button" value="取消" style="border-color:#9e9e9e;background: #ffffff;"></div>
	</div>
	<div class="center">
		<img src="<%= require('../image/end.png') %>" alt=""><br />
		<span>口令验证成功，获得80积分！</span><br />
		<button class="i_know">我知道了</button>
	</div>
</div>
<div class="points_alert first_login dis_none" id="points_login">
	<div class="content">
		<img src="<%= require('../image/footer-app.png') %>" alt="">
		<ul>
			<li style="padding-top:20px;">1.扫一扫下载拓道金服APP</li>
			<li>2.登录拓道金服APP</li>
			<li>3.登录后自动获取40积分</li>
		</ul>
		<div style="margin-top:170px;"><button class="i_know">我知道了</button></div>
	</div>
	<div class="center">
		<img src="<%= require('../image/end.png') %>" alt=""><br />
		<span>您已完成该任务！</span><br />
		<button class="i_know">我知道了</button>
	</div>
</div>
<div class="points_alert app_invest dis_none" id="points_invest">
	<div class="title">每次APP端手动投资后都可以获得1积分！</div>
	<div class="content">
		<img src="<%= require('../image/footer-app.png') %>" alt="">
		<ul>
			<li style="padding-top:30px;">1.扫一扫下载拓道金服APP</li>
			<li>2.每次APP端手动投资后都可以获得<br />1积分！</li>
		</ul>
	</div>
	<button class="i_know">我知道了</button>
</div>
<div id="draw_record" class="draw_record_alert dis_none">
	<div class="out">
		<div class="record_top">
			<span>当前可用积分为200分，已累计抽奖50次</span>
			<span class="dis_none">当前可用积分为0，已累计抽奖0次</span>
		</div>
		<div class="record_yes">
			<table>
				<tr>
					<th style="width:40%">奖品信息</th>
					<th style="width:22%">获奖时间</th>
				</tr>
				<tr>
					<td>iPhone8</td>
					<td>2017-05-08 14:09:00</td>
				</tr>
				<tr>
					<td>10元红包</td>
					<td>2017-05-08 14:09:00</td>
				</tr>
				<tr>
					<td>388元红包</td>
					<td>2017-05-08 14:09:00</td>
				</tr>
				<tr>
					<td>688红包</td>
					<td>2017-05-08 14:09:00</td>
				</tr>
				<tr>
					<td>1积分</td>
					<td>2017-05-08 14:09:00</td>
				</tr>
			</table>
			<div class="zxf_pagediv record_page" onselectstart="return false" style="-moz-user-select:none;"></div>
		</div>
		<div class="record_none dis_none"><img src="<%= require('../image/no_data.png') %>" alt=""><br /><br />当前没有中奖记录</div>
	</div>
</div>
<div id="draw_presents" class="draw_presents_alert dis_none draw_alert">
	<div class="presents_content">
		<div class="present_img"><img src="<%= require('../image/welfare/iphone8_alert.png') %>" alt=""><br /><span>iPhone8</span></div>
		<ul class="draw_explian">
			<li style="font-size: 24px;color: #ff7400;margin-bottom: 38px;">恭喜您中奖啦！</li>
			<li><span class="iconfont">&#xe66f;</span>&nbsp;40085-666-85</li>
			<li>请您在5个工作日拨打客服电话否则将视为放弃奖励</li>
		</ul>
	</div>
	<div class="draw_btn"><button>我知道了</button></div>
</div>
<div id="draw_hongbao" class="draw_hongbao_alert dis_none draw_alert">
	<ul class="hongbao_content">
		<li class="hb_img"><img src="<%= require('../image/welfare/hongbao_alert.png') %>" alt=""></li>
		<li class="color333">恭喜您抽中<span>388元红包</span>！</li>
		<li class="color9e">您可以去<i class="">我的优惠券</i>中查看获得的<span>红包</span></li>
		<li class="draw_btn"><button>我知道了</button></li>
	</ul>
</div>
<div id="draw_points" class="draw_points_alert dis_none draw_alert">
	<ul class="points_content">
		<li class="point_img"><img src="<%= require('../image/welfare/jf_alert.png') %>" alt=""></li>
		<li class="color333">恭喜您抽中<span>388</span>积分！</li>
		<li class="color9e"><span>不要泄气，小奖怡情</span></li>
		<li class="draw_btn"><button>我知道了</button></li>
	</ul>
</div>
</body>
</html>