<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
</head>
<body>
	<%= require('html-loader!./layout/nav2.html') %>
	<div class="main max-width">
		<div class="login_top">
			<span class="fl til">您好，欢迎光临拓道金服</span>
			<span class="fr zc">还没有拓道金服账号？&nbsp;<a href="register.html">立即注册&nbsp;></a></span>
		</div>
		<div class="main_mid">
			<div class="login-logo"></div>
			<div class="all-errinfo">&nbsp;</div>
			<form action="" method="post">
			<div class="user_name">
				<input type="text" class="mobile" id="mobile" placeholder="请输入手机号" onkeyup="this.value=(this.value.match(/\d+(\.\d{0,2})?/)||[''])[0]"><i class="iconfont del">&#xe68b;</i>
			</div>
			<div class="user_password">
				<input type="password" id="pwd" placeholder="请输入登录密码"><i class="iconfont del">&#xe68b;</i>
			</div>
			<div id="slider2" class="slider"></div>
			<input type="submit" value="登录" class="login-btn" disabled>
			</form>
			<a href="setpassword.html" class="foget_psd">忘记密码</a>
		</div>
	</div>
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>