@import '../common/mixin';
@import '../common/layout';
.on{
	color:#ff7400!important;
	border-bottom:2px solid #ff7400;
}
.dis_none{
	display:none;
}
.get_fast{
	background:url(../../image/get_fast.png) no-repeat;
}
.kd{
	background-color: $mainColor!important;
}
.color{
	background-color: #f25d14!important;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
.cash_box{
	overflow:hidden;
	margin: 30px auto 50px auto;
	.main{
		float:left;
		width:940px;
		margin-left:20px;
		background-color: #fff;
		.qs_time{
			height:40px;
			background-color: #f0e8db;
			border-bottom:10px solid #f2f2f2;
			color:#ff7400;
			font-size:14px;
			line-height:40px;
			padding-left:12px;
		}
		.cash_top{
			width:940px;
			height:50px;
			border-bottom:10px solid #f2f2f2;
			ul{
				width:100%;
				height:100%;
				li{
					float:left;
					width:56px;
					height:50px;
					margin-right:29px;
					margin-left:30px;
					line-height:50px;
					text-align:center;
					font-size:14px;
					color:#707070;
					cursor:default;
				}
			}
		}
		.item0{
			height:278px;
			border-bottom:10px solid #f2f2f2;
			text-align:center;
			.logo{
				width:363px;
				height:48px;
				margin:65px auto 15px auto;
			}
			p{
				font-size:14px;
				color:#333333;
			}
			.jh_btn{
				display:block;
				width:340px;
				height:40px;
				background-color: #ff7400;
				color:#fff;
				text-align:center;
				line-height:40px;
				font-size:14px;
				border-radius:20px;
				margin:30px auto;
			}
		}
		.item1{
			.bank_card{
				width: 411px;
				height:37px;
				margin:71px 0 100px 30px;
				position:relative;
				font-size:14px;
				color:#333333;
				font-weight:800;
				.bank_logo{
					width:150px;
					height:37px;
				}
				.wen{
					position:absolute;
					right:-25px;
					top:8px;
					color:#b1b1b1;
					cursor:pointer;
					font-weight:100;
				}
				b{
					display:block;
					width:202px;
					height:45px;
					background: url(../../image/Tips.png) no-repeat;
					position:absolute;
					right:-233px;
					top:8px;
					display:none;
				}
			}
			.zhye{
				margin: 40px 0 0 30px;
				color:#9e9e9e;
				font-size:14px;
				position:relative;
				i{
					color:#b1b1b1;
					cursor:pointer;
				}
				b{
					display:block;
					width:202px;
					height:45px;
					background: url(../../image/Tips2.png) no-repeat;
					position:absolute;
					left:100px;
					top:-2px;
					display:none;
				}
			}
			.number_show{
				margin-left:30px;
				font-size:14px;
				color:#333333;
				.money_number{
					color:#ff7400;
					font-family:'arial';
					font-size:26px;
				}
			}
			.wrongs{
				i{
					font-size:12px;
					margin-left:12px;
				}
				text-align:left;
				color:#e60012;
				font-size:12px;
				z-index:999;
				background-color: #f2f2f2;
				width:340px;
				height:30px;
				line-height:30px;
				margin-left:30px;
			}
			.money{
				position: relative;
				width:340px;
				height:40px;
				margin: 16px 0 10px 30px;
				.money_input1{
					width:328px;
					height: 38px;
					border:1px solid #dddddd;
					outline:none;
					padding-left: 10px;
					border-radius:5px;
				}
				.font{
					position:absolute;
					right:20px;
					top:11px;
					font-size:14px;
					color:#707070;
				}
			}
			.password{
				position: relative;
				width:340px;
				height:40px;
				margin: 16px 0 13px 30px;
				.pass_input{
					width:328px;
					height: 38px;
					border:1px solid #dddddd;
					outline:none;
					padding-left: 10px;
					border-radius:5px;
				}
				.font{
					position:absolute;
					right:14px;
					top:11px;
					a{
						font-size:14px;
						color:#707070;
					}
					a:hover{
						color:#ff7400;
					}
				}
			}
			.sj_money{
				font-size:14px;
				color:#707070;
				margin-left:33px;
				margin-bottom:27px;
				.sjdz{
					margin-right:120px;
				}
				b{
					color:#ff7400;
				}
			}
			.btn{
				width:340px;
				height:40px;
				border-radius:20px;
				background-color: #9e9e9e;
				color:#fff;
				margin-left:30px;
				outline:none;
				border:none;
			}
			.tx_times{
				font-size:14px;
				color:#707070;
				margin:17px 0 68px 126px;
				span{
					color:#ff7400;
				}
			}
			.rule{
				height:393px;
				color:#9e9e9e;
				font-size:14px;
				border-top:10px solid #f2f2f2;
				.ts{
					margin: 30px 0 17px 30px;
				}
				ul{
					margin-left:45px;
					li{
						list-style:disc;
						margin-bottom:5px;
					}
					table{
						width: 428px;
						height:73px;
						text-align:center;
						font-size:14px;
						color:#9e9e9e;
						margin: 15px 0 20px 0;
						td{
							border:1px solid #9e9e9e;
						}
					}
				}
			}
		}
		.item2{
			height:943px;
			table{
				width:100%;
				text-align:left;
				margin-bottom:50px;
				td{
					padding-left:20px;
				}
				th{
					padding-left:20px;
				}
				tbody{
					tr:nth-of-type(odd){
						background-color: #fbfbfb;
					}
				}
				tr{
					height:50px;
					margin-left:30px;
					font-size:14px;
					color:#707070;
					td.bq{
						color:#668bc8;
						padding-right: 20px;
						// text-align:center;
						// padding-left:0;
					}
					th.bq{
						// text-align:center;
						padding-right: 20px;
						// padding-left:0;
					}
				}
			}
			.no_data{
				width:113px;
				height:95px;
				text-align:center;
				margin:200px auto;
				p{
					font-size:14px;
					color:#dddddd;
					margin-top:20px;
				}
			}
		}
	}
}
// 弹窗
.cash_success{
	.cash_main{
		text-align:center;
		.logo{
			margin: 29px auto 15px auto;
		}
		p{
			font-size:16px;
			color:#333333;
			margin-bottom:13px;
			span{
				color:#ff7400;
			}
		}
		.know{
			width: 250px;
			height:40px;
			margin: 18px auto;
			border-radius:20px;
			line-height:40px;
			color:#fff;
			background-color: #ff7400;
			text-align:center;
			font-size:14px;
		}
		.know:hover{
			background-color: #f25d14;
		}
	}
}