@import '../index';
.coupon_menu{
	padding-left: 30px;
	@include height-line(50px);
	border-bottom: 10px solid $bgColor;
	a{
		color: $fontColor333;
		padding-bottom: 14px;
		&.welfare_border{
			color: $mainColor;
			border-bottom: 2px solid $mainColor;
		}
	}
}
.coupon_content{
	padding: 30px 15px 0px 30px;
	.menu_content{
		@extend %clearfix;
		.state_menu{
			float: left;
			width: 250px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background: $bgColor;
			a{
				display: inline-block;
				width: 80px;
				text-align: center;
				color: $fontColor9e;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				padding: 3px 0;
				&.menu_on{
					background: #ff7400;
					color: #ffffff;
				}
			}
		}
		.coupon_link{
			float: right;
			margin-right: 30px;
			padding-top: 5px;
			a{
				color: #ff7400;
			}
		}
	}

	.dyq_ticket{
		padding-top: 40px;
		padding-bottom: 10px;
		@include ticket;
	}
	.dyq_ticket_yes{
		li{
			background: url('../../../image/dyq.png')center no-repeat;
		}
	}
	.dyq_ticket_no{
		li{
			background: url('../../../image/yhq_no.png')center no-repeat;
		}
	}
	.dyq_ticket_guoqi{
		li{
			background: url('../../../image/guoqi.png')center no-repeat;
		}
	}
	.jxq_ticket{
		padding-top: 40px;
		padding-bottom: 10px;
		@include ticket;
		.ticket_top{
			margin-top: 15px;
			font-size: 28px;
		}
	}
	.jxq_ticket_yes{
		li{
			background: url('../../../image/jxq.png')center no-repeat;
		}
	}
	.jxq_ticket_no{
		li{
			background: url('../../../image/yhq_no.png')center no-repeat;
		}
	}
	.jxq_ticket_guoqi{
		li{
			background: url('../../../image/guoqi.png')center no-repeat;
		}
	}
}
.dis_none{
	display: none;
}