@import "../../mixins/mixins.less";

/*
  @remSwitch: true;
  @rootValue: 75;
  @unitPrecision: 4;
  @blackList: ["font", "border"];
  @minPixelValue: 2;
*/

.text {
  margin-top: 26px;
  text-align: center;
  .fs2px(28);
}
