@import '../../common/mixin.scss';
@import '../../common/layout';
.uc_old{
	@include width-max;
	background: #ffffff;
	margin: 30px auto 50px;
	padding-bottom: 50px;
	@extend %clearfix;
}
.uc_old .uc_old_top{height:75px;border-bottom:1px solid #ebebeb;line-height:75px;color:#a3a3a3;font-size:12px;}
.uc_old .uc_old_top a{display:block;width:106px;height:32px;color:#fff;background-color:#ff8a10;float:right;line-height:32px;text-align:center;border-radius: 3px;margin:23px 25px 0 0;}
.uc_old .uc_old_top span{margin-left:25px;}
.uc_old .uc_old_list{height:1010px;overflow: hidden;}
.uc_old .uc_old_list .uc_old_listTop{height:50px;border-bottom:1px solid #ebebeb;line-height:50px;color:#585858;font-size:16px;}
.uc_old .uc_old_list .uc_old_listTop ul{margin-left:65px;}
.uc_old .uc_old_list .uc_old_listTop ul li{float:left;width:85px;margin-right:25px;text-align:center;cursor: pointer;}
.uc_old .uc_old_list .uc_old_listTop ul .on{color:#ff711c;border-bottom:2px solid #ff8a10;height:48px;}
.uc_old .uc_old_list .old_transfer{height:950px;}
.uc_old .uc_old_list .old_Ul{height:50px;border-bottom:1px solid #ebebeb;line-height:50px;color:#585858;font-size:14px;padding-left:845px;cursor: pointer;}
.uc_old .uc_old_list .old_Ul li{float:left;margin-left:38px;}
.uc_old .uc_old_list .old_Ul .on{color:#ff711c;}
.uc_old .uc_old_list .old_Table table{width: 100%;font-size: 14px;margin-bottom:40px;background: #f9f9f9;text-align: center;color: #585858; border-left: 0;position: relative;}
.uc_old .uc_old_list .old_Table table th{font-size:14px;height: 50px;color: #404040;position: relative;border-bottom: 1px solid #ebebeb;}
.uc_old .uc_old_list .old_Table table td{color:#585858;background: #fff;height: 50px;border: 1px solid #ebebeb;border-left: 0;border-top: 0;}
.uc_old .uc_old_list .old_Table table td a{color:#31baf2;}
.uc_old .uc_old_list .old_Table table td a:hover{text-decoration: underline;}


.uc_old .uc_old_list .old_invest{height:950px;display:none;}
.uc_old .uc_old_list .old_record{height:950px;display:none;}
.uc_old .uc_old_list table td{padding:0 20px;}
.uc_old .uc_old_list .old_padding{padding:0;}
.dis_none{
	display: none;
}