// base
$color-primary = #FF7102
$color-assisted = #5887FF
$color-background = #F2F3F7
$color-white = #FFFFFF
$color-appraisal = #FF8F38

// gray
$color-gray1 = #333333
$color-gray2 = #666666
$color-gray3 = #999999
$color-gray4 = #cccccc
$color-gray5 = #e8e8e8
$color-gray6 = #D8D8D8
$color-gray7 = #E0E0E0
$color-gray8 = #626262
$color-gray9 = #B3B3B3
$color-gray10 = #F0F0F7
$color-gray11 = #DDDDDD

// gradient
$gard = linear-gradient(to right, #FFAC00 , #FF7400)
