// font-size
$fontsize-large-xxxxxxxxxx = 82px
$fontsize-large-xxxxxxxxx = 68px
$fontsize-large-xxxxxxxx = 64px
$fontsize-large-xxxxxxx = 52px
$fontsize-large-xxxxxx = 48px
$fontsize-large-xxxxx = 42px
$fontsize-large-xxxx = 40px
$fontsize-large-xxx = 36px
$fontsize-large-xx = 32px
$fontsize-large-x = 30px
$fontsize-medium = 28px
$fontsize-small-s = 26px
$fontsize-small-ss = 24px
$fontsize-small-sss = 22px
$fontsize-small-ssss = 20px
