/* generator by mobi */
/*
  @remSwitch: true;
  @rootValue: 75;
  @unitPrecision: 4;
  @blackList: [];
  @minPixelValue: 2;
*/
/* 导入全局方法 */
@import "../../mixins/mixins.less";
@import "../../mixins/common/color.less";

p {
  line-height: 1;
}
#layout {
  padding-top: 0;
  height: 100% !important;
}
#content {
  height: 100%;
}
// animation
@-webkit-keyframes rotate-circle {
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100%{
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotate-circle {
  0%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100%{
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

section.bind-area {
  .mobile-form{
    width: 4.466667rem *2;
    .center-block();
    position: relative;;
    .field{
      width: 100%;
      height: 1.333333rem;
      border-bottom: 2px solid rgb(213, 213, 213);
      overflow: hidden;
      .invite {
        font-size: 0.18666666666666668rem *2;
        padding-left: 0.08rem;
        height: 0.533333rem;
        line-height: 0.533333rem;
        margin-top: 0.533333rem;
        display: inline-block;
        color: @grey5;
      }
      .label{
        height: 44px;
        width: 44px;
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: cover;
        &.label-phone {
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAKlBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKE86IAAAADXRSTlMAECAwYG9wgK+wv+/w7RON1AAAAG1JREFUOMtjYKAyYF57Fw5uGCBJaN9FAhuRJHKRJa4gSdQiS1xHkbheDgW1aBIXYEzeUYlRCTpI4Eyi5EkUqWOXuI6gUSUuMTDoYpW4iEviGjTLYUjcDhTFsBxn5pRBljiIXADMRYjfNKB28QIAvcMVmvuyv/IAAAAASUVORK5CYII=);
        }
        &.label-checkcode {
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAQlBMVEUAAAAgICAoKCgrKyssLCwqKiopKSkrKyssLCwsLCwrKysrKysrKyssLCwsLCwrKysrKysrKysrKyssLCwsLCwsLCyKvNenAAAAFXRSTlMAECAwQE9QYH+An6Cwv8DP0N/g7/B2PVBDAAAA1klEQVRIx+1W2Q6DIBCsiByKIi78/69WwKYeza40Jo1J58mdzLgHCD4ev0DVtD1A3zbVOb2CsADUCTmzYQXLKH0NYQOoifJd1o3GjPnJ4Y10SdSlQtgSYHoeFV68QuFjzKkE8h1LKkXseFgTQ+ybqEiuGYnXlAybqVS4Ib1vS+EG/TdcbBAuoHBi951BIADsuMY45LF6HPpmhmkeovQFhnQY1ecNJpPmtEEj5DUZ8nbjBU3DPCUBJeugP1L3Mlil7M23N20oPgSYp/R+d8WLCddP/Ns/lyesa1TkLwHQoQAAAABJRU5ErkJggg==);
        }
        .text-star {
          color: @redPink;
          margin-right: 0.06666666666666667rem;
          vertical-align: middle;
        }
      }
      .input{
        font-size: 32px;
        padding-left: 0.08rem;
        height: 0.533333rem;
        line-height: 0.533333rem;
        margin-top: 0.533333rem;
        width: 600px;
      }
      .checkcode{
        .clearfix();
        .checkcode-left{
          width: 3.466667rem *2;
          float: left;
          .input{
            width: 5.6rem;
          }
        }
        .checkcode-right{
          width: 140px;
          float: right;
          .getchk-btn{
            .size(140px, 58px);
            font-size: 24px;
            line-height: 58px;
            color: @black;
            text-align: center;
            border: 2px solid @black;
            margin-top: 0.373333rem;
            overflow: hidden;
          }
          .timer{
            display: none;
            .size(140px, 58px);
            font-size: 24px;
            line-height: 58px;
            color: @grey5;
            text-align: center;
            border: 2px solid @grey5;
            margin-top: 0.373333rem;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
}


section.checkout-info-tip {
  color: rgb(109, 109, 109);
  font-size: 28px;
  text-align: right;
  padding-right: 32px;
  margin-top: 35px;
}

section.bind-phone-btn {
  position: fixed;
  width: 100%;
  height: 120px;
  left: 0;
  bottom: 0;
  line-height: 0.8133333333333334rem *2;
  text-align: center;
  font-size: 0.48rem;
  color: @white;
  background-color: @black;
  &.disable {
    background-color: @grey5;
  }
  &.loading {
    background-color: @redPink;
    &::after {
      content: '';
      width: 0.666667rem;
      height: 0.666667rem;
      position: absolute;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAS1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////+DmQsHAAAAGHRSTlMAZl3MmUJAFQ4a5rmmDQuKjYMM7bwchEOhomOfAAAA70lEQVRIx+2U0Q6DIAxFWbeCiog4p/7/l87REZeKOsLb5nm7JMfQa4P4eR51VdWPJOM+zdxTnHry1AlKRUqVr+RfTA29duU7lDR+iAUCYMeNUl9ntArxVXIwOrjMgGGKu3oGEQEvHsmONSl9TAFSgB33pOgEZSDFxRRJCsbHL2NKQeOvK3O6d0pE6RBAFuIkDwW2BSU2KSSvWdnbjCVn+2d+OnDzwJYi17vckmIpfbWYlpT2UEm/WMb4VHJ7UPJf7LIZAbBZcoMAo9kzGvYuGsrhGzvvIkby0WLwnKnkX4yP27B3khNKRbNkg770kzye8mYLEERgadMAAAAASUVORK5CYII=) no-repeat;
      background-size: contain;
      left: 50%;
      top: 50%;
      margin-top: -0.333333rem;
      margin-left: 0.633333rem;
      animation: 'rotate-circle' 0.8s linear infinite normal both;
      -webkit-animation: 'rotate-circle' 0.8s linear infinite normal both;
    }
  }
  &.finish {
    background-color: @redPink;
  }
}
section.tips {
  width: 100%;
  padding: 74px 40px;
  color: @redPink;
  font-size: 28px;
  position: absolute;
  left: 0;
  bottom: 130px;
}

section.checkout-info {
  width: 100%;
  padding: 0 30px;
  border-top: 1px solid rgb(233, 233, 233);
  .info-list {
    margin: 40px 0;
    color: rgb(57, 56, 54);
    font-size: 28px;
    line-height: 36px;
    text-align: left;
  }
}

section.unbind-tips {
  margin-top: 96px;
  font-size: 28px;
  color: rgb(57, 56, 54);
  padding: 0 40px;
  display: none;
  &.active {
    display: block;
  }
  .unbind-tips-list {
    line-height: 48px;
    margin-bottom: 80px;
    text-indent: 2em;
  }
}

.kefu-icon {
  width: 38px;
  height: 38px;
  .webpbg('//cdn1.showjoy.com/images/8b/8bad1d96b404463b9412828a82fd508f.png.48x48.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: sub;
  margin-right: 14px;
}