@import '../index';
// 积分抽奖
.main{
	font-size: 14px;
	margin-bottom: 50px;
	.draw_nav{
		height: 220px;
		background: url('../../../image/welfare/draw_bg.jpg')center no-repeat;
	}
	.draw_record{
		@include height-line(52px);
		@include width-max;
		text-align: right;
		a{
			color: $mainColor;
		}
	}
	.draw_menu{
		font-size: $fontSize16;
		height: 60px;
		line-height: 67px;
		@include padding_border;
		a{
			color: $fontColor333;
			padding-bottom: 14px;
			&.on{
				color: $mainColor;
				border-bottom: 2px solid $mainColor;
			}
		}
	}
	.content{
		@include width-max;
		background: #ffffff;
		padding-bottom: 50px;
		.draw_title{
			margin: 40px 0 30px 0;
			font-size: 20px;
			font-weight: bold;
			color:#ffffff;
			text-align: center;
			span{
				background: #FF9F6F;
				display: inline-block;
				vertical-align: middle;
				&.title{
					width: 350px;
					@include height-line(50px);
					-webkit-border-radius: 50px;
					-moz-border-radius: 50px;
					border-radius: 50px;
				}
			}
			.circle1{
				width: 10px;
				height: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			}
			.circle2{
				width: 20px;
				height: 20px;
				-webkit-border-radius: 15px;
				-moz-border-radius: 15px;
				border-radius: 15px;
				margin: 0 30px;
			}
		}
		.draw_presents{
			width: 747px;
			height: 727px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			background: #f9e6bb;
			margin: 0 auto;
			margin-bottom: 30px;
			padding: 30px 0px 30px 30px;
			@extend %clearfix;
			li{
				float: left;
				margin-right: 22px;
				margin-bottom: 17px;
				text-align: center;
				width: 225px;
				height: 220px;
				-webkit-border-radius: 16px;
				-moz-border-radius: 16px;
				border-radius: 16px;
				-webkit-box-shadow: 0 0 10px rgba(255,119,0,0.3);
				-moz-box-shadow: 0 0 10px rgba(255,119,0,0.3);
				box-shadow: 0 0 10px rgba(255,119,0,0.3);
				background: url('../../../image/welfare/presents_bg.png') no-repeat;
				&.active{
				    -webkit-box-shadow: 0 0 40px rgba(255,119,0,1);
				    -moz-box-shadow: 0 0 40px rgba(255,119,0,1);
				    box-shadow: 0 0 40px rgba(255,119,0,1);
				}
				.presents_content{
					height: 160px;
					line-height: 270px;
				}
				.points_content{
					height: 160px;
					line-height: 300px;
				}
				p{
					font-size: 30px;
					color: #FE917B;
				}
				&.fifth_child{
					height: 225px;
					margin-bottom: 12px;
					background: url('../../../image/welfare/draw_go.png') no-repeat;
					cursor: pointer;
					.go_word{
						font-size:24px;
						color:#fff;
						padding-top: 135px;
					}
					.none_points a{
						font-size: 20px;
						font-weight: bold;
						margin-top: 50px;
						color: #FF3049;
						display: none;
					}
				}
				/* &.back_normal{
					background: url('../../../image/welfare/presents_bg.png') no-repeat;
				} */
				&.back_yes{
					background: url('../../../image/welfare/presents_yes.png') no-repeat;
				}
				&.back_go{
					background: url('../../../image/welfare/draw_go.png') no-repeat;
				}
				&.back_go_yes{
					background: url('../../../image/welfare/draw_go_yes.png') no-repeat;
				}
			}
		}
		.draw_points li p{
			color: #B08C54;
		}
		.draw_order{
			padding-left: 50px;
			.order_word{
				font-size: $fontSize16;
				color: $fontColor333;
				padding-bottom: 25px;
			}
			dl {
				@include circle;
				dt{
					padding-bottom: 5px;
				}
			}
		}
	}
}
// 抽奖记录弹窗
.draw_record_alert{
	font-size: 14px;
	padding-bottom: 30px;
	.out{
		padding: 0 26px;
		div.pageList{
			padding-top: 20px;
			margin-bottom: 0px;
		}
	}
	.record_top{
		padding: 15px 0;
		color: $mainColor;
		text-align: center;
	}
	table{
		border-collapse: collapse;
		text-align: left;
		width: 100%;
		tr{
			th{
				font-weight: bold;
				color: #707070;
				padding-left: 5%;
				@include height-line(50px);
			}
			td{
				color: #9e9e9e;
				padding-left: 5%;
				@include height-line(50px);
			}
		}
	}
	.record_none{
		padding: 130px 0;
		text-align: center;
		color: #ccc;
	}
}
.dis_none{
	display: none;
}
// 中奖iphone，tv，牙刷弹窗
.draw_presents_alert{
	.presents_content{
		@extend %clearfix;
		padding:0 50px;
		.present_img,.draw_explian{
			float: left;
			padding-top: 20px;
		}
		.present_img {
			width: 180px;
			text-align: center;
			span{
				font-size: 14px;
				color: #9e9e9e;
				padding-top: 10px;
			}
		}
		.draw_explian{
			width: 200px;
			padding: 45px 0 0 60px;
			li{
				margin-bottom: 18px;
				color: #333333;
				font-size: 14px;
			}
		}
	}
	.draw_btn{
		text-align: center;
		padding-top: 50px;
		button{
			width: 250px;
			@include height-line(40px);
			color: #ffffff;
			background: $mainColor;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
			outline: none;
			border: none;
			cursor: pointer;
		}
	}
}
// 中奖红包，加息券弹窗
.draw_hongbao_alert{
	.hongbao_content{
		padding-top: 30px;
		li{
			text-align: center;
			margin-bottom: 20px;
		}
		.color333{
			color: #333333;
			font-size: 16px;
		}
		.color9e{
			font-size: 14px;
			color: #9e9e9e;
			i{
				color: $mainColor;
			}
		}
		.draw_btn{
			text-align: center;
			button{
				width: 250px;
				@include height-line(40px);
				color: #ffffff;
				background: $mainColor;
				-webkit-border-radius: 25px;
				-moz-border-radius: 25px;
				border-radius: 25px;
				outline: none;
				border: none;
				cursor: pointer;
			}
		}
	}
}
// 中奖积分弹窗
.draw_points_alert{
	.points_content{
		padding-top: 30px;
		li{
			text-align: center;
			margin-bottom: 20px;
		}
		.color333{
			color: #333333;
			font-size: 16px;
		}
		.color9e{
			font-size: 14px;
			color: #9e9e9e;
			i{
				color: $mainColor;
			}
		}
		.draw_btn{
			text-align: center;
			button{
				width: 250px;
				@include height-line(40px);
				color: #ffffff;
				background: $mainColor;
				-webkit-border-radius: 25px;
				-moz-border-radius: 25px;
				border-radius: 25px;
				outline: none;
				border: none;
				cursor: pointer;
			}
		}
	}
}