@import '../../common/mixin.scss';
@import '../../common/layout';
.member_top{
	width: 100%;
	height: 570px;
	background: url(../../../image/memberCenter_bg.png)center no-repeat;
	position: relative;
	z-index: 1;
	div{
		margin: 0 auto;
		text-align: center;
		}
	.login{
		padding-top: 110px;
		height: 240px;
		.person{
			width: 100px;
			@include height-line(100px);
			color: #ffffff;
			background: #f49055;
			margin-bottom: 26px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			border-radius: 50px;
			border:1px solid #ffffff;
			font-size: 18px;
			cursor: pointer;
		}
		.title{
			font-size: 16px;
			color: #f4d9cb;
		}
		.name{
			color: #ffffff;
			font-size: 16px;
			padding-bottom: 10px;
		}
	}
	.lev{
		text-align: center;
		position: relative;
		width: 1000px;
		height: 40px;
		.lev_span span{
			color: #f49055;
			font-size: 30px;
			margin-right: 100px;
			border: 1px solid #f49055;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
			cursor: pointer;
		}
		.lev_hr hr{
			display: inline-block;
			width: 105px;
			height: 2px;
			background: #f49055;
			position: absolute;
			top: 23px;
			border: none;
		}
	}
}
.dis_none{
	display: none;
}
.le_bor{
	padding-left: 15px;
	@include height-line(50px);
	color: #333333;
	font-size: 16px;
	border-bottom: 1px solid $bgColor;
}
.hover{
	position: relative;
	z-index: 1000;
	overflow: visible;
	width: 1000px;
	margin: 0 auto;
}
.mouseover{
	position: absolute;
	top: -150px;
    left: -76px;
	font-size: 14px;
	text-align: center;
	color: #9e9e9e;
	background: #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 0px;
	box-shadow: 0 5px 5px #f2f2f2;
	display: none;
	.jiantou{
 		width: 100%;
		height: 14px;
		position: absolute;
		top: -15px;
		text-align: center;
		span{
			display: inline-block;
			width: 0;
		    height: 0;
		    border-left: 10px solid transparent;
		   	border-right: 10px solid transparent;
		   	border-bottom: 10px solid #ffffff;
		}
	}
	.mouse_top{
		padding: 5px 0;
	}
	ul{
		@extend %clearfix;
		li{
			float: left;
			width: 110px;
			div{
				line-height: 20px;
				height: 60px;
				padding-bottom: 5px;
				/* height: 75px;
				line-height: 18px; */
				&.font{
					font-size:44px;
					font-weight:bold;
					line-height: 60px;
				}
			}
			i{
				color: #9e9e9e;
			}
		}
	}
}
.member_content{
	position: relative;
	top: -111px;
	z-index: 10;
	@include width-max;
	background: #ffffff;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	.title_content{
		padding: 80px 106px 60px 107px;
		border-bottom: 40px solid $bgColor;
		.title_ul{
			padding-bottom: 83px;
			@extend %clearfix;
			li{
				float: left;
				width: 160px;
				margin-right: 109px;
				text-align: center;
				i{
					display: inline-block;
					font-size: 16px;
					color: #ff7400;
					padding:20px 0 20px 0;
				}
				span{
					display: inline-block;
					font-size: 14px;
					color: #9e9e9e;
					padding-bottom: 5px;
				}
			}
		}
		.explain{
			table{
				border-collapse: collapse;
				background: #f8f8f8;
				text-align: center;
				tr{
					td{
					border: 1px solid #ffffff;
					width: 120px;
					color: #707070;
					font-size: 14px;
					}
					&.success span{
						font-size: 18px;
						color: #57B766;
					}
					span{
						display: block;
						line-height: 20px;
					}
				}
			}
		}
	}
	.grow{
		padding-bottom: 30px;
		border-bottom: 40px solid $bgColor;
		position: relative;
		#myChart{
			width: 900px;
			height: 600px;
			margin: 0 auto;
		}
		i{
			font-size: 14px;
			color: $mainColor;
			font-weight: bold;
			position: absolute;
		}
		.bottom{
			width: 900px;
			font-size: 14px;
			color: #9e9e9e;
			position: absolute;
			left: 137px;
			bottom: 40px;
			span{
				display: inline-block;
				font-size: 40px;
				color: #C7A16A;
				padding-right:59px;
			}
		}
	}
	.member_order{
		.left{
			padding-left: 50px;
			.le_pad{
				padding: 32px 0 25px 0;
				font-size: 16px;
				color: #333333;
				font-size: 16px;
			}
			dl dt{
				padding-bottom: 12px;
				font-size: 14px;
				color: #9e9e9e;
				i{
					display: inline-block;
					width: 5px;
					height: 5px;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					background: #9e9e9e;
					margin-bottom: 2px;
					margin-right: 15px;
				}
			}
		}
	}
}